<section class="about">
  <div class="container">
    <div class="group">
      <div class="content">
        <h2 class="heading">About Us</h2>
        <p class="sub-h">
          Our company specializes in electrical wiring and repair. We carry out
          any projects with our hearts and are not afraid of difficulties.
        </p>
        <p>
          Our team has been developing over the years. Today it includes only
          highly qualified specialists with experience and their own best
          practices. We boldly look into the future and confidently master new
          technologies, we always offer our customers different options and
          solutions. It’s convenient and comfortable with us!
        </p>
        <div class="content-group">
          <div class="item">
            <span>15 +</span>
            <p class="item-h">Years of experience</p>
          </div>

          <div class="item">
            <span>28 +</span>
            <p class="item-h">Years of experience</p>
          </div>

          <div class="item">
            <span>19 +</span>
            <p class="item-h">Years of experience</p>
          </div>
        </div>
      </div>

      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1697642976314-97afaacb0e80?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDV8aG1lbnZRaFVteE18fGVufDB8fHx8fA%3D%3D"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
