<section class="services">
  <div class="container">
    <h2 class="heading">How we can help?</h2>
    <div class="group">
      <div class="item">
        <p class="services">Electrical Services</p>
      </div>
      <div class="item">
        <div class="card">
          <div class="front">
            <i class="fa-solid fa-bong"></i>
            <p class="item-h">Elimination of a short circuit in house</p>
            <p class="price">from $ 9</p>
            <p class="count">01</p>
          </div>
          <div class="back">
            <p class="item-h-2">Elimination of a short circuit in house</p>
            <p>
              Short circuit in the wiring, closing the luminaire, closing
              switches.
            </p>
            <button class="cs-button-solid">Order Now</button>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="card">
          <div class="front">
            <i class="fa-solid fa-bong"></i>
            <p class="item-h">Elimination of a short circuit in house</p>
            <p class="price">from $ 9</p>
            <p class="count">01</p>
          </div>
          <div class="back">
            <p class="item-h-2">Elimination of a short circuit in house</p>
            <p>
              Short circuit in the wiring, closing the luminaire, closing
              switches.
            </p>
            <button class="cs-button-solid">Order Now</button>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="card">
          <div class="front">
            <i class="fa-solid fa-bong"></i>
            <p class="item-h">Elimination of a short circuit in house</p>
            <p class="price">from $ 9</p>
            <p class="count">01</p>
          </div>
          <div class="back">
            <p class="item-h-2">Elimination of a short circuit in house</p>
            <p>
              Short circuit in the wiring, closing the luminaire, closing
              switches.
            </p>
            <button class="cs-button-solid">Order Now</button>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="card">
          <div class="front">
            <i class="fa-solid fa-bong"></i>
            <p class="item-h">Elimination of a short circuit in house</p>
            <p class="price">from $ 9</p>
            <p class="count">01</p>
          </div>
          <div class="back">
            <p class="item-h-2">Elimination of a short circuit in house</p>
            <p>
              Short circuit in the wiring, closing the luminaire, closing
              switches.
            </p>
            <button class="cs-button-solid">Order Now</button>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="card">
          <div class="front">
            <i class="fa-solid fa-bong"></i>
            <p class="item-h">Elimination of a short circuit in house</p>
            <p class="price">from $ 9</p>
            <p class="count">01</p>
          </div>
          <div class="back">
            <p class="item-h-2">Elimination of a short circuit in house</p>
            <p>
              Short circuit in the wiring, closing the luminaire, closing
              switches.
            </p>
            <button class="cs-button-solid">Order Now</button>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
