<section class="projects">
  <div class="container">
    <h2 class="heading">Projects</h2>
    <div class="group">
      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1544724569-5f546fd6f2b5?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHdpcmVzfGVufDB8fDB8fHww"
          alt=""
        />
      </div>
      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1544724569-5f546fd6f2b5?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHdpcmVzfGVufDB8fDB8fHww"
          alt=""
        />
      </div>
      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1544724569-5f546fd6f2b5?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHdpcmVzfGVufDB8fDB8fHww"
          alt=""
        />
      </div>
      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1544724569-5f546fd6f2b5?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHdpcmVzfGVufDB8fDB8fHww"
          alt=""
        />
      </div>
      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1544724569-5f546fd6f2b5?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHdpcmVzfGVufDB8fDB8fHww"
          alt=""
        />
      </div>
      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1544724569-5f546fd6f2b5?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHdpcmVzfGVufDB8fDB8fHww"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
