<section class="reviews">
  <div class="container">
    <h2 class="heading">Reviews</h2>
    <div class="group">
          <div class="item">
            <span>
              <i class="fa-solid fa-quote-left"></i>
            </span>
            <h4>Love the simplicity</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
              harum, maxime perspiciatis ut magnam tempora amet enim aperiam.
              Velit vel assumenda architecto facere distinctio excepturi
              expedita eaque corrupti laudantium itaque.
            </p>
            <img
              src="https://images.unsplash.com/photo-1517070208541-6ddc4d3efbcb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzh8fHByb2ZpbGV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
              alt=""
            />
            <h5>Allan Collins</h5>
            <h6>Managing Director</h6>
          </div>

          <div class="item">
            <span>
              <i class="fa-solid fa-quote-left"></i>
            </span>
            <h4>Love the simplicity</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
              harum, maxime perspiciatis ut magnam tempora amet enim aperiam.
              Velit vel assumenda architecto facere distinctio excepturi
              expedita eaque corrupti laudantium itaque.
            </p>
            <img
              src="https://images.unsplash.com/photo-1517070208541-6ddc4d3efbcb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzh8fHByb2ZpbGV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
              alt=""
            />
            <h5>Allan Collins</h5>
            <h6>Managing Director</h6>
          </div>

          <div class="item">
            <span>
              <i class="fa-solid fa-quote-left"></i>
            </span>
            <h4>Love the simplicity</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
              harum, maxime perspiciatis ut magnam tempora amet enim aperiam.
              Velit vel assumenda architecto facere distinctio excepturi
              expedita eaque corrupti laudantium itaque.
            </p>
            <img
              src="https://images.unsplash.com/photo-1517070208541-6ddc4d3efbcb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzh8fHByb2ZpbGV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
              alt=""
            />
            <h5>Allan Collins</h5>
            <h6>Managing Director</h6>
          </div>
        </div>
      </div>
  </div>
</section>