<section id="hero">
  <!-- <div class="bg-img">
    <img
      src="https://images.unsplash.com/photo-1584961460402-35d7db36edd4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGZhdWNldHxlbnwwfDB8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
      alt=""
    />
  </div> -->
  <div class="container">
    <div class="group">
      <div class="content">
        <h1 class="main-h">Your Go To For Plumbing</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
          ratione accusantium minus voluptates nisi vitae. Quasi distinctio
          nulla ipsum mollitia aliquid enim!
        </p>
        <button class="cs-button-solid">Contact Us</button>
      </div>
      <div class="img-container">
        <picture>
          <source
            media="(min-width:650px)"
            srcset="../../../assets/images/index/hero-img.webp"
          />
          <source
            media="(max-width:650px)"
            srcset="../../../assets/images/index/hero-img-sm.webp"
          />
          <img
            src="../../../assets/images/index/hero-img.webp"
            alt=""
            loading="eager"
            decoding="async"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
