<section class="testimonials">
  <div class="img-container"></div>
  <div class="container">
    <div class="group">
      <div class="content">
        <h3 class="sub-h">Testimonials</h3>
        <h2 class="heading">What They're Talking About Company?</h2>
        <div class="content-group">
          <div class="item">
            <i class="fa-solid fa-quote-left"></i>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Doloremque, officia doloribus! Assumenda amet voluptate minima,
              alias dolor itaque consequuntur nemo expedita qui odit distinctio
              aperiam iure in maxime ducimus ipsam.
            </p>
          </div>
        </div>
      </div>
      <form class="form">
        <h2>Get a free quote</h2>
        <p>Or call one of our customer service experts</p>
        <input type="text" placeholder="Your Name" />
        <input type="text" placeholder="Phone Number" />
        <input type="email" placeholder="Email Address" />
        <select name="service" id="">
          <option value="">Option 1</option>
          <option value="">Option 2</option>
          <option value="">Option 3</option>
          <option value="">Option 4</option>
          <option value="">Option 5</option>
        </select>
        <textarea type="text" placeholder="Message"> </textarea>
        <button class="cs-button-solid">Free Estimate</button>
      </form>
    </div>
  </div>
</section>
