<section class="trusted">
  <div class="img-container">
    <div class="overlay"></div>
    <img
      src="../../../assets/images/index/banner-bg.webp"
      alt=""
      loading="lazy"
      decoding="async"
    />
  </div>
  <div class="container">
    <h3 class="sub-h">We value your life</h3>
    <h2 class="heading">The Go To Plumbers of California</h2>
    <div class="group">
      <div class="item">
        <i class="fa-solid fa-toolbox"></i>
        <p class="item-h">7088+</p>
        <p>Projects Completed</p>
      </div>

      <div class="item">
        <i class="fa-solid fa-toolbox"></i>
        <p class="item-h">7088+</p>
        <p>Projects Completed</p>
      </div>

      <div class="item">
        <i class="fa-solid fa-toolbox"></i>
        <p class="item-h">7088+</p>
        <p>Projects Completed</p>
      </div>

      <div class="item">
        <i class="fa-solid fa-toolbox"></i>
        <p class="item-h">7088+</p>
        <p>Projects Completed</p>
      </div>
    </div>
    <button class="cs-button-solid">Get In Touch</button>
  </div>
</section>
