<section class="values">
  <div class="container">
    <div class="group">
      <div class="img-container">
        <img
          src="../../../assets/images/index/values.webp"
          alt=""
          loading="lazy"
          decoding="async"
        />
      </div>
      <div class="content">
        <h3 class="sub-h">Our Values</h3>
        <h2 class="heading">Our Core Values & Expertises In Our Limit</h2>
        <p>
          Collaboratively administrate empowered markets via plug-and-play
          networks.Dynamically procrastinate B2C users after installed.
        </p>
        <div class="content-group">
          <div class="item">
            <i class="fa-solid fa-toolbox"></i>
            <p class="item-h">Experience AC Service Engineers</p>
            <p>
              Our technicians protection simply works better than any other
              product on the market and is the result
            </p>
          </div>

          <div class="item">
            <i class="fa-solid fa-toolbox"></i>
            <p class="item-h">Experience AC Service Engineers</p>
            <p>
              Our technicians protection simply works better than any other
              product on the market and is the result
            </p>
          </div>

          <div class="item">
            <i class="fa-solid fa-toolbox"></i>
            <p class="item-h">Experience AC Service Engineers</p>
            <p>
              Our technicians protection simply works better than any other
              product on the market and is the result
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
