<section class="welcome">
  <div class="container">
    <div class="group">
      <div class="content">
        <h3 class="sub-h">Welcome</h3>
        <h2 class="heading">
          Air Conditioning Repair, Heating Repair & Installation Services in
          Your Locality
        </h2>
        <p>
          Bring to the table win-win survival strategies to ensure proactive
          domination. At the end of the day, going forward, a new normal that
          has evolved from generation X is on the runway heading towards a
          streamlined cloud solution. User generated content in real-time will
          have multiple. Capitalize on low hanging fruit to identify a ballpark
          value added activity to beta test.
        </p>
        <div class="content-group">
          
        </div>
      </div>
      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1631755544909-338697660f5b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Z2FzJTIwbWV0ZXJ8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
          alt=""
          decoding="async"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
