<section class="why-choose-us">
  <div class="container">
    <div class="group">
      <div class="img-container">
        <picture>
          <source
            media=""
            srcset="https://images.unsplash.com/photo-1605313294941-ea43850d9de5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8cGlwZXMlMjBwbHVtYmluZ3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60"
          />
          <source media="(min-width:465px)" srcset="https://images.unsplash.com/photo-1605313294941-ea43850d9de5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8cGlwZXMlMjBwbHVtYmluZ3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60">
          <img src="" alt="" loading="lazy" decoding="async" />
        </picture>
      </div>
      <div class="content">
        <h3 class="sub-h">Why Choose Us</h3>
        <h2 class="heading">Assured Air Conditioner Services</h2>
        <p>
          Extensive Contractor Services: At Samm’s, we expect to continue our
          relationship long after your new equipment is installed. Our ongoing
          services are designed to keep your unit operating at peak efficiency
          without disruptive breakdowns.
        </p>
        <div class="content-group">
          <div class="item">
            <i class="fa-solid fa-check"></i>
            <p class="item-h">Transparent Pricing</p>
          </div>
          <div class="item">
            <i class="fa-solid fa-check"></i>
            <p class="item-h">Safety Compliance</p>
          </div>
          <div class="item">
            <i class="fa-solid fa-check"></i>
            <p class="item-h">24/7 Availability</p>
          </div>
          <div class="item">
            <i class="fa-solid fa-check"></i>
            <p class="item-h">Prompt Response</p>
          </div>
          <div class="item">
            <i class="fa-solid fa-check"></i>
            <p class="item-h">Experience and Expertise</p>
          </div>
          <div class="item">
            <i class="fa-solid fa-check"></i>
            <p class="item-h">Environmentally Conscious</p>
          </div>
          <div class="item">
            <i class="fa-solid fa-check"></i>
            <p class="item-h">Licensed and Insured</p>
          </div>
          <div class="item">
            <i class="fa-solid fa-check"></i>
            <p class="item-h">Warranty</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
