<section class="why-choose-us">
  <div class="container">
    <div class="group">
      <div class="img-container">
        <picture>
          <source
            media=""
            srcset="../../../assets/images/index/why-choose-us.webp"
          />
          <source media="(min-width:465px)" srcset="img_white_flower.jpg">
          <img src="" alt="" loading="lazy" decoding="async" />
        </picture>
      </div>
      <div class="content">
        <h3 class="sub-h">Why Choose Us</h3>
        <h2 class="heading">Assured Air Conditioner Services</h2>
        <p>
          Extensive Contractor Services: At Samm’s, we expect to continue our
          relationship long after your new equipment is installed. Our ongoing
          services are designed to keep your unit operating at peak efficiency
          without disruptive breakdowns.
        </p>
        <div class="content-group">
          <div class="item">
            <i class="fa-solid fa-check"></i>
            <p class="item-h">Air Conditioning Service</p>
          </div>
          <div class="item">
            <i class="fa-solid fa-check"></i>
            <p class="item-h">Air Conditioning Maintenance</p>
          </div>
          <div class="item">
            <i class="fa-solid fa-check"></i>
            <p class="item-h">Heating Service</p>
          </div>
          <div class="item">
            <i class="fa-solid fa-check"></i>
            <p class="item-h">Heating Maintenance</p>
          </div>
          <div class="item">
            <i class="fa-solid fa-check"></i>
            <p class="item-h">Heating Replacement</p>
          </div>
          <div class="item">
            <i class="fa-solid fa-check"></i>
            <p class="item-h">Heating Installation</p>
          </div>
          <div class="item">
            <i class="fa-solid fa-check"></i>
            <p class="item-h">HVAC repair 7 emergency service</p>
          </div>
          <div class="item">
            <i class="fa-solid fa-check"></i>
            <p class="item-h">Air Conditioning Service</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
