<section class="about">
  <div class="container group">
    <div class="img-container">
      <img
        src="https://assets-global.website-files.com/649af44cc894b19720c0cd2c/64a46d09b0145f1f906bc4fb_we%27re-been-working-in-the-industry-20-years-handyman-x-webflow-template-p-800.jpg"
        alt=""
      />
    </div>
    <div class="content">
      <h3 class="sub-h">About Us</h3>
      <h2 class="heading">We’ve been working in the industry for 20 years</h2>
      <p>
        Tempor tristique diam id semper tellus. Est aliquam sit est ac. Felis
        diam nunc nibh blandit risus. Hendrerit sed consectetur quis leo
        praesent scelerisque integer amet. Sit fermentum.
      </p>
      <p>
        Tempor tristique diam id semper tellus. Est aliquam sit est ac. Felis
        diam nunc nibh blandit risus. Hendrerit sed consectetur quis leo
        praesent scelerisque integer amet. Sit fermentum.
      </p>
      <a href="/about" class="cs-button-solid">About Us</a>
    </div>
  </div>
</section>
