<section class="services">
  <div class="container">
    <span class="sub-h">Our Services</span>
    <h2 class="heading">Section Title</h2>
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita
      consectetur aliquid dolor facere quibusdam laborum voluptas optio
      veritatis? Voluptate molestiae ab omnis id praesentium at culpa cum
      tempore similique labore.
    </p>
    <div class="group">
      <div class="item">
        <img
          src="https://images.unsplash.com/photo-1618220179428-22790b461013?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bGl2aW5nJTIwcm9vbXxlbnwwfHwwfHx8MA%3D%3D"
          alt=""
          aria-hidden="true"
        />
        <div class="circle">
          <img src="./roller-svgrepo-com.svg" alt="" aria-hidden="true" />
        </div>
        <p class="item-h">Interior Painting</p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut
          temporibus, mollitia id a dolores fugit accusantium amet odit.
          Voluptatum ipsa non iste.
        </p>
      </div>

      <div class="item">
        <img
          src="https://images.unsplash.com/photo-1618220179428-22790b461013?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bGl2aW5nJTIwcm9vbXxlbnwwfHwwfHx8MA%3D%3D"
          alt=""
          aria-hidden="true"
        />
        <div class="circle">
          <img src="./roller-svgrepo-com.svg" alt="" aria-hidden="true" />
        </div>
        <p class="item-h">Interior Painting</p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut
          temporibus, mollitia id a dolores fugit accusantium amet odit.
          Voluptatum ipsa non iste.
        </p>
      </div>

      <div class="item">
        <img
          src="https://images.unsplash.com/photo-1618220179428-22790b461013?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bGl2aW5nJTIwcm9vbXxlbnwwfHwwfHx8MA%3D%3D"
          alt=""
          aria-hidden="true"
        />
        <div class="circle">
          <img src="./roller-svgrepo-com.svg" alt="" aria-hidden="true" />
        </div>
        <p class="item-h">Interior Painting</p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut
          temporibus, mollitia id a dolores fugit accusantium amet odit.
          Voluptatum ipsa non iste.
        </p>
      </div>

      <div class="item">
        <img
          src="https://images.unsplash.com/photo-1618220179428-22790b461013?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bGl2aW5nJTIwcm9vbXxlbnwwfHwwfHx8MA%3D%3D"
          alt=""
          aria-hidden="true"
        />
        <div class="circle">
          <img src="./roller-svgrepo-com.svg" alt="" aria-hidden="true" />
        </div>
        <p class="item-h">Interior Painting</p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut
          temporibus, mollitia id a dolores fugit accusantium amet odit.
          Voluptatum ipsa non iste.
        </p>
      </div>

      <div class="item">
        <img
          src="https://images.unsplash.com/photo-1618220179428-22790b461013?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bGl2aW5nJTIwcm9vbXxlbnwwfHwwfHx8MA%3D%3D"
          alt=""
          aria-hidden="true"
        />
        <div class="circle">
          <img src="./roller-svgrepo-com.svg" alt="" aria-hidden="true" />
        </div>
        <p class="item-h">Interior Painting</p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut
          temporibus, mollitia id a dolores fugit accusantium amet odit.
          Voluptatum ipsa non iste.
        </p>
      </div>

      <div class="item">
        <img
          src="https://images.unsplash.com/photo-1618220179428-22790b461013?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bGl2aW5nJTIwcm9vbXxlbnwwfHwwfHx8MA%3D%3D"
          alt=""
          aria-hidden="true"
        />
        <div class="circle">
          <img src="./roller-svgrepo-com.svg" alt="" aria-hidden="true" />
        </div>
        <p class="item-h">Interior Painting</p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut
          temporibus, mollitia id a dolores fugit accusantium amet odit.
          Voluptatum ipsa non iste.
        </p>
      </div>
      
      <a href="/home" class="cs-button-solid">More Info</a>
    </div>
  </div>
</section>
