<section class="why-us">
  <div class="container group">
    <div class="content">
      <h3 class="sub-h">Who We Are</h3>
      <h2 class="heading">Professional Handyman services at your doorstep</h2>
      
      <div class="content-group">
        <div class="item">
          <i class="fa-solid fa-screwdriver-wrench"></i>
          <p class="item-h">Fix and Repair Services</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="item">
          <i class="fa-solid fa-screwdriver-wrench"></i>
          <p class="item-h">Fix and Repair Services</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="item">
          <i class="fa-solid fa-screwdriver-wrench"></i>
          <p class="item-h">Fix and Repair Services</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <a href="/contact" class="cs-button-solid">Get quote</a>
    </div>
    <div class="img-container">
      <img
        src="https://assets-global.website-files.com/649af44cc894b19720c0cd2c/64a46d09e8d8f915b739184a_we%27re-a-professional-team-handyman-x-webflow-template-p-800.jpg"
        alt=""
      />
    </div>
  </div>
</section>
