<section id="blue-banner">
  <div class="container">
    <h3 class="heading">We Are Provide Always Different From Other Services.</h3>
    <div class="stat">
      <span class="large secondary">89K</span>
      <div class="col">
        <span
          ><i class="fa-solid fa-star secondary"></i>
          <i class="fa-solid fa-star secondary"></i>
          <i class="fa-solid fa-star secondary"></i>
          <i class="fa-solid fa-star secondary"></i>
          <i class="fa-solid fa-star dark-primary"></i
        ></span>
        <p>Customer Review</p>
      </div>
    </div>
    <div class="group">
      <div class="item">
        <i class="fa-solid fa-user-nurse"></i>
        <span>250</span>
        <p>Running Project</p>
      </div>

      <div class="item">
        <i class="fa-solid fa-user-nurse"></i>
        <span>85+</span>
        <p>Team Member</p>
      </div>

      <div class="item">
        <i class="fa-solid fa-user-nurse"></i>
        <span>39K</span>
        <p>Happy Clients</p>
      </div>

      <div class="item">
        <i class="fa-solid fa-user-nurse"></i>
        <span>45</span>
        <p>Awards Winning</p>
      </div>
    </div>
  </div>
</section>
