<section id="hero">
  <div class="container">
    <div class="content">
      <span class="primary"> ::Highly Trained Staff </span>
      <h1>Ready To <span class="primary">Help</span> You.</h1>
      <p>
        We are certified company. We provide best plumbing <br />services for
        you & your company .
      </p>
      <button class="cs-button-solid">Free Consultation</button>
    </div>
    <div class="img-container">
      <img src="../../../assets/images/hero.png" alt="" />
    </div>
  </div>
</section>
