<section id="hero">
  <div class="img-container">
    <img src="https://media.istockphoto.com/id/1345670547/photo/plumber-installing-a-faucet-in-a-bathrooms-sink.jpg?s=612x612&w=0&k=20&c=K_NwIYGq3sLBVjz8iEr_9Qwy4B8rilJStS8gqkW2L-Q=" alt="">
  </div>
  <div class="container">
    <div class="content">
      <span class=" welcome"> Welcome To Your One Stop Shop For All Things Plumbing </span>
      <h1 class="main-h">Ready To <span class="">Help</span> You.</h1>
      <p class="sub-main-h">
        We are certified company. We provide best plumbing <br />services for
        you.
      </p>
      <button class="cs-button-solid">Free Consultation</button>
    </div>
  </div>
</section>
