<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1426">
  <div class="cs-container container">
    <div class="cs-content">
      <span class="cs-topper"> The Plumbing Service You Can Count On</span>
      <h1 class="cs-title">Plumco Plumbing Services</h1>
      <p class="cs-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolore
        aut quisquam omnis earum reprehenderit commodi, reiciendis quia ullam
        non at tempora modi nihil sit doloremque saepe illo voluptas.
        Repellendus!
      </p>
      <div class="cs-button-group">
        <a href="" class="cs-button-solid cs-button1">Contact Us</a>
      </div>
    </div>
  </div>

  <!-- Background Image -->
  <picture class="cs-background">
    <source
      media="(max-width: 600px)"
      srcset="
        https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/field-m.jpg
      "
    />
    <source
      media="(min-width: 601px)"
      srcset="
        https://images.pexels.com/photos/14953886/pexels-photo-14953886.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1
      "
    />
    <img
      loading="lazy"
      decoding="async"
      src="https://images.pexels.com/photos/14953886/pexels-photo-14953886.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="field"
      width="1920"
      height="1200"
      aria-hidden="true"
    />
  </picture>
</section>
