<section class="reviews">
  <div class="container">
      <h2 class="heading">What People Say</h2>
      <p class="sub">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. has been the industry's standard dummy text ever since the
        1500s.
      </p>
    <div class="group">
      <div class="item">
        <i class="fa-solid fa-quote-left quotation"></i>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam vero quo
          minus rerum omnis impedit voluptas debitis quam perferendis nostrum
          quod magnam, labore libero quos corrupti neque natus numquam
          aspernatur?
        </p>

        <img
          src="https://images.unsplash.com/photo-1508214751196-bcfd4ca60f91?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDB8fHByb2ZpbGV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
          alt=""
        />
        <div class="info">
          <p class="item-heading">Sam Thomas</p>
          <div class="ratings">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i>
          </div>
        </div>
      </div>
      <div class="item">
        <i class="fa-solid fa-quote-left quotation"></i>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam vero quo
          minus rerum omnis impedit voluptas debitis quam perferendis nostrum
          quod magnam, labore libero quos corrupti neque natus numquam
          aspernatur?
        </p>

        <img
          src="https://images.unsplash.com/photo-1508214751196-bcfd4ca60f91?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDB8fHByb2ZpbGV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
          alt=""
        />
        <div class="info">
          <p class="item-heading">Sam Thomas</p>
          <div class="ratings">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i>
          </div>
        </div>
      </div>
      <div class="item">
        <i class="fa-solid fa-quote-left quotation"></i>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam vero quo
          minus rerum omnis impedit voluptas debitis quam perferendis nostrum
          quod magnam, labore libero quos corrupti neque natus numquam
          aspernatur?
        </p>

        <img
          src="https://images.unsplash.com/photo-1508214751196-bcfd4ca60f91?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDB8fHByb2ZpbGV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
          alt=""
        />
        <div class="info">
          <p class="item-heading">Sam Thomas</p>
          <div class="ratings">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
