---
title: "About"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "about/"
eleventyNavigation:
  key: About Us
  order: 200
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/css/about.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
  <h1 id="home-h">About Us</h1>
  <picture>
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/cabinets2-m.jpg"
    />
    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg" />
    <img
      aria-hidden="true"
      decoding="async"
      src="/assets/images/cabinets2.jpg"
      alt="kitchen cabinets"
      loading="eager"
      width="2500"
      height="1667"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->



<section class="about">
  <div class="container">
    <div class="group">
      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1612168311571-7da34cbcd90a?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHdpcmVzfGVufDB8fDB8fHww"
          alt=""
          class="img-1"
        />
        <img
          src="https://images.pexels.com/photos/9799996/pexels-photo-9799996.jpeg?auto=compress&cs=tinysrgb&w=300"
          alt=""
          class="img-2"
        />
        <img
          src="https://images.unsplash.com/photo-1627273532210-c99f3ab1282b?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbCUyMGxpZ2h0c3xlbnwwfHwwfHx8MA%3D%3D"
          alt=""
          class="img-3"
        />
      </div>
      <div class="content">
        <h3 class="sub-h">About Us</h3>
        <h2 class="heading">{{client.name}}</h2>
        <p class="cs-text">
          In consequat tincidunt turpis sit amet imperdiet. Praesent Class
          officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur
          et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent
          nonatourean olei aptent taciti sociosqu ad litora torquent per.
        </p>
        <p class="cs-text">
          In consequat tincidunt turpis sit amet imperdiet. Praesent Class
          officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur
          et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent
          nonatourean olei aptent taciti sociosqu ad litora torquent per.
        </p>
        <a class="cs-button-solid" href="/projects"> Our Projects </a>
      </div>
    </div>
  </div>
</section>

{% include 'components/cta.html' %} {% endblock %}
