<section class="banner-bg">
      <div class="container banner-flex-column">
        <h4>Trusted By Over <span class="primary">2300 +</span> Companies in the World</h4>
        <div class="banner-clients">
          <img src="assets/images/index/client-1.png" alt="" />
          <img src="assets/images/index/client-2.png" alt="" />
          <img src="assets/images/index/client-3.png" alt="" />
          <img src="assets/images/index/client-4.png" alt="" />
        </div>
      </div>
    </section>