<section class="container data-section">
  <div class="data">
    <div class="flex-group">
      <div class="col">
        <i class="fa-solid fa-globe primary fa-2x"></i>
        <span>
          <h4>3,452</h4>
          <i class="fa-solid fa-plus primary"></i>
        </span>

        <p>Cybersecurity Projects</p>
      </div>

      <div class="col">
        <i class="fa-solid fa-globe primary fa-2x"></i>
        <span
          ><h4>3,452</h4>
          <i class="fa-solid fa-plus primary"></i>
        </span>

        <p>Clients Protection</p>
      </div>

      <div class="col">
        <i class="fa-solid fa-globe primary fa-2x"></i>
        <span
          ><h4>3,452</h4>
          <i class="fa-solid fa-plus primary"></i>
        </span>

        <p>Service Guarantee</p>
      </div>

      <div class="col">
        <i class="fa-solid fa-globe primary fa-2x"></i>
        <span
          ><h4>3,452</h4>
          <i class="fa-solid fa-plus primary"></i>
        </span>

        <p>Team Experts</p>
      </div>
    </div>
  </div>
</section>
