<section class="free-trial">
  <div class="banner-wrapper">
    <img
      src="assets/images/index/banner.jpg"
      alt=""
      class="banner"
      loading="lazy"
    />
  </div>
  <div class="container cta">
    <h2>Still Confused About Our Features? Get a Free Trial 7 Days</h2>
    <p class="white">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
    <button class="btn-primary">Get a free trial</button>
  </div>
</section>
