<div class="hero-wrapper">
  <section class="hero container">
    <div class="hero-info">
      <h1>Professional Protection With Reliable Service</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        enim tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim, quis nostrud exercitation ullamco laboris nisi ut aliquip
      </p>
      <button class="btn-primary">Learn More</button>
    </div>
  </section>
  <div class="img-container">
    <img src="assets/images/hero/hero.png" alt="" />
  </div>
</div>
