<section class="under-hero-section container">
      <div class="flex-group">
        <div class="flex-item">
          <div class="flex-item-row">
            <img src="assets/images/index/net.png" alt="" />
            <h4>Security Services</h4>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod
            tempor incididunt ut labore
          </p>
        </div>

        <div class="flex-item">
          <div class="flex-item-row">
            <img src="assets/images/index/security.png" alt="" />
            <h4>Data Privacy</h4>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod
            tempor incididunt ut labore
          </p>
        </div>

        <div class="flex-item">
          <div class="flex-item-row">
            <img src="assets/images/index/net.png" alt="" />
            <h4>Industry Certified</h4>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod
            tempor incididunt ut labore
          </p>
        </div>
      </div>
    </section>