<section class="container blogs-wrapper">
  <div class="heading">
    <p class="primary">Our News</p>
    <h2>Latest News</h2>
  </div>
  <div class="blogs">
    <div class="blog">
      <img src="assets/images/index/blog-1.jpg" alt="" class="blog__cover" />
      <div class="blog__info">
        <p>Cloud Security</p>
        <h3>Cyber Criminals Publish Stolen Sepa Data</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua
        </p>
        <a class="primary"
          >Read More
          <span class="primary"><i class="fa-solid fa-arrow-right"></i></span
        ></a>
      </div>
    </div>

    <div class="blog">
      <img src="assets/images/index/blog-2.jpg" alt="" class="blog__cover" />
      <div class="blog__info">
        <p>Security</p>
        <h3>The Security Risks Of Changing Package Owners</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua
        </p>
        <a class="primary"
          >Read More
          <span class="primary"><i class="fa-solid fa-arrow-right"></i></span
        ></a>
      </div>
    </div>

    <div class="blog">
      <img src="assets/images/index/blog-3.jpg" alt="" class="blog__cover" />
      <div class="blog__info">
        <p>Criminals</p>
        <h3>Cyber Criminals Publish Stolen Sepa Data</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua
        </p>
        <a class="primary"
          >Read More
          <span class="primary"><i class="fa-solid fa-arrow-right"></i></span
        ></a>
      </div>
    </div>
  </div>
</section>
