<section class="what-we-offer-section container">
      <div class="heading">
        <p class="primary">Our Services</p>
        <h2>What We Offer</h2>
      </div>

      <div class="flex-group">
        <div class="flex-item">
          <img src="assets/images/index/net.png" alt="" />
          <div class="flex-item-info">
            <h4>Network Security</h4>
            <p>
              Lorem ipsum dolor sit amet, consect adipiscing elit, sed do
              eiusmod tempor incididunt ut labore
            </p>
          </div>

          <a href="#">Read More</a>
        </div>

        <div class="flex-item">
          <img src="assets/images/index/net.png" alt="" />
          <div class="flex-item-info">
            <h4>Network Security</h4>
            <p>
              Lorem ipsum dolor sit amet, consect adipiscing elit, sed do
              eiusmod tempor incididunt ut labore
            </p>
          </div>
          <a href="#">Read More</a>
        </div>

        <div class="flex-item">
          <img src="assets/images/index/net.png" alt="" />
          <div class="flex-item-info">
            <h4>Network Security</h4>
            <p>
              Lorem ipsum dolor sit amet, consect adipiscing elit, sed do
              eiusmod tempor incididunt ut labore
            </p>
          </div>
          <a href="#">Read More</a>
        </div>

        <div class="flex-item">
          <img src="assets/images/index/net.png" alt="" />
          <div class="flex-item-info">
            <h4>Network Security</h4>
            <p>
              Lorem ipsum dolor sit amet, consect adipiscing elit, sed do
              eiusmod tempor incididunt ut labore
            </p>
          </div>
          <a href="#">Read More</a>
        </div>

        <div class="flex-item">
          <img src="assets/images/index/net.png" alt="" />
          <div class="flex-item-info">
            <h4>Network Security</h4>
            <p>
              Lorem ipsum dolor sit amet, consect adipiscing elit, sed do
              eiusmod tempor incididunt ut labore
            </p>
          </div>
          <a href="#">Read More</a>
        </div>

        <div class="flex-item">
          <img src="assets/images/index/net.png" alt="" />
          <div class="flex-item-info">
            <h4>Network Security</h4>
            <p>
              Lorem ipsum dolor sit amet, consect adipiscing elit, sed do
              eiusmod tempor incididunt ut labore
            </p>
          </div>
          <a href="#">Read More</a>
        </div>
      </div>
    </section>