<div class="sbs-r-wrapper">
  <section class="sbs container">
    <div class="col">
      <p class="primary">Why Choose Us</p>
      <h2 >Provide Advanced Security for Advanced Threat</h2 >
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation
      </p>
      <div class="col sbs-info">
        <div class="row">
          <i class="fa-solid fa-check primary"></i>
          <p>Content Delivery Network</p>
        </div>
        <div class="row">
          <i class="fa-solid fa-check primary"></i>
          <p>Content Delivery Network</p>
        </div>
        <div class="row">
          <i class="fa-solid fa-check primary"></i>
          <p>Content Delivery Network</p>
        </div>
      </div>
      <button class="btn-primary">Learn More</button>
    </div>
  </section>
  <div class="img-container">
    <img src="assets/images/index/male-coder.jpg" alt="" />
  </div>
</div>
