<section class="what-we-do">
  <div class="container">
    <h3 class="sub-h">What We Do</h3>
    <h2 class="heading">Excellent Service Unveiled</h2>
    <div class="group">
      <div class="item lg">
        <div class="img-container">
          <img
            src="https://images.unsplash.com/photo-1698870106324-6724138bd77a?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8"
            alt=""
          />
        </div>
        <div class="info">
          <i class="fa-solid fa-truck-fast"></i>
          <p class="item-h">General Repairs</p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi
            eveniet quia qui quibusdam cum nihil quae accusantium expedita
            laboriosam odio hic neque ab eaque tempore, fugit incidunt omnis?
            Error, impedit!
          </p>
          <a href="#">Read More</a>
        </div>
      </div>

      <div class="item">
        <div class="img-container">
          <img
            src="https://images.unsplash.com/photo-1698870106324-6724138bd77a?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8"
            alt=""
          />
        </div>
        <div class="info">
          <i class="fa-solid fa-truck-fast"></i>
          <p class="item-h">General Repairs</p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi
            eveniet quia qui quibusdam cum nihil quae accusantium expedita
            laboriosam odio hic neque ab eaque tempore, fugit incidunt omnis?
            Error, impedit!
          </p>
          <a href="#">Read More</a>
        </div>
      </div>

      <div class="item">
        <div class="img-container">
          <img
            src="https://images.unsplash.com/photo-1698870106324-6724138bd77a?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8"
            alt=""
          />
        </div>
        <div class="info">
          <i class="fa-solid fa-truck-fast"></i>
          <p class="item-h">General Repairs</p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi
            eveniet quia qui quibusdam cum nihil quae accusantium expedita
            laboriosam odio hic neque ab eaque tempore, fugit incidunt omnis?
            Error, impedit!
          </p>
          <a href="#">Read More</a>
        </div>
      </div>

      <div class="item">
        <div class="img-container">
          <img
            src="https://images.unsplash.com/photo-1698870106324-6724138bd77a?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8"
            alt=""
          />
        </div>
        <div class="info">
          <i class="fa-solid fa-truck-fast"></i>
          <p class="item-h">General Repairs</p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi
            eveniet quia qui quibusdam cum nihil quae accusantium expedita
            laboriosam odio hic neque ab eaque tempore, fugit incidunt omnis?
            Error, impedit!
          </p>
          <a href="#">Read More</a>
        </div>
      </div>

      <div class="item">
        <div class="img-container">
          <img
            src="https://images.unsplash.com/photo-1698870106324-6724138bd77a?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8"
            alt=""
          />
        </div>
        <div class="info">
          <i class="fa-solid fa-truck-fast"></i>
          <p class="item-h">General Repairs</p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi
            eveniet quia qui quibusdam cum nihil quae accusantium expedita
            laboriosam odio hic neque ab eaque tempore, fugit incidunt omnis?
            Error, impedit!
          </p>
          <a href="#">Read More</a>
        </div>
      </div>

      <div class="item lg">
        <div class="img-container">
          <img
            src="https://images.unsplash.com/photo-1698870106324-6724138bd77a?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8"
            alt=""
          />
        </div>
        <div class="info">
          <i class="fa-solid fa-truck-fast"></i>
          <p class="item-h">General Repairs</p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi
            eveniet quia qui quibusdam cum nihil quae accusantium expedita
            laboriosam odio hic neque ab eaque tempore, fugit incidunt omnis?
            Error, impedit!
          </p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
