/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */
// Services
.services {
  .item {
    background-color: var(--secondary-bg-color);
    padding: var(--p-lg) var(--p-sm);
    position: relative;
    aspect-ratio: 2;
    margin-bottom: var(--p-lg);
    span {
      position: absolute;
      top: -10%;
      background-color: var(--secondary);
      padding: var(--p-s);
    }
    i {
      font-size: 1.5rem;
      color: var(--primary-bg-color);
    }
  }
}

@media only screen and (min-width: 550px) {
  .services {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .item {
        padding: var(--p-md);
        padding-top: var(--p-lg);
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .services {
    .group {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

// End of services
// Our Process
.process {
  color: #fff;
  min-height: 30vw;

  .img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    img {
      object-fit: cover;
    }
  }
  .section-heading,
  .item-heading {
    color: var(--white);
  }
  .item {
    padding: var(--p-md);
    position: relative;
  }
  .item::after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    z-index: 10;
    bottom: 0;
    border-left: var(--p-s) solid transparent;
    border-right: var(--p-s) solid transparent;
    border-bottom: var(--p-s) solid transparent;
    border-top: var(--p-s) solid var(--white);
  }
  .item:last-child::after {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .process {
    min-height: 25vw;
    .group {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      width: 100%;
    }
    .item::after {
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      z-index: 10;
      right: 10%;
      bottom: unset;
      border-left: var(--p-sm) solid var(--white);
      border-right: var(--p-sm) solid transparent;
      border-bottom: var(--p-s) solid transparent;
      border-top: var(--p-s) solid transparent;
      display: none;
    }
  }
}

// End of Process

// What We Do
.what-we-do {
  .container {
    .item p {
      width: 95%;
    }
    img {
      max-height: 300px;
      object-fit: cover;
      aspect-ratio: 1;
      filter: saturate(0.55);
      transition: 0.3s ease-in-out;
    }
    img:hover {
      filter: saturate(1);
    }
  }
}

@media only screen and (min-width: 600px) {
  .what-we-do {
    .container {
      .group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--p-md);
      }
    }
  }
}

// End of What We Do

// Portfolio banner
.portfolio-banner {
  padding: 0;
  .group {
    gap: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 150px);
    .img-container {
      overflow: hidden;
      height: 150px;
    }
    img {
      object-fit: cover;
      transition: 0.3s ease-in-out;
      filter: saturate(0.65);
    }
    img:hover {
      transform: scale(1.2);
      filter: saturate(1);
    }
  }
}

@media only screen and (min-width: 600px) {
  .portfolio-banner {
    .group {
      grid-template-rows: repeat(2, 250px);
      grid-template-columns: repeat(4, 1fr);
      .img-container {
        height: 250px;
      }
    }
  }
}

// End of portfolio banner

// Reviews
.reviews {
  .container {
    padding: var(--p-sm);
    background-color: var(--secondary-bg-color);
  }
  .section-heading {
    margin-bottom: 0;
  }
  .slider {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .radio {
    padding: 0.75rem;
    transition: all 0.4s;
    z-index: 10;
    cursor: pointer;
    appearance: none;
    backface-visibility: hidden;
    position: absolute;
    bottom: 1rem;
    border-radius: 0;
    border: 3px solid transparent;
    background-color: var(--white);
    border: 1px solid var(--primary);
  }

  .radio:hover {
    background-color: var(--light-bg);
  }
  
  .radio:nth-of-type(1) {
    left: 10%;
  }

  .radio:nth-of-type(2) {
    left: calc(55% / 2);
  }

  .radio:nth-of-type(3) {
    left: 45%;
  }

  .radio:nth-of-type(4) {
    left: calc(125% / 2);
  }

  .radio:nth-of-type(5) {
    left: 80%;
  }

  .radio:checked {
    background-color: var(--primary);
    animation: check 0.4s linear;
  }

  .radio:checked:nth-of-type(1) ~ .inner {
    margin-right: 0%;
  }
  .radio:checked:nth-of-type(2) ~ .inner {
    margin-right: 200%;
  }
  .radio:checked:nth-of-type(3) ~ .inner {
    margin-right: 400%;
  }
  .radio:checked:nth-of-type(4) ~ .inner {
    margin-right: 600%;
  }
  .radio:checked:nth-of-type(5) ~ .inner {
    margin-right: 800%;
  }

  .inner {
    width: 100%;
    height: 100%;
    transition: 0.7s;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
  }

  .inner img {
    aspect-ratio: 1;
    width: 250px;
    object-fit: cover;
  }

  .contents {
    height: 100%;
    padding: 3rem 2rem;
    display: flex;
    width: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: var(--p-sm);
    text-align: center;
    /* make each child the same width as the parent */
    flex: 0 0 100%;
  }

  .ratings {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--p-s);
  }

  .contents p {
    max-width: 800px;
  }
}

@media only screen and (min-width: 600px) {
  .reviews {
    .contents {
      padding: 4rem;
    }
    .radio {
      bottom: 0.5rem;
    }
    .radio:nth-of-type(1) {
      left: 40%;
    }

    .radio:nth-of-type(2) {
      left: 45%;
    }

    .radio:nth-of-type(3) {
      left: 50%;
    }

    .radio:nth-of-type(4) {
      left: 55%;
    }

    .radio:nth-of-type(5) {
      left: 60%;
    }
  }
}
// End of Reviews

// Who we are
.who-we-are {
  .group {
    h3 {
      margin-bottom: var(--p-sm);
    }
    p {
      margin-bottom: var(--p-md);
    }
    img {
      object-fit: cover;
    }
    .content {
      width: 100%;
      height: 100%;
      .group {
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        .item {
          flex: 1;
          border: 5px solid var(--light-bg);
          gap: var(--p-s);
        }
        i {
          font-size: 2.4rem;
          color: var(--primary);
          padding: var(--p-md);
        }
      }
    }
  }
}

@media only screen and (min-width: 700px) {
  .who-we-are {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .content {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: var(--p-sm) var(--p-md) 0;
        .group {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex: 1;
          .item {
            height: 100%;
          }
        }
      }
    }
  }
}
// End of who we are

// why-choose-us
.why-choose-us {
  img {
    object-fit: cover;
    max-height: 300px;
    aspect-ratio: 1;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--p-sm);
    height: 100%;
  }

  .content-group {
    display: flex;
    gap: var(--p-sm);
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .item {
      padding: var(--p-sm);
      color: var(--white);
      gap: var(--p-s);
      background-color: var(--primary);
      .item-heading {
        color: var(--white);
      }
      i {
        font-size: 1.5rem;
      }
    }
  }
}

@media only screen and (min-width: 700px) {
  .why-choose-us {
    text-align: left;
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .item {
        text-align: center;
        height: 100%;
        width: 100%;
        min-height: 200px;
      }

      .content {
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: var(--p-md);
      }
      .content-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        height: 100%;
        gap: var(--p-md);
      }
    }
    img {
      max-height: none;
    }
  }
}

// End of why-choose-us
