/* STYLES FOR ABOVE THE FOLD */

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */

#hero {
  height: 100vh;
  padding-bottom: 0;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-top: var(--navbarheight);

  .img-container,
  .content {
    flex: 1;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--p-md);
    padding-top: var(--p-xl);
    justify-content: center;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  #hero {
    height: 100vh;
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }
}
