/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--p-md);

  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--p-sm);
  }

  .skill {
    display: flex;
    flex-direction: column;
    gap: var(--p-sm);
  }

  .info {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .info span.tooltip {
    padding: 4px var(--p-sm);
    font-size: 0.85rem;
    border-radius: var(--b-radius);
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 1;
  }

  .skill-bar {
    position: relative;
    background: rgba(0, 0, 0, 0.1);
    border-radius: var(--b-radius);
    width: 100%;
    height: var(--p-sm);
  }

  .skill-per {
    position: absolute;
    width: var(--bar-width);
    background: var(--primary);
    height: 100%;
    border-radius: var(--b-radius);
    animation: progress 0.8s ease-in-out forwards;
  }

  @keyframes progress {
    0% {
      width: 0;
      opacity: 0;
    }
  }
}

.our-services {
  input[type="radio"] {
    display: none;
  }

  .tabs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
    margin: auto;
    padding: 0;
    gap: var(--p-sm);
  }

  .tab {
    cursor: pointer;
    color: var(--primary);
    z-index: 1;
    padding: var(--p-s);
  }

  .tab i {
    padding-right: var(--p-s);
  }

  .tab label {
    transition: 0.3 all ease;
  }

  .tabs .slider {
    position: absolute;
    height: 100%;
    width: 20%;
    background-color: var(--primary);
    left: 0;
    bottom: 0;
    border-radius: var(--b-radius);
    transition: all 0.4s ease;
    z-index: 0;
  }

  #home:checked ~ .tabs label[for="home"],
  #blog:checked ~ .tabs label[for="blog"],
  #code:checked ~ .tabs label[for="code"],
  #help:checked ~ .tabs label[for="help"],
  #about:checked ~ .tabs label[for="about"] {
    color: #fff;
  }

  #blog:checked ~ .tabs .slider {
    left: 20%;
  }

  #code:checked ~ .tabs .slider {
    left: 40%;
  }

  #help:checked ~ .tabs .slider {
    left: 60%;
  }

  #about:checked ~ .tabs .slider {
    left: 80%;
  }

  #home:checked ~ .tab-content .home-content,
  #blog:checked ~ .tab-content .blog-content,
  #code:checked ~ .tab-content .code-content,
  #help:checked ~ .tab-content .help-content,
  #about:checked ~ .tab-content .about-content {
    display: block;
  }

  .tab-content {
    text-align: left;
  }

  .content {
    display: none;
    transition: 0.3s ease;
  }

  .tab-content h3 {
    font-size: 21px;
    font-weight: 500;
    margin: 30px 0 10px 0;
  }
}

// pricing
.pricing {
  .container {
    display: flex;
    flex-direction: column;
    gap: var(--p-sm);
    text-align: center;
  }
  .group {
    align-items: center;
    justify-content: center;
  }
  .group .item {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: var(--p-lg) var(--p-md);
    margin-right: var(--p-sm);
    margin-bottom: var(--p-md);
    border-radius: var(--p-sm);
    border: 1px solid var(--borderColor);
    box-shadow: 0 0.6rem 1.6rem var(--borderColor);
    color: inherit;
  }

  .plan-heading {
    color: inherit;
  }

  .group .item .plan-price {
    font-size: 4rem;
    color: inherit;
  }

  .group .item .dollar {
    font-size: 2rem;
    font-weight: 400;
    vertical-align: middle;
  }

  .features {
    padding: 0;
  }

  .group .item .features .feature {
    padding: 15px 0;
    border-bottom: 1px solid var(--borderColor);
  }

  .group .item .btn {
    background-color: var(--primary);
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    color: var(--primary-bg-color);
    border: 1px solid transparent;
  }

  .group .item .btn:hover {
    background-color: var(--primary-bg-color);
    color: var(--primary);
    border: 1px solid var(--primary);
    font-weight: 900;
  }

  .group .basic {
    background-color: var(--primary-bg-color);
  }

  .group .pro {
    background-color: var(--primary);
    color: var(--primary-bg-color);
    height: 105%;
    justify-content: center;
  }

  .group .pro .btn {
    color: var(--primary);
    background-color: var(--primary-bg-color);
  }

  .group .pro .btn:hover {
    border: 1px solid var(--primary-bg-color);
    background-color: var(--primary);
    color: var(--primary-bg-color);
  }

  .group .master {
    background-color: var(--primary-bg-color);
  }
}

@media screen and (min-width: 900px) {
  .pricing {
    .group {
      display: grid;
      margin-top: var(--p-md);
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
// end of pricing
