/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

.about {
  .content {
    .row:nth-of-type(1) {
      gap: var(--p-md);
      padding-bottom: var(--p-md);
      border-bottom: 3px solid var(--borderColor);
      .item {
        display: flex;
        align-items: center;
        gap: var(--p-md);
      }
      i {
        font-size: 1.5rem;
        padding: var(--p-md);
        color: var(--primary);
        border-radius: var(--b-radius);
        border-left: 4px solid var(--secondary);
        background-color: var(--borderColor);
      }
    }
    .row:nth-of-type(2) {
      gap: var(--p-md);
      padding-bottom: var(--p-md);
      .item {
        display: flex;
        gap: var(--p-md);
        font-size: 1.5rem;
        align-items: center;
        font-weight: bold;
      }
      i {
        color: var(--primary);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .about {
    .content {
      .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .about {
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .img-container {
      position: absolute;
      right: 0;
      top: 0;
      width: 45%;
    }
  }
}

.skills-section {
  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--p-sm);
  }

  .skill {
    display: flex;
    flex-direction: column;
    gap: var(--p-xs);
  }

  .info {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .info span.tooltip {
    padding: 4px var(--p-sm);
    font-size: 0.85rem;
    border-radius: var(--b-radius);
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 1;
  }

  .skill-bar {
    position: relative;
    background: rgba(0, 0, 0, 0.1);
    border-radius: var(--b-radius);
    width: 100%;
    height: var(--p-sm);
  }

  .skill-per {
    position: absolute;
    width: var(--bar-width);
    background: var(--primary);
    height: 100%;
    border-radius: var(--b-radius);
    animation: progress 0.8s ease-in-out forwards;
  }

  @keyframes progress {
    0% {
      width: 0;
      opacity: 0;
    }
  }

  .row {
    display: flex;
    flex-direction: column;
    gap: var(--p-md);
    .item {
      display: flex;
      gap: var(--p-sm);
      text-align: center;
      align-items: center;
      i {
        color: var(--secondary);
        border-radius: var(--b-radius);
        padding: var(--p-md);
        background-color: var(--borderColor);
        border-left: 5px var(--secondary) solid;
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .skills-section {
    .container {
      display: grid;
      gap: var(--p-lg);
      grid-template-columns: repeat(2, 1fr);
    }
    .content {
      grid-column-start: 2;
    }
    .row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .img-container {
      position: absolute;
      left: 0;
      width: 50%;
      top: 0;
      padding: var(--p-md);
    }
  }
}

// skills container

.our-services {
  input[type="radio"] {
    display: none;
  }

  .tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    margin: auto;
    gap: var(--p-md);
    justify-content: space-between;
    border: 1px solid var(--borderColor);
    border-radius: var(--b-radius);
    -webkit-box-shadow: 0px 7px 60px 0px rgba(var(--borderColor-rgb), 0.85);
    -moz-box-shadow: 0px 7px 60px 0px rgba(var(--borderColor-rgb), 0.85);
    box-shadow: 0px 7px 60px 0px rgba(var(--borderColor-rgb), 0.85);
    background-color: var(--borderColor);
  }

  .tab {
    cursor: pointer;
    color: inherit;
    z-index: 1;
    text-align: center;
    width: 100%;
    padding: var(--p-md) var(--p-sm);
    color: var(--black);
    background-color: var(--primary-bg-color);
    padding-bottom: 0;
  }

  .tab i {
    padding-right: var(--p-s);
    font-size: 2rem;
  }

  .tab label {
    transition: 0.3 all ease;
    display: flex;
    flex-direction: column;
    gap: var(--p-sm);
    padding-bottom: var(--p-sm);
    border-bottom: 3px transparent solid;
    cursor: pointer;
    transition: 0.3s;
  }

  .tab label:hover {
    color: var(--primary);
    opacity: 0.8;
  }

  #home:checked ~ .tabs label[for="home"],
  #blog:checked ~ .tabs label[for="blog"],
  #code:checked ~ .tabs label[for="code"],
  #help:checked ~ .tabs label[for="help"],
  #about:checked ~ .tabs label[for="about"] {
    border-bottom: 3px var(--primary) solid;
    color: var(--primary);
  }

  #home:checked ~ .tab-content .home-content,
  #blog:checked ~ .tab-content .blog-content,
  #code:checked ~ .tab-content .code-content,
  #help:checked ~ .tab-content .help-content,
  #about:checked ~ .tab-content .about-content {
    display: flex;
    opacity: 1;
  }

  .tab-content {
    text-align: left;
  }

  .content {
    display: none;
    transition: 0.3s ease-in-out;
    padding: var(--p-sm);
    opacity: 0;
  }

  .tab-content h3 {
    font-size: 21px;
    font-weight: 500;
    margin: 30px 0 10px 0;
  }
}

@media screen and (min-width: 768px) {
  .our-services {
    .tabs {
      grid-template-columns: repeat(4, 1fr);
      background-color: var(--primary-bg-color);
    }
  }
}

// pricing
.pricing {
  .group {
    align-items: center;
    justify-content: center;
  }
  .group .item {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: var(--p-lg) var(--p-md);
    border-radius: var(--p-sm);
    border: 1px solid var(--borderColor);
    box-shadow: 0 0.6rem 1.6rem var(--borderColor);
    color: inherit;
  }

  .plan-heading {
    color: inherit;
  }

  .group .item .plan-price {
    font-size: 4rem;
    color: inherit;
  }

  .group .item .dollar {
    font-size: 2rem;
    font-weight: 400;
    vertical-align: middle;
  }

  .features {
    padding: 0;
  }

  .group .item .features .feature {
    padding: 15px 0;
    border-bottom: 1px solid var(--borderColor);
  }

  .group .item .btn {
    background-color: var(--primary);
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    color: var(--primary-bg-color);
    border: 1px solid transparent;
  }

  .group .item .btn:hover {
    background-color: var(--primary-bg-color);
    color: var(--primary);
    border: 1px solid var(--primary);
    font-weight: 900;
  }

  .group .basic {
    background-color: var(--primary-bg-color);
  }

  .group .pro {
    background-color: var(--primary);
    color: var(--primary-bg-color);
    min-height: 550px;
    justify-content: center;
  }

  .group .pro .btn {
    color: var(--primary);
    background-color: var(--primary-bg-color);
  }

  .group .pro .btn:hover {
    border: 1px solid var(--primary-bg-color);
    background-color: var(--primary);
    color: var(--primary-bg-color);
  }

  .group .master {
    background-color: var(--primary-bg-color);
  }
}

@media screen and (min-width: 800px) {
  .pricing {
    .group {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
// end of pricing

// awards
.awards {
  .container {
    text-align: center;
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--p-sm);
    border-radius: var(--b-radius);
    flex-direction: column;
    text-align: center;
  }
  .item-heading {
    max-width: 80%;
  }
  .img-container {
    border: 1px solid var(--borderColor);
    padding: var(--p-lg) var(--p-md);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
  }
  .img-container:hover {
    -webkit-box-shadow: 0px 14px 60px 0px rgba(var(--borderColor-rgb), 0.85);
    -moz-box-shadow: 0px 14px 60px 0px rgba(var(--borderColor-rgb), 0.85);
    box-shadow: 0px 14px 60px 0px rgba(var(--borderColor-rgb), 0.85);
  }
  img {
    height: auto;
    width: auto;
  }
}
@media screen and (min-width: 769px) {
  .awards {
    .group {
      display: grid;
      gap: var(--p-md);
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 1025px) {
  .awards {
    .group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      row-gap: var(--p-lg);
    }
    .item {
      flex: 0 0 21%;
    }
  }
}
// end of awards

.stats {
  background-color: var(--primary);
  padding: var(--p-lg);
  .group {
    color: var(--primary-bg-color);
    gap: var(--p-md);
  }

  .item {
    display: flex;
    gap: var(--p-md);
    align-items: center;
    justify-content: space-between;

    padding-right: var(--p-md);
  }
  .stat {
    font-size: 2.5rem;
    font-weight: bold;
  }
  i {
    color: var(--secondary);
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .stats {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: var(--p-lg);
      gap: var(--p-lg);
    }
    .item {
      padding: var(--p-sm) var(--p-lg);
      border-right: 2px solid var(--primary-bg-color);
    }
  }
}

@media screen and (min-width: 1200px) {
  .stats {
    .group {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.banner {
  background-color: var(--primary);
  color: var(--primary-bg-color);
  .sub-heading {
    background: linear-gradient(
      to left,
      var(--borderColor) 2.23%,
      var(--primary-bg-color) 97.21%
    );
  }
  .heading {
    color: inherit;
  }
  .rows {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--p-md);
    flex-direction: column;
    justify-content: center;
  }
  img {
    height: 100px;
    filter: brightness(0) invert(1);
  }
}

@media screen and (min-width: 450px) {
  .banner {
    .rows {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .img-container {
      flex: 0 0 24%;
    }
  }
}

.members {
  .item {
    box-shadow: 0 0.6rem 1.6rem var(--borderColor);
    border-radius: var(--b-radius);
    overflow: hidden;
  }
  .item:hover .overlay {
    opacity: 1;
  }

  .img-container {
    position: relative;
    height: fit-content;
  }
  .overlay {
    position: absolute;
    padding: var(--p-md);
    bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: var(--p-sm);
    overflow: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    i {
      background-color: var(--primary);
      color: var(--primary-bg-color);
      padding: var(--p-sm);
      border-radius: var(--b-radius);
      cursor: pointer;
      transition: 0.3s;
    }
    i:hover {
      filter: saturate(0.5);
    }
  }
  img {
    object-fit: cover;
    max-height: 400px;
  }
  .content {
    padding: var(--p-md);
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .members {
    .group {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--p-lg);
    }
  }
}
