<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="comfort">
  <div class="cs-container">
    <h2 class="title">Your comfort is our #1 priority</h2>
    <h3>Phasellus congue purus sed scelerisque.</h3>
    <div class="cs-card-group">
      <div class="cs-item">
        <picture class="cs-picture">
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/svgs/service1.svg"
            alt="appliance"
            width="48"
            height="48"
          />
        </picture>
        <p class="cs-title">Heat Pumps</p>

        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus
          antium doloremque.
        </p>
      </div>
      <div class="cs-item">
        <p class="cs-title">Floor Heating</p>
        <p>
          Pulvinar lobortis curabitur quis donec. Dictum integer in malesuada
          dolor, ut nec inceptos ipsum.
        </p>
      </div>
      <div class="cs-item">
        <p class="cs-title">Furnaces</p>
        <p>
          Vestibulum ac risus maecenas, eget non, suspendisse numquam eget lacus
          in sed ac, enim torquent.
        </p>
      </div>
      <div class="cs-item">
        <p class="cs-title">Exhaust Fans</p>
        <p>
          Vestibulum ac risus maecenas, eget non, suspendisse numquam eget lacus
          in sed ac, enim torquent.
        </p>
      </div>
    </div>
    <a href="/contact" class="cs-button-solid">Full List of Services</a>
  </div>
</section>
