<section class="about">
  <div class="container">
    <div class="group">
      <div class="img-container">
        <img
          src="https://plus.unsplash.com/premium_photo-1664297981377-b45697cc416f?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fHdvcmtpbmclMjBlbGVjdHJpY2lhbnxlbnwwfHwwfHx8MA%3D%3D"
          alt=""
        />
      </div>
      <div class="content">
        <h3 class="sub-h">We are {{client.name}}</h3>
        <h2 class="heading">About Us</h2>
        <p>
          Nullam eu nibh vitae est tempor molestie id sed ex. Quisque dignissim
          maximus ipsum, sed rutrum metus tincidunt et. Sed eget tincidunt
          ipsum. Eget tincidunt
        </p>
        <div class="icon-group">
          <div class="item">
            <i class="fa-solid fa-user-nurse"></i>
            <p class="item-h">Expert Electrician</p>
          </div>
          <div class="item">
            <i class="fa-solid fa-helmet-safety"></i>
            <p class="item-h">Expert Electrician</p>
          </div>
        </div>

        <ul class="content-group">
          <li class="item">
            <i class="fa-solid fa-check"></i>
            <p>At vero eos et accusamus et iusto odio.</p>
          </li>

          <li class="item">
            <i class="fa-solid fa-check"></i>
            <p>At vero eos et accusamus et iusto odio.</p>
          </li>

          <li class="item">
            <i class="fa-solid fa-check"></i>
            <p>At vero eos et accusamus et iusto odio.</p>
          </li>
        </ul>
        <a href="/about" class="cs-button-solid">Learn More</a>
      </div>
    </div>
  </div>
</section>
