<section class="clients">

  <div class="container">
    <h2 class="heading">Some of Our Clients</h2>
    <div class="group">
      <div class="img-container">
        <img src="https://img.logoipsum.com/285.svg" alt="" />
      </div>

      <div class="img-container">
        <img src="https://img.logoipsum.com/286.svg" alt="" />
      </div>

      <div class="img-container">
        <img src="https://img.logoipsum.com/288.svg" alt="" />
      </div>

      <div class="img-container">
        <img src="https://img.logoipsum.com/288.svg" alt="" />
      </div>
    </div>
  </div>
</section>
