<section class="accordion">
  <div class="container">
    <div class="group">
      <div class="accordion">
        <h2 class="heading">FAQS</h2>
        <ul>
          <li>
            <input type="checkbox" name="accordion" id="accordion1" /><label
              for="accordion1"
              id="label1"
              >When should I consider electrical servicing?</label
            >
            <div id="accordion-content1" class="accordion-content">
              <p>
                You should consider electrical servicing when you experience
                electrical issues, such as power outages, flickering lights, or
                circuit breaker trips. Regular electrical inspections are also
                advisable to catch potential problems early.
              </p>
            </div>
          </li>

          <li>
            <input type="checkbox" name="accordion" id="accordion2" /><label
              for="accordion2"
              id="label2"
            >
              Can I perform electrical servicing on my own?</label
            >
            <div id="accordion-content2" class="accordion-content">
              <p>
                While minor tasks like changing a lightbulb or resetting a
                circuit breaker can be done by homeowners, most electrical
                servicing and repairs should be carried out by licensed
                electricians. Attempting DIY electrical work can be dangerous
                and may not comply with local building codes.
              </p>
            </div>
          </li>

          <li>
            <input type="checkbox" name="accordion" id="accordion3" />
            <label for="accordion3" id="label3"
              >What should I expect during an electrical service call?</label
            >
            <div id="accordion-content3" class="accordion-content">
              <p>
                During an electrical service call, an electrician will diagnose
                the issue, provide an estimate for the repair, and carry out the
                necessary work. They should also clean up the work area and
                ensure that all safety measures are in place.
              </p>
            </div>
          </li>

          <li>
            <input type="checkbox" name="accordion" id="accordion4" /><label
              for="accordion4"
              id="label4"
              >Are there any safety tips for dealing with electrical issues at
              home?</label
            >
            <div id="accordion-content4" class="accordion-content">
              <p>
                Safety is paramount when dealing with electrical issues. Always
                turn off the power to the affected area, never touch exposed
                wires, and use GFCI outlets in wet areas. If you're unsure, it's
                best to call a professional electrician.
              </p>
            </div>
          </li>

          <li>
            <input type="checkbox" name="accordion" id="accordion5" /><label
              for="accordion5"
              id="label5"
              >How can I make my electrical system more energy-efficient?</label
            >
            <div id="accordion-content5" class="accordion-content">
              <p>
                To make your electrical system more energy-efficient, you can
                upgrade to energy-efficient lighting, install programmable
                thermostats, seal gaps in your home's insulation, and use power
                strips to reduce standby power consumption.
              </p>
            </div>
          </li>
        </ul>
      </div>

      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1503863627916-deb1706f5b79?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGxpZ2h0c3xlbnwwfHwwfHx8MA%3D%3D"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
