<section id="hero">
  <div class="img-container">
    <div class="overlay"></div>
    <img
      src="https://images.pexels.com/photos/428427/pexels-photo-428427.jpeg?auto=compress&cs=tinysrgb&w=1600"
      alt=""
    />
  </div>
  <div class="container">
    <h1>Cabin Lorem</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      iusto officia ab quibusdam modi minus vero non
    </p>
    <button class="btn-primary">Free Consultation</button>
  </div>
</section>
