<section class="process">
  <div class="img-container">
    <div class="overlay"></div>
    <img
      src="https://images.unsplash.com/photo-1476231682828-37e571bc172f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80 "
      alt=""
    />
  </div>
  <div class="container">
    <h2 class="section-heading">Our Process</h2>

    <div class="group">
      <div class="item">
        <i class="fa-solid fa-phone"></i>
        <h3 class="item-heading">Problem</h3>
      </div>
      <div class="item">
        <i class="fa-solid fa-magnifying-glass"></i>
        <h3 class="item-heading">Assess</h3>
      </div>
      <div class="item">
        <i class="fa-solid fa-paint-roller"></i>
        <h3 class="item-heading">Design</h3>
      </div>
      <div class="item">
        <i class="fa-solid fa-people-carry-box"></i>
        <h3 class="item-heading">Deliver</h3>
      </div>
    </div>
  </div>
</section>
