<section class="reviews">
  <div class="container">
    <h2 class="section-heading">Reviews</h2>

    <div class="slider">
      <input type="radio" name="slider" title="slider1" checked class="radio" />
      <input type="radio" name="slider" title="slider2" class="radio" />
      <input type="radio" name="slider" title="slider3" class="radio" />
      <input type="radio" name="slider" title="slider4" class="radio" />
      <input type="radio" name="slider" title="slider5" class="radio" />

      <div class="inner">
        <div class="contents">
          <img
            src="https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cGVyc29ufGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
            alt=""
          />
          <h3 class="caption">Designer</h3>
          <div class="ratings">
            <i class="fa-solid fa-star secondary"></i>
            <i class="fa-solid fa-star secondary"></i
            ><i class="fa-solid fa-star secondary"></i
            ><i class="fa-solid fa-star secondary"></i
            ><i class="fa-solid fa-star secondary"></i>
          </div>
          <p class="txt">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel iusto
            fugiat expedita a. Expedita omnis delectus quod quia error, labore
            nobis id, corrupti mollitia incidunt molestiae reiciendis commodi
            animi ad.
          </p>
        </div>

        <div class="contents">
          <img
            src="https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cGVyc29ufGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
            alt=""
          />
          <h3 class="caption">UI Designer</h3>
          <div class="ratings">
            <i class="fa-solid fa-star secondary"></i>
            <i class="fa-solid fa-star secondary"></i
            ><i class="fa-solid fa-star secondary"></i
            ><i class="fa-solid fa-star secondary"></i
            ><i class="fa-solid fa-star secondary"></i>
          </div>
          <p class="txt">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel iusto
            fugiat expedita a. Expedita omnis delectus quod quia error, labore
            nobis id, corrupti mollitia incidunt molestiae reiciendis commodi
            animi ad.
          </p>
        </div>

        <div class="contents">
          <img
            src="https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cGVyc29ufGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
            alt=""
          />
          <h3 class="caption">UX Designer</h3>
          <div class="ratings">
            <i class="fa-solid fa-star secondary"></i>
            <i class="fa-solid fa-star secondary"></i
            ><i class="fa-solid fa-star secondary"></i
            ><i class="fa-solid fa-star secondary"></i
            ><i class="fa-solid fa-star secondary"></i>
          </div>
          <p class="txt">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel iusto
            fugiat expedita a. Expedita omnis delectus quod quia error, labore
            nobis id, corrupti mollitia incidunt molestiae reiciendis commodi
            animi ad.
          </p>
        </div>

        <div class="contents">
          <img
            src="https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cGVyc29ufGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
            alt=""
          />
          <h3 class="caption">Graphic Designer</h3>
          <div class="ratings">
            <i class="fa-solid fa-star secondary"></i>
            <i class="fa-solid fa-star secondary"></i
            ><i class="fa-solid fa-star secondary"></i
            ><i class="fa-solid fa-star secondary"></i
            ><i class="fa-solid fa-star secondary"></i>
          </div>
          <p class="txt">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel iusto
            fugiat expedita a. Expedita omnis delectus quod quia error, labore
            nobis id, corrupti mollitia incidunt molestiae reiciendis commodi
            animi ad.
          </p>
        </div>

        <div class="contents">
          <img
            src="https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cGVyc29ufGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
            alt=""
          />
          <h3 class="caption">5th Designer</h3>
          <div class="ratings">
            <i class="fa-solid fa-star secondary"></i>
            <i class="fa-solid fa-star secondary"></i
            ><i class="fa-solid fa-star secondary"></i
            ><i class="fa-solid fa-star secondary"></i
            ><i class="fa-solid fa-star secondary"></i>
          </div>
          <p class="txt">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel iusto
            fugiat expedita a. Expedita omnis delectus quod quia error, labore
            nobis id, corrupti mollitia incidunt molestiae reiciendis commodi
            animi ad.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
