<section class="services">
  <div class="container">
    <h2 class="section-heading">Services</h2>
    <div class="group">
      <div class="item">
        <span>
          <i class="fa-solid fa-pen-nib"></i>
        </span>
        
        <h3 class="item-heading">Item Heading</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, sint?
          Dignissimos, qui error. 
        </p>
      </div>

      <div class="item">
        <span>
          <i class="fa-solid fa-pen-nib"></i>
        </span>
        <h3 class="item-heading">Item Heading</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, sint?
          Dignissimos, qui error. 
        </p>
      </div>

      <div class="item">
        <span>
          <i class="fa-solid fa-pen-nib"></i>
        </span>
        <h3 class="item-heading">Item Heading</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, sint?
          Dignissimos, qui error. 
        </p>
      </div>

      <div class="item">
        <span>
          <i class="fa-solid fa-pen-nib"></i>
        </span>
        <h3 class="item-heading">Item Heading</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, sint?
          Dignissimos, qui error. 
        </p>
      </div>

      <div class="item">
        <span>
          <i class="fa-solid fa-pen-nib"></i>
        </span>
        <h3 class="item-heading">Item Heading</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, sint?
          Dignissimos, qui error. 
        </p>
      </div>

      <div class="item">
        <span>
          <i class="fa-solid fa-pen-nib"></i>
        </span>
        <h3 class="item-heading">Item Heading</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, sint?
          Dignissimos, qui error. 
        </p>
      </div>
  </div>
</section>
