<section class="why-choose-us">
  <div class="container">
    <h2 class="section-heading">Why Choose Us</h2>
    <div class="group">
      <div class="content">
        <!-- <h3>Sub Heading</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga officiis
          quidem sed officia vel consequuntur beatae consequatur inventore.
          Nobis ratione corporis quia porro quas placeat voluptate repudiandae
          sit aut eum.
        </p> -->
        <div class="content-group">
          <div class="item">
            <i class="fa-solid fa-clock"></i>
            <h4 class="item-heading">Consistency</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
          <div class="item">
            <i class="fa-solid fa-hammer"></i>
            <h4 class="item-heading">Job Well Done</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
          <div class="item">
            <i class="fa-solid fa-trowel"></i>
            <h4 class="item-heading">Hard Work</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
          <div class="item">
            <i class="fa-solid fa-trowel"></i>
            <h4 class="item-heading">Hard Work</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
          </div>
        </div>
      </div>
      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1561145999-3da06f41faae?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGx1bWJlcmphY2t8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
