<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-1173">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Work Process</span>
            <h2 class="cs-title">How To Get Started</h2>
            <p class="cs-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa libero sint hic accusantium exercitationem, voluptatem officia quaerat velit quis ullam?
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/lightbulb-red.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Identify Issues</h3>
                <p class="cs-item-text">
                    Extensible for web iterate process before meta services impact with employee engagement strategies.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/puzzle-red.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Prepare Solution</h3>
                <p class="cs-item-text">
                    Extensible for web iterate process before meta services impact with employee engagement strategies.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/gears-red.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Working On This</h3>
                <p class="cs-item-text">
                    Extensible for web iterate process before meta services impact with employee engagement strategies.
                </p>
            </li>
        </ul>
    </div>
    <!--Tire Screech-->
    <img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/tire-mark.svg" alt="icon" width="840" height="357" loading="lazy" decoding="async" aria-hidden="true">
</section>