<section class="faqs">
  <div class="container group">
    <div class="accordion">
      <h3 class="sub-h">FAQS</h3>
      <h2 class="heading">Frequently Ask Questions</h2>
      <div class="accordion">
        <ul>
          <li>
            <input
              type="radio"
              name="accordion"
              id="accordion1"
              checked
            /><label for="accordion1" id="label1">First</label>
            <div id="accordion-content1" class="accordion-content">
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
                iusto dolorum labore, ratione alias, illum velit molestias
                repellat beatae rerum perferendis odit dicta impedit excepturi
                iste harum laudantium corrupti ducimus!
              </p>
            </div>
          </li>

          <li>
            <input type="radio" name="accordion" id="accordion2" /><label
              for="accordion2"
              id="label2"
              >Second</label
            >
            <div id="accordion-content2" class="accordion-content">
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
                iusto dolorum labore, ratione alias, illum velit molestias
                repellat beatae rerum perferendis odit dicta impedit excepturi
                iste harum laudantium corrupti ducimus!
              </p>
            </div>
          </li>

          <li>
            <input type="radio" name="accordion" id="accordion3" />
            <label for="accordion3" id="label3">Third</label>
            <div id="accordion-content3" class="accordion-content">
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
                iusto dolorum labore, ratione alias, illum velit molestias
                repellat beatae rerum perferendis odit dicta impedit excepturi
                iste harum laudantium corrupti ducimus!
              </p>
            </div>
          </li>

          <li>
            <input type="radio" name="accordion" id="accordion4" /><label
              for="accordion4"
              id="label4"
              >Fourth</label
            >
            <div id="accordion-content4" class="accordion-content">
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
                iusto dolorum labore, ratione alias, illum velit molestias
                repellat beatae rerum perferendis odit dicta impedit excepturi
                iste harum laudantium corrupti ducimus!
              </p>
            </div>
          </li>

          <li>
            <input type="radio" name="accordion" id="accordion5" /><label
              for="accordion5"
              id="label5"
              >Fifth</label
            >
            <div id="accordion-content5" class="accordion-content">
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
                iusto dolorum labore, ratione alias, illum velit molestias
                repellat beatae rerum perferendis odit dicta impedit excepturi
                iste harum laudantium corrupti ducimus!
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="img-container">
      <img
        src="https://webkit.moxcreative.com/fixhouse/wp-content/uploads/sites/8/2023/05/img1.png"
        alt=""
      />
    </div>
  </div>
</section>
