<!-- ============================================ -->
<!--                   Hero                       -->
<!-- ============================================ -->

<section id="hero-408">
    <div class="cs-container container">
        <div class="cs-content">
            <h2 class="cs-title"><span class="cs-color">All the Best Plant</span> Under One Roof</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
            </p>
            <a href="" class="cs-button-solid">Get A Quote</a>
            <a href="" class="cs-button-transparent">Our Services</a>
            <span class="cs-header">Trusted by:</span>
            <div class="cs-logo-group">
                <!--Logo 1-->
                <img class="cs-logo" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/logo1.svg" alt="logo" width="113" height="31" decoding="async">
                <!--Logo 2-->
                <img class="cs-logo" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/logo2.svg" alt="logo" width="113" height="40" decoding="async">
                <!--Logo 3-->
                <img class="cs-logo" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/logo3.svg" alt="logo" width="113" height="30" decoding="async">
                <!--Logo 4-->
                <img class="cs-logo" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/logo4.svg" alt="logo" width="113" height="37" decoding="async">
            </div>
        </div>
        <div class="cs-stat-group">
            <picture class="cs-background">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Hero/leaves.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Hero/leaves.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/leaves.jpg" alt="leaves" width="842" height="737" aria-hidden="true">
            </picture>
            <div class="cs-stat-box">
                <span class="cs-stat">
                    263
                    <span class="cs-desc">Happy Families</span>
                </span>
            </div>
            <div class="cs-stat-box">
                <span class="cs-stat">
                    5/5
                    <span class="cs-desc">Google Rating</span>
                </span>
            </div>
        </div>
    </div>
</section>