<section class="projects">
  <div class="container">
    <h3 class="sub-h">Projects</h3>
    <h2 class="heading">Our Works</h2>
    <div class="group">
      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1541093585232-b5c4f5bc431a?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHdpcmVzfGVufDB8fDB8fHww"
          alt=""
        />
      </div>

      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1541093585232-b5c4f5bc431a?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHdpcmVzfGVufDB8fDB8fHww"
          alt=""
        />
      </div>

      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1541093585232-b5c4f5bc431a?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHdpcmVzfGVufDB8fDB8fHww"
          alt=""
        />
      </div>

      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1541093585232-b5c4f5bc431a?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHdpcmVzfGVufDB8fDB8fHww"
          alt=""
        />
      </div>

      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1541093585232-b5c4f5bc431a?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHdpcmVzfGVufDB8fDB8fHww"
          alt=""
        />
      </div>

      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1541093585232-b5c4f5bc431a?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHdpcmVzfGVufDB8fDB8fHww"
          alt=""
        />
      </div>
    </div>
    <a href="/projects" class="cs-button-solid">See More</a>
  </div>
</section>
