<section class="costs">
  <div class="container">
    <h2 class="heading">Calculate your costs</h2>
    <p class="sub-h">Cost Calculator</p>
    <div class="group">
      <div class="item">
        <span class="icon">
          <i class="fa-solid fa-map"></i>
        </span>
        <h4>Step 1</h4>
        <p>Submit the details of your renovation</p>
      </div>

      <div class="item">
        <span class="icon">
          <i class="fa-solid fa-map"></i>
        </span>

        <h4>Step 1</h4>
        <p>Submit the details of your renovation</p>
      </div>

      <div class="item">
        <span class="icon">
          <i class="fa-solid fa-map"></i>
        </span>
        <h4>Step 1</h4>
        <p>Submit the details of your renovation</p>
      </div>

      <div class="item">
        <span class="icon">
          <i class="fa-solid fa-map"></i>
        </span>
        <h4>Step 1</h4>
        <p>Submit the details of your renovation</p>
      </div>
    </div>
    <button class="cs-button-solid">Cost Calculator</button>
  </div>
</section>
