<section class="container costs">
  <div class="col">
    <p>Cost Calculator</p>
    <h3>Calculate your costs</h3>
  </div>

  <div class="group">
    <div class="item">
      <span class="icon">
        <i class="fa-solid fa-map"></i>
      </span>
      <h4>Step 1</h4>
      <p>Submit the details of your renovation</p>
    </div>

    <div class="item">
      <span class="icon">
        <i class="fa-solid fa-map"></i>
      </span>

      <h4>Step 1</h4>
      <p>Submit the details of your renovation</p>
    </div>

    <div class="item">
      <span class="icon">
        <i class="fa-solid fa-map"></i>
      </span>
      <h4>Step 1</h4>
      <p>Submit the details of your renovation</p>
    </div>

    <div class="item">
      <span class="icon">
        <i class="fa-solid fa-map"></i>
      </span>
      <h4>Step 1</h4>
      <p>Submit the details of your renovation</p>
    </div>
  </div>
  <button class="btn-primary">Cost Calculator</button>
</section>
