<!-- <section class="estimate">
  <div class="img-container">
    <img
      src="https://i.pinimg.com/originals/7f/d4/2c/7fd42cb7bb1d87cdd665dd47d03d3a61.jpg"
      alt=""
    />
  </div>

  <div class="row flex-group container">
    <div class="col info">
      <p><span>Free </span> Heating & Cooling service estimate</p>
      <p>
        *for detailed quote use <span class="primary">extended version</span>
      </p>
      <label for="">Type of Service</label>
      <select name="" id="">
        <option value="">Installation</option>
        <option value="">Installation</option>
        <option value="">Installation</option>
        <option value="">Installation</option>
      </select>

      <select name="" id="">
        <option value="">Space Heating System</option>
        <option value="">Water Heating System</option>
      </select>
      <input type="range" id="vol" name="vol" min="0" />
      $ 0.00
    </div>
    <div class="col contact">
      <p>Let's Work together</p>
      <h3>office@bold-themes.com</h3>
      <div class="row">
        <i class="fa-regular fa-clock"></i>
        <div class="col">
          <p>WORKING HOURS</p>
          <p>Mon - Sat 8.00 - 18.00, Sunday CLOSED</p>
        </div>
      </div>

      <div class="row">
        <i class="fa-regular fa-clock"></i>
        <div class="col">
          <p>WORKING HOURS</p>
          <p>Mon - Sat 8.00 - 18.00, Sunday CLOSED</p>
        </div>
      </div>

      <div class="row">
        <i class="fa-regular fa-clock"></i>
        <div class="col">
          <p>WORKING HOURS</p>
          <p>Mon - Sat 8.00 - 18.00, Sunday CLOSED</p>
        </div>
      </div>
      <div class="col">
        <p>24/7 Emergency Services</p>
        <a href="tel:+"><i class="fa-solid fa-phone">+1 (800) 456 888</i></a>
      </div>
    </div>
  </div>
</section> -->
