<section id="hero">
  <div class="img-container">
    <div class="img-overlay"></div>
    <img
      src="https://csimg.nyc3.digitaloceanspaces.com/Hero/kitchen.jpg"
      alt=""
    />
  </div>
  <div class="top">
    <div class="container">
      <div class="group">
        <div class="content">
          <h1 class="main-h">Solving Your Plumbing Problems</h1>
          <p>
            Professional Plumbing Services for Home and Business. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Assumenda, quo minima
            officia rem soluta voluptate sequi.
          </p>
          <div class="btns">
            <button class="cs-button-solid">Get A Free Quote</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="container group">
      <div class="item">
        <i class="fa-solid fa-car"></i>
        <h3>Full Kitchen Remodel</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="item">
        <i class="fa-solid fa-car"></i>
        <h3>Full Kitchen Remodel</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="item">
        <i class="fa-solid fa-car"></i>
        <h3>Full Kitchen Remodel</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="item">
        <i class="fa-solid fa-car"></i>
        <h3>Full Kitchen Remodel</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>
</section>
