<section id="hero">
  <div class="container">
    <h2>Quality <span class="primary">Heating</span> Services</h2>
    <button class="btn-primary">Request Service</button>
  </div>
  <i class="fa-solid fa-angle-left primary" id="left"> </i>

  <p>Get in touch for a custom quote</p>

  <i class="fa-solid fa-angle-right primary" id="right"> </i>
</section>
<section class="container emgergency services">
  <p>Our Emergency Services</p>
  <a href="tel:+1 (088) 456 888" class="primary"> +1 (088) 456 888 (24/7)</a>
  <div class="row">
    <i class="fa-solid fa-clock"></i>
    <div class="col">
      <p>Working Hours</p>
      <p>Mon, Sat 8.00 - 18.00</p>
      <p>Sunday CLOSED</p>
    </div>
  </div>

  <div class="row">
    <i class="fa-solid fa-location-crosshairs"></i>
    <div class="col">
      <p>Location</p>
      <p>1010 Avenue, NY</p>
      <p>10018 US</p>
    </div>
  </div>
</section>
