<section class="faq-section">
  <div class="container group">
    <div class="accordion">
      <h2>How to decide between new HVAC system quotes</h2>
      <p>
        Courtesy may not be the first thing people think of when it comes to
        plumbing, but for us, it's one of the most important tools we carry.
      </p>
      <ul>
        <li>
          <input type="checkbox" name="accordion" id="accordion1" /><label
            for="accordion1"
            id="label1"
            >First
            <i class="fa-solid fa-angle-down"></i>
          </label>
          <div id="accordion-content1" class="accordion-content">
            <h4>First</h4>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
              iusto dolorum labore, ratione alias, illum velit molestias
              repellat beatae rerum perferendis odit dicta impedit excepturi
              iste harum laudantium corrupti ducimus!
            </p>
          </div>
        </li>

        <li>
          <input type="checkbox" name="accordion" id="accordion2" /><label
            for="accordion2"
            id="label2"
            >Second<i class="fa-solid fa-angle-down"></i
          ></label>
          <div id="accordion-content2" class="accordion-content">
            <h4>Second</h4>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
              iusto dolorum labore, ratione alias, illum velit molestias
              repellat beatae rerum perferendis odit dicta impedit excepturi
              iste harum laudantium corrupti ducimus!
            </p>
          </div>
        </li>

        <li>
          <input type="checkbox" name="accordion" id="accordion3" />
          <label for="accordion3" id="label3"
            >Third<i class="fa-solid fa-angle-down"></i
          ></label>
          <div id="accordion-content3" class="accordion-content">
            <h4>Third</h4>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
              iusto dolorum labore, ratione alias, illum velit molestias
              repellat beatae rerum perferendis odit dicta impedit excepturi
              iste harum laudantium corrupti ducimus!
            </p>
          </div>
        </li>

        <li>
          <input type="checkbox" name="accordion" id="accordion4" /><label
            for="accordion4"
            id="label4"
            >Fourth<i class="fa-solid fa-angle-down"></i
          ></label>
          <div id="accordion-content4" class="accordion-content">
            <h4>Fourth</h4>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
              iusto dolorum labore, ratione alias, illum velit molestias
              repellat beatae rerum perferendis odit dicta impedit excepturi
              iste harum laudantium corrupti ducimus!
            </p>
          </div>
        </li>

        <li>
          <input type="checkbox" name="accordion" id="accordion5" /><label
            for="accordion5"
            id="label5"
            >Fifth<i class="fa-solid fa-angle-down"></i
          ></label>
          <div id="accordion-content5" class="accordion-content">
            <h4>Fifth</h4>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
              iusto dolorum labore, ratione alias, illum velit molestias
              repellat beatae rerum perferendis odit dicta impedit excepturi
              iste harum laudantium corrupti ducimus!
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="img-container">
      <img
        src="https://images.unsplash.com/photo-1607472586893-edb57bdc0e39?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cGlwZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
    </div>
  </div>
</section>
