<section class="what-we-do">
  <div class="container">
    <div class="group">
      <div class="content">
        <h2 class="heading">What We Do</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At
          consectetur magnam explicabo. Fuga quibusdam explicabo odit obcaecati
          illum, fugit blanditiis cupiditate voluptatibus soluta accusantium
          nostrum doloribus ex ut error unde.
        </p>
        <div class="skills">
          <div class="skill" style="--bar-width: 90%">
            <div class="info">
              <p>HTML</p>
              <span class="tooltip">90%</span>
            </div>

            <div class="skill-bar">
              <div class="skill-per"></div>
            </div>
          </div>

          <div class="skill" style="--bar-width: 80%">
            <div class="info">
              <p>HTML</p>
              <span class="tooltip">80%</span>
            </div>

            <div class="skill-bar">
              <div class="skill-per"></div>
            </div>
          </div>

          <div class="skill" style="--bar-width: 70%">
            <div class="info">
              <p>HTML</p>
              <span class="tooltip">70%</span>
            </div>

            <div class="skill-bar">
              <div class="skill-per"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="item">
            <i class="fa-solid fa-diagram-project"></i>
            <h4 class="item-heading">Best Approach</h4>
          </div>
          <div class="item">
            <i class="fa-solid fa-diagram-project"></i>
            <h4 class="item-heading">Best Approach</h4>
          </div>
        </div>
      </div>
      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1538474705339-e87de81450e8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHBsdW1iaW5nJTIwc2VydmljZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
