<section class="what-we-do">
  <div class="container">
    <div class="group">
      <div class="content">
        <p>What We Do</p>
        <h2 class="heading">
          We offer reliable <span class="primary">reliable services</span> for
          most heating systems.
        </h2>
        <p></p>
        <div class="skills">
          <div class="skill" style="--bar-width: 45%">
            <div class="info">
              <p>Energy consumption that goes to heating</p>
              <span class="tooltip">45%</span>
            </div>

            <div class="skill-bar">
              <div class="skill-per"></div>
            </div>
          </div>

          <div class="skill" style="--bar-width: 90%">
            <div class="info">
              <p>Average indoor spend time by individual</p>
              <span class="tooltip">90%</span>
            </div>

            <div class="skill-bar">
              <div class="skill-per"></div>
            </div>
          </div>

          <div class="skill" style="--bar-width: 50%">
            <div class="info">
              <p>Lower your HVAC costs with maintenance</p>
              <span class="tooltip">50%</span>
            </div>

            <div class="skill-bar">
              <div class="skill-per"></div>
            </div>
          </div>

          <div class="skill" style="--bar-width: 40%">
            <div class="info">
              <p>Lower monthly costs with speed heat pumps</p>
              <span class="tooltip">40%</span>
            </div>

            <div class="skill-bar">
              <div class="skill-per"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="item">
            <i class="fa-solid fa-diagram-project"></i>
            <h4 class="item-heading">Best Approach</h4>
          </div>
          <div class="item">
            <i class="fa-solid fa-diagram-project"></i>
            <h4 class="item-heading">Best Approach</h4>
          </div>
        </div>
      </div>
      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1538474705339-e87de81450e8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHBsdW1iaW5nJTIwc2VydmljZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
