<section>
  <div class="container">
    <p>What we do</p>
    <h2>We offer <span class="primary">reliable services</span></h2>
    <div class="row">
      <div class="col">
        <span class="stat"> 45% </span>
        <p>Energy consumption goes to heating</p>
      </div>

      <div class="col">
        <span class="stat"> 45% </span>
        <p>Energy consumption goes to heating</p>
      </div>

      <div class="col">
        <span class="stat"> 45% </span>
        <p>Energy consumption goes to heating</p>
      </div>

      <div class="col">
        <span class="stat"> 45% </span>
        <p>Energy consumption goes to heating</p>
      </div>

    </div>
  </div>
</section>
