<section class="your-comfort">
  <div class="container">
    <h2 class="heading">
      Your comfort is our <span class="primary">#1 priority</span>
    </h2>
    <p>Phasellus congue purus sed scelerisque.</p>

    <div class="group">
      <div class="item">
        <i class="fa-solid fa-blender-phone"></i>
        <h3>Heat Pumps</h3>
        <p>
          Sit felis vitae nulla tincidunt. Velit ut lectus donec, proin metus
          aenean dolor nunc, at arcu malesuada.
        </p>
      </div>

      <div class="item">
        <i class="fa-solid fa-blender-phone"></i>
        <h3>Floor Heating</h3>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus
          antium doloremque.
        </p>
      </div>

      <div class="item">
        <i class="fa-solid fa-blender-phone"></i>
        <h3>Furnaces</h3>
        <p>
          Pulvinar lobortis curabitur quis donec. Dictum integer in malesuada
          dolor, ut nec inceptos ipsum.
        </p>
      </div>

      <div class="item">
        <i class="fa-solid fa-blender-phone"></i>
        <h3>Exhaust Fans</h3>
        <p>
          Vestibulum ac risus maecenas, eget non, suspendisse numquam eget lacus
          in sed ac, enim torquent.
        </p>
      </div>
    </div>
    <button class="cs-button-solid">Full List of Services</button>
  </div>
</section>
