<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
  <div class="container">
    <div class="content">
      <h2 class="title">
        Get in touch
        <br />
      </h2>
      <p>Get a free consultation with an electrical engineer.</p>
      <input type="text" placeholder="Name " />
      <input type="tel" placeholder="Phone " />
      <textarea name="" id="" cols="30" rows="5" placeholder="Message "></textarea>
      <a href="/contact" class="cs-button-solid">Get an Estimate Now</a>
    </div>
  </div>
</section>
