/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

// process css
#process-container {
  background-color: #fff;
  padding-bottom: 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--p-lg);
    width: 100%;
    flex: 1;

    .item {
      margin: auto;
      align-items: center;
      padding: var(--p-md);
      border-radius: 50%;
      gap: var(--p-sm);
      aspect-ratio: 1;
      justify-content: center;
      text-align: center;
      width: 100%;
      max-width: 300px;
      position: relative;
      img {
        display: none;
      }
      i {
        font-size: 2.5rem;
      }
      p {
        font-weight: bold;
        font-size: clamp(1.25rem, 1.25vw, 3.5rem);
      }
    }
    .item:nth-child(odd) {
      background-color: #e4f0ff;
      i {
        color: var(--primary);
      }
      p {
        color: #0d6efd;
      }
    }
    .item:nth-child(even) {
      background-color: #0052da;
      color: #fff;
    }
  }
}
@media screen and (min-width: 720px) {
  #process-container {
    .group {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      .item {
        width: 100%;
      }
    }
  }
}
@media screen and (min-width: 920px) {
  #process-container {
    .item:nth-child(2) {
      img {
        display: block;
        position: absolute;
        width: 40px;
      }
      img:nth-of-type(1) {
        left: -8vw;
      }
      img:nth-of-type(2) {
        right: -8vw;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  #process-container {
    .container {
      .item:nth-child(2) {
        img {
          width: 50px;
        }
        img:nth-of-type(1) {
          left: -60%;
        }
        img:nth-of-type(2) {
          right: -60%;
        }
      }
    }
  }
}

//
#about-us-container {
  background-color: #fff;
  .container {
    display: flex;
    flex-direction: column;
    gap: var(--p-md);
  }
  #about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--p-md);
    .text {
      display: flex;
      flex-direction: column;
      gap: var(--p-md);
    }
  }
}

@media screen and (min-width: 720px) {
  #about-us-container {
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--p-lg);
    }
  }
}

// Offer CSS
@media only screen and (min-width: 0em) {
  #offer-container {
    display: flex;
    gap: var(--p-lg);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f8fe;

    .heading {
      text-align: center;
    }

    .group {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: var(--p-md);
      justify-content: center;
    }

    .item {
      display: flex;
      flex-direction: column;
      gap: var(--p-md);
      padding: var(--p-md);
      border-radius: 20px;
      background-color: #fff;
    }

    .item-info {
      display: flex;
      flex-direction: column;
      gap: var(--p-sm);
    }

    .img-container {
      max-width: 100%;
      overflow: hidden;
      border-radius: 20px;
    }

    .item img {
      position: relative;
      transition: 0.5s;

      width: 100%;
      height: 100%;
    }

    .item:hover img {
      transform: scale(1.2);
    }

    .item a {
      color: var(--primary);
    }
  }
}

@media screen and (min-width: 650px) {
  #offer-container {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 990px) {
  #offer-container {
    .group {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

// Blue Banner
#blue-banner {
  color: #fff;
  background-color: #0052da;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 0;
  .container {
    display: flex;
    flex-direction: column;
    gap: var(--p-lg);
    align-items: center;
  }
  .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--p-md);
    padding: var(--p-md) var(--p-lg);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
    width: fit-content;

    .large {
      font-size: 3.5rem;
      font-weight: 600;
    }

    span {
      display: flex;
      align-items: center;
      gap: var(--p-sm);
      font-size: 0.5rem;
    }
    .col {
      gap: 2px;
    }
  }
  h3 {
    color: inherit;
  }
  .group {
    display: flex;
    flex-direction: column;
    gap: var(--p-lg);
    justify-content: start;
    align-items: center;

    .item {
      display: grid;
      grid-template-areas:
        "i stat"
        "i text";
      gap: var(--p-md);
      row-gap: var(--p-s);
      align-items: center;
      justify-content: center;
      flex-direction: row;
      text-align: left;
      i {
        font-size: 4.5rem;
        grid-area: i;
      }
      span {
        font-size: clamp(1.75rem, 2.5vw, 2.4rem);
        font-weight: 700;
      }
    }
  }
}

@media screen and (min-width: 580px) {
  #blue-banner {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: calc(var(--p-lg) + var(--p-md));
      .item i {
        font-size: 4rem;
      }
      .item span {
        font-size: 2.5rem;
      }
    }
  }
}

.projects {
  text-align: center;

  input[type="radio"] {
    display: none;
  }

  .tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    margin: auto;
    padding-bottom: var(--p-lg);
    gap: var(--p-sm);
  }

  .tab {
    color: var(--primary);
    z-index: 1;
    text-align: center;
    display: flex;
  }

  .tab label {
    transition: 0.3 all ease;
    height: 100%;
    width: 100%;
    background-color: var(--borderColor);
    cursor: pointer;
    padding: var(--p-sm) var(--p-md);
    border-radius: 45px;
    text-transform: uppercase;
    font-size: clamp(0.9rem, 0.95vw, 1.75rem);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #all:checked ~ .tabs label[for="all"],
  #home:checked ~ .tabs label[for="home"],
  #blog:checked ~ .tabs label[for="blog"],
  #code:checked ~ .tabs label[for="code"],
  #help:checked ~ .tabs label[for="help"],
  #about:checked ~ .tabs label[for="about"] {
    color: var(--primary-bg-color);
    background-color: var(--primary);
  }

  .group {
    position: relative;
    .home,
    .code,
    .blog,
    .code,
    .help,
    .about {
      transition: 0.6s;
      width: 0;
      height: 0;
      position: absolute;
    }
  }

  #home:checked ~ .group {
    .home {
      height: 100%;
      width: 100%;
      position: static;
      z-index: 1;
    }
  }

  #code:checked ~ .group {
    .code {
      height: 100%;
      width: 100%;
      position: static;
      z-index: 1;
    }
  }

  #blog:checked ~ .group {
    .blog {
      height: 100%;
      width: 100%;
      position: static;
      z-index: 1;
    }
  }

  #blog:checked ~ .group {
    .blog {
      height: 100%;
      width: 100%;
      position: static;
      z-index: 1;
    }
  }

  #help:checked ~ .group {
    .help {
      height: 100%;
      width: 100%;
      position: static;
      z-index: 1;
    }
  }

  #about:checked ~ .group {
    .about {
      height: 100%;
      width: 100%;
      position: static;
      z-index: 1;
    }
  }

  #all:checked ~ .group {
    .item {
      height: 100%;
      width: 100%;
      position: static;
      z-index: 1;
    }
  }

  .overlay {
    padding: var(--p-lg);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    color: var(--white);
    gap: var(--p-sm);
    .item-h {
      font-size: clamp(1.25rem, 2.5vw, 2rem);
    }
  }

  .item {
    img {
      object-fit: cover;
      aspect-ratio: .9;
    }
  }

  .img-container:hover {
    .overlay {
      transform: scale(1);
      background: var(--primary);
      opacity: 0.8;
    }
  }
}

@media screen and (min-width: 400px) {
  .projects {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .tabs {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (min-width: 768px) {
  .projects {
    .group {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (min-width: 900px) {
  .projects {
    .tabs {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}

// Dedicated Members
#dedicated-members {
  gap: var(--p-lg);

  .group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--p-md);

    .item {
      background-color: #fff;
      border-radius: 35px;
      -webkit-box-shadow: 3px 13px 26px -9px var(--borderColor);
      -moz-box-shadow: 3px 13px 26px -9px var(--borderColor);
      box-shadow: 3px 13px 26px -9px var(--borderColor);
      .img-container {
        border-radius: 35px;
        position: relative;
        overflow: hidden;
        .overlay {
          i {
            padding: var(--p-sm);
            font-size: 1.75rem;
            color: var(--primary);
            background-color: var(--primary-bg-color);
            border-radius: 50%;
            cursor: pointer;
            transition: 0.3s;
          }
          i:hover {
            color: var(--primary-bg-color);
            background-color: var(--primary);
          }
        }
        img {
          border-radius: 35px;
        }
      }

      .item-info {
        padding: var(--p-md);
        padding-bottom: var(--p-lg);
        align-self: flex-start;
      }
    }

    .item:hover {
      .overlay {
        transform: scale(1);
      }
    }
  }
}

@media screen and (min-width: 600px) {
  #dedicated-members {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 995px) {
  #dedicated-members {
    .group {
      display: grid;
      padding: var(--p-sm);
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

// Book Online
#book-online-container {
  padding: 0;
  gap: 0;
  background-color: #283444;
  .book-online {
    padding: var(--p-md);
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: var(--p-lg);
    h2 {
      color: inherit;
    }
    span {
      color: #9bb1d5;
      text-transform: uppercase;
    }
    form {
      display: flex;
      width: 100%;
      flex-direction: column;
    }
    input,
    textarea {
      background-color: #384559;
      outline: none;
      border: none;
      margin-top: var(--p-sm);
      margin-bottom: var(--p-md);
      color: #bababa;
    }
  }
}

@media screen and (min-width: 768px) {
  #book-online-container {
    .book-online {
      padding: var(--p-lg);
    }
  }
}

@media screen and (min-width: 1000px) {
  #book-online-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--p-md);
    .book-online {
      margin-right: 0;
      max-width: calc(var(--maxContainerWidth) / 2);
    }
    .img-container {
      height: 100%;
      width: 100%;
      position: relative;
      order: 2;
      img {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
      }
    }
  }
}

// What People Say
.reviews {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--p-md);
  }
  .heading {
    display: flex;
    flex-direction: column;
    gap: var(--p-md);
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .item {
    text-align: center;
    padding: var(--p-md);
    position: relative;
    border-radius: var(--b-radius);
    -webkit-box-shadow: 3px 13px 26px -9px var(--borderColor);
    -moz-box-shadow: 3px 13px 26px -9px var(--borderColor);
    box-shadow: 3px 13px 26px -9px var(--borderColor);
    border: 1px solid var(--borderColor);
    gap: var(--p-md);
    background-color: var(--white);
    .item-heading {
      font-size: 1.15rem;
      font-weight: bold;
    }
    .quotation {
      color: var(--primary);
      font-size: 1.5rem;
    }
    img {
      border-radius: 50%;
      aspect-ratio: 1;
      object-fit: cover;
      width: 100px;
    }
    .info {
      i {
        color: var(--secondary);
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .reviews {
    .group {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    .item {
      padding: var(--p-lg);
    }
  }
}

// Latest News and Blogs
#blogs {
  .group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: var(--p-md);

    .item {
      flex: 1;
      width: 100%;
      background-color: #fff;
      border-radius: var(--b-radius);
      box-shadow: 0px 2px 20px 0px rgba(62, 65, 159, 0.09);

      img {
        width: 100%;
        border-radius: 0;
        border-radius: inherit;
      }

      .item-info {
        padding: var(--p-md) var(--p-sm);
        display: flex;
        flex-direction: column;
        gap: var(--p-md);
        align-self: flex-start;
        a {
          font-size: clamp(1.05rem, 2vw, 1.31rem);
          font-weight: 700;
          letter-spacing: 0.8px;
        }

        a:hover {
          color: var(--primary);
        }
        .sub-info {
          display: flex;
          gap: var(--p-md);
          align-items: center;

          p {
            font-size: 0.75rem;
          }
          div {
            display: flex;
            align-items: center;
            gap: var(--p-sm);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 765px) {
  #blogs {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--p-md);
    }
  }
}

@media screen and (min-width: 765px) {
  #blogs {
    .group {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
