/* STYLES FOR ABOVE THE FOLD */

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */

#hero {
  height: 80vh;
  gap: 0;
  padding: 0;
  position: relative;
  color: var(--white);
  background-image: url("https://images.unsplash.com/photo-1604003706189-a959f802ad22?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c2t5c2NyYXBwZXJ8ZW58MHwwfDB8fHww&auto=format&fit=crop&w=500&q=600");
  background-repeat: no-repeat;
  background-size: cover;text-align: left;
  h1 {
    color: var(--white);
  }
  .overlay {
    background: rgba(0, 0, 0, 0.75);
  }
  #hero div {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--p-md);
    padding: var(--sectionPadding);
    position: relative;
  }
  .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .img-container {
    position: absolute;
    height: 100%;
    width: 100%;
    img {
      object-fit: cover;
    }
  }
}

@media screen and (min-width: 700px) {
  #hero {
    min-height: 100vh;
  }
}
