/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

// how-we-help
.how-we-help {
  .content {
    display: flex;
    flex-direction: column;
    gap: var(--p-sm);
  }
}

@media screen and (min-width: 0) {
  .how-we-help {
  }
}
// end of how-we-help

// clients-banner
.clients-banner {
  background-color: var(--primary);
  img {
    filter: saturate(50%);
    opacity: 80%;
    transition: 0.3s ease-in-out;
  }
  img:hover {
    filter: saturate(100%);
    opacity: 1;
  }
}

@media screen and (min-width: 300px) {
  .clients-banner {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 500px) {
  .clients-banner {
    .group {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
// end of clients-banner

//// features
.features {
}

@media screen and (min-width: 0) {
  .features {
  }
}
// end of features

// our-principles
.our-principles {
}

@media screen and (min-width: 0) {
  .our-principles {
  }
}
// end of our-principles

// project-management
.project-management {
}

@media screen and (min-width: 0) {
  .project-management {
  }
}
// end of project-management

// stats
.stats {
}

@media screen and (min-width: 0) {
  .stats {
  }
}
// end of stats

// accordion
.accordion {
  .content {
    display: flex;
    gap: var(--p-sm);
    flex-direction: column;
  }
  .faq {
    cursor: pointer;
    padding: var(--p-sm);
    background-color: var(--light-bg);
    border-bottom: 1px solid var(--primary);
  }

  .question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--p-sm) 0;
  }

  i {
    color: var(--primary);
  }

  .answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease;
  }

  .faq.active .answer {
    max-height: 300px;
    animation: fade 1s ease-in-out;
  }

  .faq i {
    transition: transform 0.5s ease-in-out;
  }

  .faq.active i {
    transform: rotate(-180deg);
  }

  @keyframes fade {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

@media screen and (min-width: 500px) {
  .accordion {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--p-md);
    }
  }
}
// end of accordion

// location
.location {
  padding: 0;

  iframe {
    width: 100%;
    height: 100%;min-height: 600px;
  }

  .dark-mode iframe {
    filter: invert(100%);
  }
}

@media screen and (min-width: 0) {
  .location {
  }
}
// end of location

// reviews
.reviews {
  .slider {
    display: flex;
    overflow: hidden;
    background-color: #fff;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: var(--b-radius);
  }

  .radio {
    padding: 7px;
    background-color: var(--tertiary);
    transition: all 0.4s;
    z-index: 10;
    cursor: pointer;
    appearance: none;
    backface-visibility: hidden;
    position: absolute;
    bottom: 1rem;
    border-radius: var(--b-radius);
  }

  .radio:nth-of-type(1) {
    left: 10%;
  }

  .radio:nth-of-type(2) {
    left: 30%;
  }

  /* .radio:nth-of-type(3) {
  left: 50%;
} */

  .radio:nth-of-type(4) {
    left: 65%;
  }

  .radio:nth-of-type(5) {
    left: 80%;
  }

  .radio:checked {
    background-color: var(--primary);
    animation: check 0.4s linear;
  }

  .radio:checked:nth-of-type(1) ~ .inner {
    margin-right: 0%;
  }
  .radio:checked:nth-of-type(2) ~ .inner {
    margin-right: 200%;
  }
  .radio:checked:nth-of-type(3) ~ .inner {
    margin-right: 400%;
  }
  .radio:checked:nth-of-type(4) ~ .inner {
    margin-right: 600%;
  }
  .radio:checked:nth-of-type(5) ~ .inner {
    margin-right: 800%;
  }

  .inner {
    width: 100%;
    height: 100%;
    transition: 0.7s;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
  }

  .inner img {
    aspect-ratio: 1;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
  }

  .contents {
    height: 100%;
    padding: 3rem 2rem;
    display: flex;
    width: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: var(--p-sm);
    text-align: center;
    /* make each child the same width as the parent */
    flex: 0 0 100%;
  }

  .ratings {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--p-s);
  }

  .contents p {
    max-width: 800px;
  }
}

@media screen and (min-width: 500px) {
  .reviews {
    .contents {
      padding: 4rem;
    }
    .radio:nth-of-type(1) {
      left: 40%;
    }

    .radio:nth-of-type(2) {
      left: 45%;
    }

    .radio:nth-of-type(3) {
      left: 50%;
    }

    .radio:nth-of-type(4) {
      left: 55%;
    }

    .radio:nth-of-type(5) {
      left: 60%;
    }
  }
}
// end of reviews
