/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

// how-we-help
.how-we-help {
  .content {
    display: flex;
    flex-direction: column;
    gap: var(--p-sm);
    justify-content: center;
  }
}

@media screen and (min-width: 800px) {
  .how-we-help {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--p-md);
      img {
        object-fit: cover;
        min-height: 400px;
      }
    }
  }
}
// end of how-we-help

// project
.project {
  padding: 0;
  .img-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    img {
      object-fit: cover;
    }
  }
  .container {
    height: 100%;
    padding: var(--sectionPadding);
    color: var(--primary-bg-color);
    h2,
    h3 {
      color: inherit;
    }
  }
  button {
    background-color: var(--primary-bg-color);
    color: var(--primary);
  }
  .content {
    padding: var(--p-md);
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    gap: var(--p-s);
    justify-content: center;
  }
}

@media screen and (min-width: 500px) {
  .project {
    min-height: 500px;
    .img-container {
      width: 75%;
    }
    .content {
      margin-right: 0;
      margin-left: auto;
      max-width: calc(var(--maxContainerWidth) / 2);
      aspect-ratio: 1;
      max-height: 500px;
      padding: var(--p-lg);
    }
  }
}
// end of project

//// features
.features {
  .container {
    display: flex;
    gap: var(--p-sm);
    flex-direction: column;
  }
  .group {
    gap: var(--p-md);
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--p-sm);
      text-align: center;
      transition: 0.4s;
      border: 0.1rem solid var(--borderColor);
      i {
        font-size: 2rem;
        color: var(--primary);
      }
      img {
        transition: 0.45s ease-in-out;
      }
      .img-container {
        overflow: hidden;
      }
    }
    .item:nth-child(odd) {
      filter: saturate(0.55);
    }

    .item:nth-child(odd):hover {
      filter: saturate(1);
      img {
        transform: scale(1.2);
      }
    }

    .item:nth-child(even) {
      padding: var(--p-md);

      border-bottom: 0.2rem solid var(--primary);
    }

    .item:nth-child(even):hover {
      background-color: var(--primary);
      color: var(--primary-bg-color);
      border-bottom: 0.2rem solid var(--primary);
      .item-heading,
      .item-sub-heading,
      i {
        color: inherit;
      }
    }
  }
}

@media screen and (min-width: 550px) {
  .features {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      img {
        object-fit: cover;
      }
    }
  }
}

@media screen and (min-width: 850px) {
  .features {
    .group {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
// end of features

// our-principles
.our-principles {
  padding: 0;
  .img-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    img {
      object-fit: cover;
    }
  }
  .container {
    padding: var(--sectionPadding);
    color: var(--white);
    gap: var(--p-md);

    .section-heading,
    .section-sub-heading,
    .item-heading {
      color: inherit;
    }
    p {
      width: 90%;
    }
    button {
      background-color: var(--secondary);
      color: var(--bodyTextColor);
    }
    .content-group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--p-sm);
    }
    .item {
      background-color: var(--primary-bg-color);
      color: var(--primary);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: var(--p-sm);
      border: 1px solid transparent;
      transition: 0.3s;
      gap: var(--p-sm);
      aspect-ratio: 1.2;
      i {
        font-size: 2rem;
      }
      .item-heading {
        font-size: 1rem;
      }
    }
    .item:hover {
      border: 1px solid var(--primary-bg-color);
      background-color: var(--primary);
      color: var(--primary-bg-color);
    }
  }
}

@media screen and (min-width: 500px) {
  .our-principles {
    .container {
      .content-group {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .item {
          padding: var(--p-md);
          i {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
// end of our-principles

// stats
.stats {
  .item {
    display: flex;
    position: relative;
    gap: var(--p-md);
    align-items: center;
    justify-content: center;
  }
  .col {
    position: relative;
  }
  .stat {
    color: var(--primary);
    font-weight: bold;
    font-size: 5.25rem;
    align-self: flex-end;
    position: relative;
  }
  .item-heading {
    color: var(--primary);
    font-weight: bold;
    font-size: 1.5rem;
  }
  .item-sub-heading {
    text-transform: uppercase;
    font-weight: 600;
  }
  .background-stat {
    position: absolute; /* 1 pixel var(--borderColor) shadow to left, top, right and bottom */
    text-shadow: -1px 0 var(--borderColor), 0 1px var(--borderColor),
      1px 0 var(--borderColor), 0 -1px var(--borderColor);
    color: var(--primary-bg-color);
    font-size: 5.5rem;
    z-index: -1;
    margin: auto;
    left: -30px;
    top: -30px;
  }
}

@media screen and (min-width: 500px) {
  .stats {
    .group {
      gap: var(--p-md);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
// end of stats

// accordion
.accordion-section {
  padding-top: 0;
  .section-heading {
    color: var(--primary);
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--p-sm);
    padding: var(--p-s);
  }
  label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--p-sm);
    color: var(--tertiary);
    cursor: pointer;
    transition: 0.3s;
    border-bottom: var(--borderColor) 1px solid;
    font-weight: bold;
  }

  .accordion-content {
    transition: 0.8s;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out;
    margin-left: var(--p-sm);
    margin-top: var(--p-sm);
    margin-bottom: var(--p-sm);
  }

  input[type="checkbox"] {
    display: none;
  }

  [id^="accordion"]:checked ~ div[id^="accordion-content"] {
    display: block;
    max-height: 400px;
    // border-bottom: var(--borderColor) 1px solid;
    // padding-bottom: var(--p-sm);
  }

  [id^="accordion"]:checked + label {
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: var(--primary-bg-color);
  }
}

@media screen and (min-width: 600px) {
  .accordion-section {
    .group {
      flex-direction: row;
      justify-content: center;
      gap: var(--p-md);
    }
  }
}
// end of accordion

// clients-banner
.clients-banner {
  background-color: var(--primary);
  img {
    filter: saturate(50%);
    opacity: 80%;
    transition: 0.3s ease-in-out;
  }
  img:hover {
    filter: saturate(100%);
    opacity: 1;
  }
}

@media screen and (min-width: 300px) {
  .clients-banner {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 500px) {
  .clients-banner {
    .group {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
// end of clients-banner

// reviews
.reviews {
  .slider {
    display: flex;
    overflow: hidden;
    background-color: var(--primary-bg-color);
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: var(--b-radius);
  }

  .radio {
    padding: 7px;
    background-color: var(--tertiary);
    transition: all 0.4s;
    z-index: 10;
    cursor: pointer;
    appearance: none;
    backface-visibility: hidden;
    position: absolute;
    bottom: 1rem;
    border-radius: var(--b-radius);
  }

  .radio:nth-of-type(1) {
    left: 10%;
  }

  .radio:nth-of-type(2) {
    left: 30%;
  }

  /* .radio:nth-of-type(3) {
  left: 50%;
} */

  .radio:nth-of-type(4) {
    left: 65%;
  }

  .radio:nth-of-type(5) {
    left: 80%;
  }

  .radio:checked {
    background-color: var(--primary);
    animation: check 0.4s linear;
  }

  .radio:checked:nth-of-type(1) ~ .inner {
    margin-right: 0%;
  }
  .radio:checked:nth-of-type(2) ~ .inner {
    margin-right: 200%;
  }
  .radio:checked:nth-of-type(3) ~ .inner {
    margin-right: 400%;
  }
  .radio:checked:nth-of-type(4) ~ .inner {
    margin-right: 600%;
  }
  .radio:checked:nth-of-type(5) ~ .inner {
    margin-right: 800%;
  }

  .inner {
    width: 100%;
    height: 100%;
    transition: 0.7s;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
  }

  .inner img {
    aspect-ratio: 1;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
  }

  .contents {
    height: 100%;
    padding: 3rem 2rem;
    display: flex;
    width: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: var(--p-sm);
    text-align: center;
    /* make each child the same width as the parent */
    flex: 0 0 100%;
  }

  .ratings {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--p-s);
  }

  .contents p {
    max-width: 800px;
  }
}

@media screen and (min-width: 500px) {
  .reviews {
    .contents {
      padding: 4rem;
    }
    .radio:nth-of-type(1) {
      left: 40%;
    }

    .radio:nth-of-type(2) {
      left: 45%;
    }

    .radio:nth-of-type(3) {
      left: 50%;
    }

    .radio:nth-of-type(4) {
      left: 55%;
    }

    .radio:nth-of-type(5) {
      left: 60%;
    }
  }
}
// end of reviews

// location
.location {
  padding: 0;
  gap: 0;
  iframe {
    width: 100%;
    height: 100%;
    min-height: 600px;
  }
}
.dark-mode iframe {
  filter: invert(100%);
}
// @media screen and (min-width: 0) {
//   .location {
//   }
// }
// end of location
