<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-46">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">Et orci volutpat, back up generator installations</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate fugiat nesciunt facilis rerum, delectus amet. Nesciunt expedita saepe impedit soluta.
            </p>
        </div>
        <div class="cs-image-group">
            <!-- Image 1 -->
            <div class="cs-item cs-item-1">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction1-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction1.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction1.jpg" alt="man grinding steel" width="529" height="256">
                </picture>
                <!-- Hover Box -->
                <div class="cs-hover-box">
                    <h3 class="cs-heading3">Project Name</h3>
                    <span class="cs-subtitle">Subtitle</span>
                    <a class="cs-link" aria-label="read more about this project" href="">
                        <!-- SVG Arrow-->
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.01 11H5C4.45 11 4 11.45 4 12C4 12.55 4.45 13 5 13H16.01V14.79C16.01 15.24 16.55 15.46 16.86 15.14L19.64 12.35C19.83 12.15 19.83 11.84 19.64 11.64L16.86 8.85C16.55 8.53 16.01 8.76 16.01 9.2V11Z" fill="white" />
                        </svg>
                        Read more
                    </a>
                </div>
            </div>
            <!-- Image 2 -->
            <div class="cs-item cs-item-2">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction2-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction2.jpg" alt="wood worker" width="255" height="255">
                </picture>
                <!-- Hover Box -->
                <div class="cs-hover-box">
                    <h3 class="cs-heading3">Project Name</h3>
                    <span class="cs-subtitle">Subtitle</span>
                    <a class="cs-link" aria-label="read more about this project" href="">
                        <!-- SVG Arrow-->
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.01 11H5C4.45 11 4 11.45 4 12C4 12.55 4.45 13 5 13H16.01V14.79C16.01 15.24 16.55 15.46 16.86 15.14L19.64 12.35C19.83 12.15 19.83 11.84 19.64 11.64L16.86 8.85C16.55 8.53 16.01 8.76 16.01 9.2V11Z" fill="white" />
                        </svg>
                        Read more
                    </a>
                </div>
            </div>
            <!-- Image 3 -->
            <div class="cs-item cs-item-3">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction3-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction3.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction3.jpg" alt="steel rebar grid" width="255" height="255">
                </picture>
                <!-- Hover Box -->
                <div class="cs-hover-box">
                    <h3 class="cs-heading3">Project Name</h3>
                    <span class="cs-subtitle">Subtitle</span>
                    <a class="cs-link" aria-label="read more about this project" href="">
                        <!-- SVG Arrow-->
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.01 11H5C4.45 11 4 11.45 4 12C4 12.55 4.45 13 5 13H16.01V14.79C16.01 15.24 16.55 15.46 16.86 15.14L19.64 12.35C19.83 12.15 19.83 11.84 19.64 11.64L16.86 8.85C16.55 8.53 16.01 8.76 16.01 9.2V11Z" fill="white" />
                        </svg>
                        Read more
                    </a>
                </div>
            </div>
            <!-- Image 4 -->
            <div class="cs-item cs-item-4">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction4-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction4.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction4.jpg" alt="modern home" width="255" height="255">
                </picture>
                <!-- Hover Box -->
                <div class="cs-hover-box">
                    <h3 class="cs-heading3">Project Name</h3>
                    <span class="cs-subtitle">Subtitle</span>
                    <a class="cs-link" aria-label="read more about this project" href="">
                        <!-- SVG Arrow-->
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.01 11H5C4.45 11 4 11.45 4 12C4 12.55 4.45 13 5 13H16.01V14.79C16.01 15.24 16.55 15.46 16.86 15.14L19.64 12.35C19.83 12.15 19.83 11.84 19.64 11.64L16.86 8.85C16.55 8.53 16.01 8.76 16.01 9.2V11Z" fill="white" />
                        </svg>
                        Read more
                    </a>
                </div>
            </div>
            <!-- Image 5 -->
            <div class="cs-item cs-item-5">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction5-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction5.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction5.jpg" alt="appliance" width="255" height="255">
                </picture>
                <!-- Hover Box -->
                <div class="cs-hover-box">
                    <h3 class="cs-heading3">Project Name</h3>
                    <span class="cs-subtitle">Subtitle</span>
                    <a class="cs-link" aria-label="read more about this project" href="">
                        <!-- SVG Arrow-->
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.01 11H5C4.45 11 4 11.45 4 12C4 12.55 4.45 13 5 13H16.01V14.79C16.01 15.24 16.55 15.46 16.86 15.14L19.64 12.35C19.83 12.15 19.83 11.84 19.64 11.64L16.86 8.85C16.55 8.53 16.01 8.76 16.01 9.2V11Z" fill="white" />
                        </svg>
                        Read more
                    </a>
                </div>
            </div>
            <!-- Image 6 -->
            <div class="cs-item cs-item-6">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction6-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction6.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction6.jpg" alt="modern home" width="255" height="530">
                </picture>
                <!-- Hover Box -->
                <div class="cs-hover-box">
                    <h3 class="cs-heading3">Project Name</h3>
                    <span class="cs-subtitle">Subtitle</span>
                    <a class="cs-link" aria-label="read more about this project" href="">
                        <!-- SVG Arrow-->
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.01 11H5C4.45 11 4 11.45 4 12C4 12.55 4.45 13 5 13H16.01V14.79C16.01 15.24 16.55 15.46 16.86 15.14L19.64 12.35C19.83 12.15 19.83 11.84 19.64 11.64L16.86 8.85C16.55 8.53 16.01 8.76 16.01 9.2V11Z" fill="white" />
                        </svg>
                        Read more
                    </a>
                </div>
            </div>
        </div>
        <a href="" class="cs-button-solid">View Full Gallery</a>
    </div>
</section>
                                