<section class="about">
  <div class="container">
    <div class="group">
      <div class="img-container">
        <img src="" alt="" />
      </div>
      <div class="content">
        <h2 class="heading">Professional Roof Repair Services Since 2000</h2>
        <p>
          Quisque dignissim enim diam, eget pulvinar ex viverra id. Nulla a
          lobortis lectus, id volutpat magna. Morbi consequat porttitor
          fermentum. Nulla vestibulum tincidunt viverra. Vestibulum
          accumsanQuisque dignissim enim diam, eget pulvinar ex viverra id.
          Nulla a lobortis lectus
        </p>
        <div class="content-group">
          <div class="item">
            <p class="item-h">Solution for Residential Roofing</p>
          </div>
          <div class="item">
            <p class="item-h">Solution for Residential Roofing</p>
          </div>
        </div>
        <p>
          "Everything we do at Home Instead CareGiver is driven by our universal
          mission: To enhance the lives of aging adults and their families."
        </p>
        
      </div>
    </div>
  </div>
</section>
