<section class="our-work">
  <div class="container">
    <div class="group">
      <div class="content">
        <h2 class="heading"><span class="primary">HVAC</span> Facilities Management Service</h2>
        <h3 class="sub-heading">
          We realize that mechanical systems today are far more complex than
          ever and energy costs continue to rise.
        </h3>
        <p>
          Nothing wears on homeowners like the idea of handling plumbing
          problems. From the water heater to sewer line, we take the pressure
          off of you (and put it back in your shower lines). Our plumbers are
          the most recognized professionals in the world because we’re committed
          to amazing service and nothing wears on homeowners like the idea of
          handling plumbing problems. Nothing wears on homeowners like the idea
          of handling plumbing problems.
        </p>
        <!-- <p>
          Our plumbers are the most recognized professionals in the world
          because we’re committed to amazing service and nothing wears on
          homeowners like the idea of handling plumbing problems. Nothing wears
          on homeowners like the idea of handling plumbing problems.
        </p> -->
        <div class="content-group">
          <div class="item">
            <span class="primary">25</span>
            <p>Years Experience</p>
          </div>

          <div class="item">
            <span class="primary">750</span>
            <p>Projects Completed</p>
          </div>

          <div class="item">
            <span class="primary">1000+</span>
            <p>Satisfied Customers</p>
          </div>
        </div>
      </div>
      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1615309662243-70f6df917b59?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8aHZhY3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
