<section class="about-us">
  <div class="container">
    <div class="group">
      <div class="img-container">
        <img
          src="https://fr-template-3.netlify.app/assets/images/construction.jpg"
          alt=""
        />
      </div>
      <div class="content">
        <h2 class="heading">
          About <span class="primary"> {{client.name}} </span>
        </h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias qui
          iure facere nemo ullam nam eos provident debitis explicabo accusantium
          distinctio vel et sint nulla molestias ad, delectus, possimus dolore.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque,
          dolorum rerum voluptatum deleniti qui corporis nisi molestias ipsa
          recusandae, vitae tempore quis dolore debitis! Blanditiis consectetur
          corrupti sapiente quo numquam?
        </p>
        <div class="quote">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi
            consectetur accusantium harum vero optio velit labore molestiae,
            culpa enim quasi, minima deserunt omnis nemo voluptatibus facilis
            voluptates! Voluptatibus, amet quod!
          </p>
          <p class="item-h">
            Logan Wilson
          </p>
          <p class="item-s">Founder</p>
        </div>
        <a href="/projects" class="cs-button-solid"> See Our Projects </a>
      </div>
    </div>
  </div>
</section>
