/* STYLES FOR ABOVE THE FOLD */

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

#hero {
  --hero-height: 100vh;

  height: var(--hero-height);
  padding-bottom: 0;
  // background-color: var(--primary-bg-color);
  background-image: linear-gradient(
    to right top,
    #002f60,
    #0d4481,
    #1a5ba3,
    #2572c6,
    #2e8beb
  );
  color: var(--white);
  display: flex;
  justify-content: center;
  .bg-img {
    position: absolute;
    top: 0;
    width: 100%;
    img {
      object-fit: cover;
    }
  }
  .bg-img::before {
    content: "";
    height: var(--hero-height);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(
      to right top,
      #002f60,
      #0d4481,
      #1a5ba3,
      #2572c6,
      #2e8beb
    );
    z-index: 10;
  }
  .container {
    height: 100%;
    width: 100%;
    display: flex;
    z-index: 10;
  }
  .main-h {
    font-size: clamp(2.2rem, 3.8vw, 5.5rem);
  }
  p {
    font-size: clamp(1rem, 1.25vw, 2.5rem);
  }
  .content {
    height: 100%;
    width: 100%;
    padding: clamp(1rem, 2.4vw, 2rem);
    display: flex;
    justify-content: center;
    padding-left: var(--p-sm);
  }

  .cs-button-solid {
    width: fit-content;
    margin-top: var(--p-sm);
  }
}

@media screen and (min-width: 600px) {
  #hero {
    .group {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
    }
  }
}
