/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

.welcome {
}

@media screen and (min-width: 768px) {
  .welcome {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--p-lg);
    }
  }
}

@media screen and (min-width: 1000px) {
  .welcome {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--p-xl);
    }
  }
}

.services {
  .group {
    padding-top: var(--p-lg);
  }
  .item {
    padding: var(--p-lg);
    background-color: var(--white);
    border-radius: var(--b-radius);
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 4px solid var(--primary);
    .item-h {
      font-weight: bold;
      font-size: clamp(1rem, 1.8vw, 2rem);
    }
    i {
      margin-bottom: var(--p-sm);
      font-size: 1.5rem;
      color: var(--primary-bg-color);
    }
  }
}

@media screen and (min-width: 600px) {
  .services {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--p-lg);
    }
  }
}

@media screen and (min-width: 1150px) {
  .services {
    .group {
      grid-template-columns: repeat(4, 1fr);
      .item {
        padding: var(--p-md);
      }
    }
  }
}

.why-choose-us {
  .content-group {
    gap: var(--p-md);
    padding-top: var(--p-md);
    column-gap: var(--p-lg);
    .item {
      flex-direction: row;
      justify-content: flex-start;
      gap: var(--p-m);
      height: fit-content;
      .item-h {
        text-transform: capitalize;
      }
      i {
        font-size: 0.75rem;
        color: var(--tertiary);
      }
      p {
        font-weight: bold;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .why-choose-us {
    .content-group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--p-sm);
      grid-auto-rows: min-content;
    }
  }
}

@media screen and (min-width: 900px) {
  .why-choose-us {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--p-lg);
    }
    .img-container {
      order: 2;
      img {
        object-fit: cover;
      }
    }
    .content-group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--p-sm);
      grid-auto-rows: min-content;
    }
  }
}

@media screen and (min-width: 900px) {
  .why-choose-us {
    .content-group {
      display: flex;
    }
  }
}

.values {
  .sub-h {
    margin-top: var(--p-md);
  }
  .content-group {
    gap: var(--p-lg);
    padding-top: var(--p-md);
  }
  .item {
    align-items: flex-start;
    i {
      grid-area: icon;
      font-size: clamp(1.5rem, 3.2vw, 3.25rem);
      margin-top: 0;
      height: 100%;
      width: 100%;
      color: var(--primary);
    }
    .item-h {
      font-weight: bold;
    }
  }
  img {
    object-fit: cover;
  }
}

@media screen and (min-width: 400px) {
  .values {
    .item {
      display: grid;
      gap: var(--p-sm);
      column-gap: var(--p-md);
      width: 80%;
      grid-template-areas:
        "icon item-h"
        "icon text";
    }
  }
}

@media screen and (min-width: 1000px) {
  .values {
    .group {
      display: grid;
      grid-template-columns: 1fr 1.5fr;
    }
  }
}

.trusted {
  color: var(--white);
  .heading {
    font-size: clamp(1.75rem, 4vw, 3.4rem);
    color: inherit;
  }
  .sub-h {
    color: inherit;
  }
  .img-container {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    img,
    picture {
      object-fit: cover;
    }
  }
  .overlay {
    top: 0;
    left: 0;
  }
  .container {
    padding: var(--sectionPadding);
  }
  .group {
    .item {
      align-items: start;
      .item-h {
        font-size: clamp(2rem, 3vw, 3.5rem);
        font-weight: bold;
      }
      i {
        font-size: clamp(1.6rem, 3.5vw, 3.5rem);
      }
    }
  }
  .cs-button-solid {
    margin-top: var(--p-lg);
    background-color: var(--white);
  }
  .cs-button-solid::before{
    background-color: var(--primary);
  }
}

@media screen and (min-width: 400px) {
  .trusted {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--p-lg);
    }
  }
}

@media screen and (min-width: 800px) {
  .trusted {
    .heading {
      max-width: 60%;
    }
    .group {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.projects {
  background-color: var(--primary-bg-color) !important;
  color: var(--bodyTextColor) !important;

  .heading {
    color: var(--white) !important;
  }

  input[type="radio"] {
    display: none;
  }

  .tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    margin: auto;
    padding-bottom: var(--p-lg);
    gap: var(--p-md);
  }

  .tab {
    color: var(--primary);
    z-index: 1;
    text-align: center;
    display: flex;
  }

  .tab label {
    color: var(--white);
    transition: 0.3;
    height: 100%;
    width: 100%;
    background-color: var(--borderColor);
    cursor: pointer;
    padding: var(--p-sm) var(--p-md);
    border-radius: 45px;
    text-transform: uppercase;
    font-size: clamp(0.9rem, 0.95vw, 1.75rem);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
  }
  .tab label:hover {
    border: 1px solid var(--primary);
  }
  #all:checked ~ .tabs label[for="all"],
  #home:checked ~ .tabs label[for="home"],
  #blog:checked ~ .tabs label[for="blog"],
  #code:checked ~ .tabs label[for="code"],
  #help:checked ~ .tabs label[for="help"],
  #about:checked ~ .tabs label[for="about"] {
    color: var(--primary);
  }

  .group {
    position: relative;
    .home,
    .code,
    .blog,
    .code,
    .help,
    .about {
      transition: 0.6s;
      width: 0;
      height: 0;
      position: absolute;
    }
  }

  #home:checked ~ .group {
    .home {
      height: 100%;
      width: 100%;
      position: static;
      z-index: 1;
    }
  }

  #code:checked ~ .group {
    .code {
      height: 100%;
      width: 100%;
      position: static;
      z-index: 1;
    }
  }

  #blog:checked ~ .group {
    .blog {
      height: 100%;
      width: 100%;
      position: static;
      z-index: 1;
    }
  }

  #blog:checked ~ .group {
    .blog {
      height: 100%;
      width: 100%;
      position: static;
      z-index: 1;
    }
  }

  #help:checked ~ .group {
    .help {
      height: 100%;
      width: 100%;
      position: static;
      z-index: 1;
    }
  }

  #about:checked ~ .group {
    .about {
      height: 100%;
      width: 100%;
      position: static;
      z-index: 1;
    }
  }

  #all:checked ~ .group {
    .item {
      height: 100%;
      width: 100%;
      position: static;
      z-index: 1;
    }
  }

  .overlay {
    padding: var(--p-lg);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    color: var(--white);
    gap: var(--p-sm);
    .item-h {
      font-size: clamp(1.25rem, 2.5vw, 2rem);
    }
  }

  .item {
    img {
      object-fit: cover;
      aspect-ratio: 0.9;
    }
  }

  .img-container:hover {
    .overlay {
      transform: scale(1);
      background: var(--primary);
      opacity: 0.8;
    }
  }
}

@media screen and (min-width: 400px) {
  .projects {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .tabs {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (min-width: 768px) {
  .projects {
    .group {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (min-width: 900px) {
  .projects {
    .tabs {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

.testimonials {
  background-color: var(--light-bg);
  color: #3f3f3f;
  .heading {
    color: var(--primary-bg-color);
  }
  .item {
    padding: var(--p-lg);
    border: var(--primary-bg-color) 1px solid;
    border-radius: var(--b-radius);
    align-items: flex-start;
    height: fit-content;
  }
  .content-group {
    gap: var(--p-md);
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: var(--p-md);
    padding: var(--p-md);
    background-color: var(--primary-bg-color);
    color: var(--white);
    border-radius: var(--b-radius);
    height: fit-content;
    .heading,
    h2,
    p {
      margin: auto;
    }
    textarea{
      flex: 1;
    }
  }
}

@media screen and (min-width: 600px) {
  .testimonials {
    .content-group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 1000px) {
  .group {
    display: grid;
    grid-template-columns: 1.75fr 1fr;
  }
}

.info {
  background-color: var(--primary-bg-color) !important;
  color: var(--white) !important;
  a {
    p {
      font-size: clamp(1.25rem, 1.25vw, 2rem);
    }
  }

  .item {
    display: grid;
    gap: var(--p-md);
    grid-template-areas:
      "icon label"
      "icon info";
  }
  .details {
    font-weight: bold;
  }
}

@media screen and (min-width: 750px) {
  .info {
    .group {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    i {
      height: 100%;
      width: 100%;
      font-size: 1.5rem;
    }
  }
}
