/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

.content img {
  width: 50%;
  height: fit-content;
}

.about-us {
  padding-bottom: 0;
  .content {
    align-items: center;
    text-align: center;
  }
  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .background-img {
    position: absolute;
    margin: auto;
    z-index: -1;
    left: 0;
    margin: auto;
    object-fit: cover;
    bottom: 0;
    height: 50%;
  }
}

.dark-mode {
  .sign {
    filter: brightness(0) invert(1) saturate(3);
  }
  .background-img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .about-us {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .background-img {
      height: 100%;
    }
    .cover-img {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
    }
    .content {
      text-align: left;
      align-items: start;
    }
  }
}

.our-work {
  padding-bottom: 0;
  .content {
    align-items: center;
    text-align: center;
  }
  .item {
    gap: var(--p-s);
    span {
      font-size: clamp(1.25rem, 4vw, 2rem);
      font-weight: bold;
      letter-spacing: 1.1px;
    }
  }
  .content-group {
    display: flex;
    gap: var(--p-md);
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .our-work {
    img {
      object-fit: cover;
    }
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .content {
      text-align: left;
      align-items: start;
      order: 2;
    }
    .content-group {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    .item {
      align-items: start;
      gap: var(--p-s);
    }
  }
}

// our team
.our-team {
  text-align: center;
  .item {
    gap: var(--p-md);
    align-items: center;
    justify-content: center;
    padding: var(--p-sm);
    .info {
      gap: var(--p-sm);
    }
    .img-container {
      border-radius: 50%;
      position: relative;

      img {
        border-radius: inherit;
        z-index: -1;
        max-width: 350px;
        width: 100%;
      }
      .member-socials {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: inherit;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--p-sm);
        background: rgba(var(--primary-rgb), 0.56);
        backdrop-filter: blur(0.5px);
        -webkit-backdrop-filter: blur(0.1px);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: scale(0);
        overflow: hidden;
        transition: 0.5s;
        transform-origin: center;

        i {
          color: white;
          background-color: #131212;
          padding: var(--p-sm);
          transition: 0.5s;
          cursor: pointer;
        }
        i:hover {
          color: #131212;
          background-color: var(--primary-bg-color);
        }
      }
    }

    .img-container:hover {
      .member-socials {
        transform: scale(1);
      }
    }
  }
}

@media only screen and (min-width: 580px) {
  .our-team {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      gap: var(--p-md);
    }
    .heading {
      gap: var(--p-sm);
    }
    img {
      border-radius: inherit;
      z-index: -1;
      max-width: none;
    }
  }
}

@media only screen and (min-width: 990px) {
  .our-team {
    .group {
      display: flex;
      flex-direction: row;
      .img-container {
        padding: 0;
      }
    }
  }
}

// End of Our team
