/* STYLES FOR ABOVE THE FOLD */

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
#hero {
  background-color: var(--light-bg);
  color: var(--white);
  .content {
    text-align: left;
  }
  .img-container {
    position: absolute;
    top: 0;
    left: 0;
    img {
      object-fit: cover;
      filter: brightness(0.35);
    }
    .img-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: red;

      background: rgba(0, 0, 0, 0.7);
    }
  }
  .top {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .main-h {
      font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
      margin-bottom: 1rem;
      color: inherit;
    }

    p {
      font-size: clamp(1.4rem, 2vw, 2rem);
      margin-bottom: 1rem;
      font-size: clamp(1rem, 1.95vw, 1.5625rem);
    }
  }

  .top i {
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    transition: 0.3s;
    display: none;
  }

  i.left {
    left: 20px;
  }

  i.right {
    right: 20px;
  }

  .top i:hover {
    color: var(--primary);
    cursor: pointer;
  }

  .top .container {
    width: 100%;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .bottom .container {
    color: var(--secondary);
    flex: 1;
    border-top: var(--primary) 5px solid;
    background-color: var(--primary-bg-color);
    border-radius: var(--b-radius);
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
  }

  .group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--p-md);
    padding: var(--p-md);
    padding-top: var(--p-lg);
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: var(--p-xs);
    padding: var(--p-s);
  }

  .item i {
    font-size: 2.25rem;
    background-color: var(--primary);
    border-radius: 50%;
    padding: var(--p-md);
    color: var(--white);
    margin-bottom: var(--p-s);
    transition: 0.3s;
    border: 2px solid var(--primary);
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
  }
  .item:hover {
    i {
      background-color: var(--primary-bg-color);
      color: var(--primary);
    }
  }
}

@media screen and (min-width: 768px) {
  #hero {
    .top {
      min-height: 98vh;
    }
    .top i {
      display: block;
    }
    .bottom {
      .group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  #hero {
    padding: 0;
    margin-bottom: 15%;
    .top {
      min-height: 110vh;
      padding-bottom: 5%;
    }
    .bottom {
      max-width: var(--maxContainerWidth);
      margin: auto;
      padding: 0;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -15%;
      .group {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
  body.dark-mode {
    #hero {
      .group {
      }
    }
  }
}
