/* STYLES FOR ABOVE THE FOLD */

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
	#hero {
		font-family: "Roboto", "Arial", sans-serif;
		/* Centers button */
		text-align: center;
		/* changes on tablet */
		position: relative;
		z-index: 1;
		/* prevents overflow from the lines extending past the screen width */
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: var(--p-md);
	}
}

/* Tablet - 768px */
@media only screen and (min-width: 48em) {
	#hero {
	}
}

/* Desktop Parallax Effect - 1300px */
@media only screen and (min-width: 81.25em) {
	#hero {
	}
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
	body.dark-mode {
		#hero {
			.cs-background {
				&:before {
					opacity: 0.8;
				}
			}
		}
	}
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
	
}

/* Inbetween */
@media only screen and (min-width: 768px) {
	
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
	
}

/* Dark mode */
@media only screen and (min-width: 0em) {
	body.dark-mode {
		
	}
}
