/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

// Your-comfort
@media only screen and (min-width: 0em) {
  .your-comfort {
    text-align: center;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    i {
      font-size: 50px;
      transition: 0.5s;
      color: rgb(7, 5, 5);
    }
    .item {
      padding: var(--p-md);
    }
    .item:hover i {
      color: var(--primary);
    }
  }
}

@media only screen and (min-width: 600px) {
  .your-comfort {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--p-lg);
    }
  }
}

@media only screen and (min-width: 990px) {
  .your-comfort {
    .container {
      gap: var(--p-md);
    }
    .group {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
// End of your comfort

// Experience banner
#experience-banner {
  position: relative;
  color: white;
  text-align: center;
  .container {
    padding: var(--sectionPadding);
    padding-left: 0;
    h2 {
      color: #fff;
    }
  }
  .img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  img {
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
  }
}

// End of experience banner

// Benefits
.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--p-md);
  text-align: center;

  .group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--p-lg);
    padding: var(--p-md);
  }
  i {
    border: 2px solid var(--primary);
    width: fit-content;
    border-radius: 50%;
    padding: var(--p-md);
    transition: 0.3s;
    font-size: 30px;
    color: var(--black);
  }
  i:hover {
    background-color: var(--primary);
  }
}

@media only screen and (min-width: 990px) {
  .benefits {
    .group {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    .group img {
      grid-column: 1 / -1;
      justify-self: center;
    }
  }
}
// End of Benefits

// costs
.costs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--p-sm);
  text-align: center;

  .group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--p-lg);
    padding: var(--p-lg);
  }
  i {
    border: 4px solid var(--light-bg);
    width: fit-content;
    border-radius: 50%;
    padding: var(--p-md);
    transition: 0.3s;
    font-size: 40px;
    color: black;
  }
  i:hover {
    background-color: var(--light-bg);
  }
}

@media only screen and (min-width: 590px) {
  .costs {
    padding-top: 0;
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media only screen and (min-width: 990px) {
  .costs {
    padding-top: 0;
    .group {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media only screen and (min-width: 1025px) {
  .costs {
    .group {
      display: flex;
      gap: 0;
      justify-content: space-between;
      width: 100%;
      .item {
        padding: 0;
        h4,
        p {
          max-width: 60%;
        }
      }
      .item .icon {
        position: relative;
      }
      .item i {
        padding: var(--p-lg);
      }

      .item .icon:after {
        content: "";
        width: 100%;
        border-bottom: solid 3px var(--light-bg);
        position: absolute;
        left: -100%;
        top: 50%;
        z-index: 1;
      }
      .item:first-of-type .icon::after {
        all: unset;
      }
      .item i::after {
        content: "";
        width: 100%;
        border-bottom: solid 3px var(--light-bg);
        position: absolute;
        right: -100%;
        top: 50%;
        z-index: -1;
      }

      .item:last-of-type i::after {
        all: unset;
      }
    }
  }
}
// end of costs

.what-we-do {
  .item {
    text-align: left;
    align-items: flex-start;
  }
  img {
    margin: auto;
  }
  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--p-sm);
  }

  .skill {
    display: flex;
    flex-direction: column;
    gap: var(--p-xs);
  }

  .info {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .info span.tooltip {
    padding: 4px var(--p-sm);
    font-size: 0.85rem;
    border-radius: var(--b-radius);
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 1;
  }

  .skill-bar {
    position: relative;
    background: rgba(0, 0, 0, 0.1);
    border-radius: var(--b-radius);
    width: 100%;
    height: var(--p-sm);
  }

  .skill-per {
    position: absolute;
    width: var(--bar-width);
    background: var(--primary);
    height: 100%;
    border-radius: var(--b-radius);
    animation: progress 0.8s ease-in-out forwards;
  }

  @keyframes progress {
    0% {
      width: 0;
      opacity: 0;
    }
  }

  .row {
    display: flex;
    gap: var(--p-lg);
    align-items: center;
    justify-content: center;
    .item {
      display: flex;
      gap: var(--p-sm);
      i {
        color: var(--secondary);
        border-radius: var(--b-radius);
        padding: var(--p-md);
        background-color: var(--borderColor);
        border-left: 5px var(--secondary) solid;
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .what-we-do {
    .container {
      display: grid;
      gap: var(--p-lg);
      grid-template-columns: repeat(2, 1fr);
    }
    .row {
      justify-content: start;
    }
    .img-container {
      position: absolute;
      right: 0;
      width: 50%;
      top: 0;
      padding: var(--p-md);
      img {
        object-fit: cover;
      }
    }
  }
}

// skills container

//hvac dropdown
.faq-section {
  display: flex;
  flex-direction: column;
}

.faq {
  cursor: pointer;
  padding: var(--p-sm);
  border-bottom: 1px solid var(--borderColor);
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--p-sm) 0;
}

i {
  color: var(--primary);
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease;
}

.faq.active .answer {
  max-height: 300px;
  animation: fade 0.3s ease-in-out;
}

.faq i {
  transition: transform 0.3s ease-in-out;
}

.faq.active i {
  transform: rotate(-180deg);
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

// hvac dropdown

// reviews
.reviews-section {
  text-align: center;
  .slider {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: var(--b-radius);
    padding-bottom: var(--p-md);
  }

  .radio {
    padding: var(--p-sm);
    background-color: var(--borderColor);
    transition: all 0.4s;
    z-index: 10;
    cursor: pointer;
    appearance: none;
    backface-visibility: hidden;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    border: 1px transparent solid;
  }

  .radio:nth-of-type(1) {
    left: 10%;
  }

  .radio:nth-of-type(2) {
    left: 30%;
  }

  /* .radio:nth-of-type(3) {
  left: 50%;
} */

  .radio:nth-of-type(4) {
    left: 65%;
  }

  .radio:nth-of-type(5) {
    left: 80%;
  }
  .radio:hover {
    border: 1px solid var(--primary);
  }
  .radio:checked {
    background-color: var(--primary);
    animation: check 0.4s linear;
  }

  .radio:checked:nth-of-type(1) ~ .inner {
    margin-right: 0%;
  }
  .radio:checked:nth-of-type(2) ~ .inner {
    margin-right: 200%;
  }
  .radio:checked:nth-of-type(3) ~ .inner {
    margin-right: 400%;
  }
  .radio:checked:nth-of-type(4) ~ .inner {
    margin-right: 600%;
  }
  .radio:checked:nth-of-type(5) ~ .inner {
    margin-right: 800%;
  }

  .inner {
    width: 100%;
    height: 100%;
    transition: 0.7s;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
  }

  .inner img {
    aspect-ratio: 1;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
  }

  .contents {
    height: 100%;
    padding: var(--p-sm);
    display: flex;
    width: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: var(--p-sm);
    text-align: center;
    /* make each child the same width as the parent */
    flex: 0 0 100%;
  }

  .contents p {
    max-width: 800px;
  }

  @media screen and (min-width: 500px) {
    .radio:nth-of-type(1) {
      left: 40%;
    }

    .radio:nth-of-type(2) {
      left: 45%;
    }

    .radio:nth-of-type(3) {
      left: 50%;
    }

    .radio:nth-of-type(4) {
      left: 55%;
    }

    .radio:nth-of-type(5) {
      left: 60%;
    }
  }
}

// end of reviews

// special offer

.special-offer {
  position: relative;
  color: white;
  .container {
    padding: var(--sectionPadding);
    padding-left: 0;

    h2 {
      color: #fff;
    }
  }
  .img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  img {
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
  }
}

// end of special offer

// our team
.our-team {
  text-align: center;
  .row {
    flex-direction: column;
  }
  .member {
    gap: var(--p-md);
    align-items: center;
    justify-content: center;
    padding: var(--p-sm);
    .info {
      gap: var(--p-sm);
    }
    .col {
      gap: none;
    }
    .img-container {
      border-radius: 50%;
      position: relative;

      img {
        border-radius: inherit;
        z-index: -1;
        max-width: 350px;
        width: 100%;
      }
      .member-socials {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: inherit;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--p-sm);
        background: rgba(var(--primary-rgb), 0.56);
        backdrop-filter: blur(0.5px);
        -webkit-backdrop-filter: blur(0.1px);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: scale(0);
        overflow: hidden;
        transition: 0.5s;
        transform-origin: center;

        i {
          color: white;
          background-color: #131212;
          padding: var(--p-sm);
          transition: 0.5s;
          cursor: pointer;
        }
        i:hover {
          color: #131212;
          background-color: var(--primary-bg-color);
        }
      }
    }

    .img-container:hover {
      .member-socials {
        transform: scale(1);
      }
    }
  }
}

@media only screen and (min-width: 580px) {
  .our-team {
    .row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      gap: var(--p-md);
    }
    .heading {
      gap: var(--p-sm);
    }
    img {
      border-radius: inherit;
      z-index: -1;
      max-width: none;
    }
  }
}

@media only screen and (min-width: 990px) {
  .our-team {
    .row {
      display: flex;
      flex-direction: row;
      .img-container {
        padding: 0;
      }
    }
  }
}

// End of Our team

// estimate
.estimate {
  position: relative;
  padding: 0;
  .img-container {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
  }

  .flex-group {
    padding: var(--sectionPadding);
    flex-direction: column;
    gap: var(--p-lg);
    padding: var(--p-md);
    width: 100%;

    .info {
      background-color: rgba(10, 10, 10, 0.4);
      color: white;
      padding: var(--p-lg);
      width: 100%;
    }
    .contact {
      color: white;
      padding: var(--p-lg);
      h3 {
        color: inherit;
      }
    }
  }
}

// estimate
