/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

// Your-comfort
@media only screen and (min-width: 0em) {
  .your-comfort {
    text-align: center;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    i {
      font-size: 50px;
      transition: 0.5s;
      color: rgb(7, 5, 5);
    }
    .col {
      padding: var(--p-md);
    }
    .col:hover i {
      color: var(--primary);
    }
    .row {
      gap: var(--p-md);
      flex-direction: column;
    }
  }
}

@media only screen and (min-width: 600px) {
  .your-comfort {
    .row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media only screen and (min-width: 990px) {
  .your-comfort {
    .row {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
// End of your comfort

// Benefits
.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--p-md);
  text-align: center;

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--p-lg);
    padding: var(--p-lg);
    .col {
      gap: var(--p-sm);
      line-height: 24px;
    }
  }
  .col {
    align-items: center;
    justify-content: center;
  }
  i {
    border: 2px solid var(--primary);
    width: fit-content;
    border-radius: 50%;
    padding: var(--p-md);
    transition: 0.3s;
    font-size: 30px;
    color: black;
  }
  i:hover {
    background-color: var(--primary);
  }
}

@media only screen and (min-width: 990px) {
  .benefits {
    .row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .col{
        padding: var(--p-sm);
      }
    }
    .row img {
      grid-column: 1 / -1;
      justify-self: center;
    }
  }
}
// End of Benefits

// costs
.costs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--p-md);
  text-align: center;

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--p-lg);
    padding: var(--p-lg);
    .col {
      gap: var(--p-sm);
      line-height: 24px;
    }
  }
  .col {
    align-items: center;
    justify-content: center;
  }
  i {
    border: 4px solid var(--borderColor);
    width: fit-content;
    border-radius: 50%;
    padding: var(--p-md);
    transition: 0.3s;
    font-size: 30px;
    color: black;
  }
  i:hover {
    background-color: var(--borderColor);
  }
}

// @media only screen and (min-width: 990px) {
//   .costs {
//     .row {
//       display: grid;
//       grid-template-columns: repeat(3, 1fr);

//       .col{
//         padding: var(--p-sm);
//       }
//     }
//     .row img {
//       grid-column: 1 / -1;
//       justify-self: center;
//     }
//   }
// }
// end of costs
