<section class="timeline">
      <div class="container">
        <h3 class="sub-h">Our History</h3>
        <h2 class="heading">Company Timeline</h2>
        <div class="group">
          <div class="item">
            <i class="fa-solid fa-lightbulb"></i>

            <p class="item-h">2017 - 2018</p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit
              ratione laudantium adipisci dolorum repudiandae quae voluptate
              natus qui quo omnis amet molestiae quaerat dignissimos, aspernatur
              impedit neque saepe aliquid suscipit!
            </p>
          </div>

          <div class="item">
            <i class="fa-solid fa-pen-nib"></i>

            <p class="item-h">2018 - 2019</p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit
              ratione laudantium adipisci dolorum repudiandae quae voluptate
              natus qui quo omnis amet molestiae quaerat dignissimos, aspernatur
              impedit neque saepe aliquid suscipit!
            </p>
          </div>

          <div class="item">
            <i class="fa-solid fa-hammer"></i>

            <p class="item-h">2019 - 2020</p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit
              ratione laudantium adipisci dolorum repudiandae quae voluptate
              natus qui quo omnis amet molestiae quaerat dignissimos, aspernatur
              impedit neque saepe aliquid suscipit!
            </p>
          </div>

          <div class="item">
            <i class="fa-solid fa-rocket"></i>

            <p class="item-h">2020 -</p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit
              ratione laudantium adipisci dolorum repudiandae quae voluptate
              natus qui quo omnis amet molestiae quaerat dignissimos, aspernatur
              impedit neque saepe aliquid suscipit!
            </p>
          </div>
        </div>
      </div>
    </section>