/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

.services {
  .item {
    border: 1px solid var(--borderColor);
    padding: var(--p-ml);
    gap: var(--p-ml);
    transition: 0.3s;
    // align-items: center;
    // text-align: center;
  }
  i {
    color: var(--primary);
    font-size: 2.8rem;
    transition: 0.3s;
  }
  .item:hover {
    background-color: var(--primary);
    i {
      color: var(--white);
    }
  }
  .item-h {
    font-style: italic;
  }
}

@media screen and (min-width: 768px) {
  .services {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 1024px) {
  .services {
    .group {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.about {
  .group {
    gap: var(--p-lg);
  }
  .heading {
    margin: 0;
  }
  .icon-group {
    display: flex;
    flex-direction: column;
    gap: var(--p-md);
    .item {
      flex-direction: row;
      align-items: center;
      gap: var(--p-ml);
      display: grid;
      grid-template-columns: 75px 1fr;
      justify-content: center;
    }
    .item:hover {
      i {
        color: var(--white);
        background-color: var(--primary);
      }
    }

    i {
      font-size: 2.4rem;
      color: var(--primary);
      padding: var(--p-md);
      background-color: var(--white);
      display: flex;
      align-items: center;
      justify-content: center;
      aspect-ratio: 1;
      transition: 0.4s;
    }
  }

  .cs-button-solid {
    width: fit-content;
  }
  .icon-group,
  .cs-button-solid,
  .content-group {
    margin-top: var(--p-md);
  }
  .content-group {
    gap: var(--p-md);
    .item {
      flex-direction: row;
      justify-content: start;
      align-items: start;
      gap: var(--p-md);
    }
    i {
      color: var(--primary);
      font-size: 1.4rem;
    }
    p {
      font-size: 1rem;
      opacity: 0.8;
    }
  }
}

@media screen and (min-width: 600px) {
  .about {
    .icon-group {
      flex-direction: row;
      gap: var(--p-xl);
    }
  }
}

@media screen and (min-width: 1024px) {
  .about {
    .group {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--p-xl);
    }
    .content {
      padding: var(--p-lg) 0;
    }

    img {
      object-fit: cover;
    }
  }
}

.why-choose-us {
  --spacing: var(--p-md);
  .heading,
  .sub-h {
    margin: 0;
  }
  .content-group {
    margin-top: var(--p-md);
    gap: var(--p-md);
    margin-top: var(--spacing);
  }
  .item {
    display: grid;
    grid-template-areas:
      "i heading"
      "i p";
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content;
    gap: var(--p-md);
    row-gap: 0;
    .text {
      grid-area: p;
      margin-top: 0;
      border: none;
    }
  }
  .item-h,
  .item-sub-h {
    margin: auto;
    margin-left: 0;
    margin-top: 0;
  }
  .item-h {
    grid-area: heading;
  }
  i {
    grid-area: i;
    height: fit-content;
    margin: auto;
    padding-top: var(--p-sm);
    margin-top: 0;
    font-size: 1.4rem;
    color: var(--primary);
    display: flex;
    border-radius: var(--b-radius);
    align-items: center;
  }

  .img-container {
    max-height: 50vh;
  }

  .content-group,
  .text {
    margin-top: var(--spacing);
    height: fit-content;
  }
  .text {
    padding-bottom: var(--spacing);
    border-bottom: 1px solid var(--borderColor);
  }
}

@media screen and (min-width: 64rem) {
  .why-choose-us {
    .group {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--p-lg);
    }
    .content {
      padding: var(--p-lg) 0;
    }
    .img-container {
      max-height: unset;
      img {
        object-fit: cover;
      }
    }
  }
}

.clients {
  text-align: center;
  background-color: var(--primary) !important;

  .heading {
    color: var(--white);
  }

  .img-container {
    width: 80%;
    margin: auto;
  }
  img {
    transition: 0.4s;
  }
  .group {
    margin-top: var(--p-lg);
  }
  img:hover {
    opacity: 1;
  }
}

@media screen and (min-width: 400px) {
  .clients {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 768px) {
  .clients {
    .group {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.projects {
  text-align: center;
  .group {
    margin-top: var(--p-lg);
  }
  img {
    object-fit: cover;
    transition: 0.3s;
  }
  .img-container {
    transition: 0.3s;
    border: 1px solid transparent;
  }
  .img-container:hover {
    border: 1px solid var(--primary);
    img {
      transform: scale(1.2);
    }
  }
  .cs-button-solid {
    margin-top: var(--p-xl);
  }
}

@media screen and (min-width: 600px) {
  .projects {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 768px) {
  .projects {
    .group {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.accordion {
  .accordion {
    margin: auto;
  }
  .img-container {
    display: grid;
    grid-template-areas:
      "one one"
      "two three";
    gap: var(--p-md);
    height: fit-content;
  }
  .one {
    grid-area: one;
  }
  img {
    object-fit: cover;
  }
  label {
    display: block;
    padding: var(--p-sm) var(--p-md);
    color: var(--tertiary);
    cursor: pointer;
    border: 1px solid var(--borderColor);
    letter-spacing: 0.075rem;
    font-weight: bold;
    transform: var(--skew);
  }
  label:hover {
    color: var(--primary);
    /* border: 1px solid var(--primary); */
  }
  .accordion-content {
    transition: 0.8s;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s;
    margin: var(--p-md);
    line-height: 2.15rem;
  }
  input[type="checkbox"] {
    display: none;
  }
  [id^="accordion"]:checked ~ div[id^="accordion-content"] {
    display: block;
    max-height: 300px;
  }
  [id^="accordion"]:checked + label {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--white);
  }
}

@media screen and (min-width: 48rem) {
  .accordion {
    .group {
      display: grid;
      grid-template-columns: 5fr 5fr;
    }
    .accordion {
      padding: var(--p-lg) var(--p-md);
      padding-left: 0;
    }
  }
}

@media screen and (min-width: 1024px) {
  .accordion {
    .group {
      gap: var(--p-xl);
    }
  }
}

.process {
  text-align: center;
  .group {
    margin-top: var(--p-lg);
  }
  a {
    transition: 0.4s;
    color: var(--secondary);
  }

  a:hover {
    color: var(--primary);
  }

  .item {
    padding: var(--p-lg);
    text-align: center;
    overflow: visible;
    background-color: var(--secondary-bg);
  }

  .item:hover {
    i {
      background-color: var(--primary);
      color: var(--white);
    }
    .count {
      color: var(--primary);
      background-color: var(--white);
    }
  }

  .img-container {
    border-radius: var(--b-radius);
    position: relative;
    overflow: visible;
    width: fit-content;
    margin: auto;
  }
  i {
    color: var(--primary);
    padding: var(--p-md);
    transition: 0.4s;
    background-color: var(--white);
  }

  .item-h {
    color: var(--primary);
    text-transform: uppercase;
  }
  .count {
    position: absolute;
    z-index: 2;
    background-color: var(--primary);
    color: var(--white);
    top: -20px;
    right: -20px;
    padding: var(--p-sm);
    font-weight: bold;
    width: 50%;
    height: 2rem;
    width: 2rem;
    aspect-ratio: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    transition: 0.4s;
    transform: var(--skew);
  }
}


body.dark-mode{
  .process{
    .item{
      background-color: var(--light-bg);
    }
  }
}

@media screen and (min-width: 31.25rem) {
  .process {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--p-lg);
    }
    .item {
      height: fit-content;
    }
  }
}

@media screen and (min-width: 90rem) {
  .process {
    .group {
      grid-template-columns: repeat(4, 1fr);
    }
    .group > .item:nth-child(even) {
      margin-top: var(--p-xl);
    }
  }
}

.reviews {
  text-align: center;
  --spacing: var(--p-md);
  --img-size: 35%;
  .group,
  .cs-button-solid {
    margin-top: var(--p-xl);
    gap: var(--p-xl);
    width: fit-content;
    margin: auto;
  }
  .group {
    margin-top: var(--p-xl);
  }
  .heading {
    margin: 0;
  }
  .item {
    padding: var(--p-xl) var(--p-md);
    border-radius: var(--b-radius);
    align-items: center;
    justify-content: center;
    gap: var(--p-xs);
    position: relative;
    margin-bottom: var(--spacing);
    background-color: var(--light-bg);
    -moz-box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    background-color: var(--secondary-bg);
  }

  // .item:after {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   height: 2.5rem;
  //   width: 25%;
  //   transform: translateY(50%);
  //   background-color: inherit;
  //   -moz-box-shadow: var(--box-shadow);
  //   -webkit-box-shadow: var(--box-shadow);
  //   box-shadow: var(--box-shadow);
  // }

  .img-container {
    position: absolute;
    // top: calc(-1 * var(--img-size));
    top: 0;
    transform: translateY(-50%);
    width: var(--img-size);
    height: fit-content;
  }
  img {
    border-radius: 50%;
    object-fit: cover;
  }
  .item-h {
    grid-area: name;
    margin-top: auto;
    font-size: 1.2rem;
  }
  .role {
    grid-area: role;
    margin-bottom: auto;
    opacity: 0.8;
    font-size: 0.9rem;
  }

  .stars {
    display: flex;
    gap: var(--p-s);
    color: var(--primary);
    i {
      position: static;
      font-size: unset;
    }
  }

  .stars,
  .quote {
    margin-top: var(--spacing);
  }
}

body.dark-mode{
  .reviews{
    .item{
      background-color: var(--light-bg);
    }
  }
}

@media screen and (min-width: 425px) {
  .reviews {
    --img-size: 15%;
  }
}

@media screen and (min-width: 768px) {
  .reviews {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .quote {
      width: 85%;
    }
  }
}

.banner {
  background-color: var(--primary) !important;

  .heading {
    color: var(--white);
  }

  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    gap: var(--p-md);
  }
  .cs-button-solid {
    background-color: var(--black);
  }
  .cs-button-solid:hover {
    color: var(--primary);
    border: 2px solid transparent;
  }
  .heading {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .banner {
    .container {
      justify-content: space-between;
    }
  }
}

.map-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  position: relative;
  min-height: 60vh;
}

iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  zoom: 0.1;
}

.dark-mode iframe {
  opacity: 0.86;
}
