/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

.about {
  text-align: center;
  .img-container {
    position: relative;
    overflow: visible;
    img {
      width: 80%;
      margin-right: 0;
      margin-left: auto;
    }
    .experience {
      background-color: var(--primary);
      width: fit-content;
      padding: var(--p-md);
      z-index: 5;
      bottom: -10px;
      aspect-ratio: 1.1;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: left;
      position: absolute;
      span {
        font-size: clamp(2rem, 3vw, 4rem);
        font-weight: bold;
        color: var(--headerColor);
      }
      p {
        font-weight: 600;
        font-size: clamp(1.5rem, 1.5vw, 3rem);
      }
    }
  }
  .content {
    .sub-h {
      margin-bottom: 0;
    }
    p {
      margin: auto;
    }

    .skill {
      display: flex;
      flex-direction: column;
      gap: var(--p-s);
    }

    .info {
      display: flex;
      justify-content: space-between;
      position: relative;
      margin-bottom: var(--p-md);
      // border: 1px red solid;
      p {
        width: fit-content;
        color: var(--headerColor);
        margin: 0;
        font-weight: bold;
      }
      span.tooltip {
        padding: 4px;
        background-color: var(--black);
        color: #fff;
        border-radius: var(--b-radius);
        font-size: 0.75rem;
        text-align: center;
        display: flex;
        align-content: center;
        justify-content: center;
        z-index: 1;
      }
    }
    .skill-bar {
      position: relative;
      background: rgba(0, 0, 0, 0.1);
      width: 100%;
      height: 8px;
      border-radius: var(--b-radius);

      .skill-per {
        position: absolute;
        width: var(--bar-width);
        background-color: var(--primary);
        height: 100%;
        border-radius: inherit;
        animation: progress 0.8s ease-in-out forwards;
      }
    }
  }

  @keyframes progress {
    0% {
      width: 0;
      opacity: 0;
    }
  }
}

@media screen and (min-width: 500px) {
  .about {
    .group {
      gap: var(--p-xl);
    }
    .content {
      p {
        width: 75%;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .about {
    text-align: left;
    .heading,
    .sub-h {
      margin-left: 0;
      text-align: left;
    }
    .content {
      padding-bottom: var(--p-md);
      p {
        margin: 0;
        width: 100%;
      }
    }
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .img-container {
      overflow: visible;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      .experience {
        position: absolute;
        width: fit-content;
        height: fit-content;
        left: -10px;
        padding: var(--p-ml);
      }
    }
  }
}

.services {
  text-align: left;
  background-color: var(--light-bg);
  .group {
    gap: var(--p-lg);
    margin-top: var(--p-xl);
  }
  .item {
    align-items: flex-end;
    display: grid;
    grid-template-areas:
      "number title"
      ". p";
    row-gap: var(--p-sm);
    column-gap: var(--p-ml);
    justify-content: start;
    .item-h {
      grid-area: title;
      margin-top: auto;
    }
    .info {
      grid-area: p;
    }
    .count {
      color: var(--primary);
      font-size: 1.6rem;
      font-weight: bold;
    }
    .item-h {
      font-size: 1.6rem;
      font-weight: bold;
      color: var(--headerColor);
    }
  }
}

@media screen and (min-width: 800px) {
  .services {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 1000px) {
  .services {
    .group {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.faq-section {
  .group {
    gap: var(--p-md);
  }
  .content {
    align-items: center;
    justify-content: center;
  }
  .img-container {
    height: 0;
    width: 0;
  }

  .accordion {
    padding: var(--p-sm);
    display: flex;
    flex-direction: column;
    gap: var(--p-md);

    .heading {
      margin-bottom: var(--p-lg);
    }

    label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: var(--p-sm);
      cursor: pointer;
      border: 1px solid var(--light-bg);
      background-color: var(--light-bg);
      font-weight: 500;
      letter-spacing: 1.1px;
      color: var(--headerColor);
      i {
        color: inherit;
      }
      -webkit-box-shadow: var(--box-shadow);
      -moz-box-shadow: var(--box-shadow);
      box-shadow: var(--box-shadow);
    }

    label:hover {
      border: 1px var(--primary) solid;
    }

    .accordion-content {
      transition: 0.8s;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.6s ease-in-out;
      margin-left: var(--p-sm);
      margin-top: var(--p-sm);
      margin-bottom: var(--p-sm);
    }

    input[type="checkbox"] {
      display: none;
    }
  }

  .accordion [id^="accordion"]:checked ~ div[id^="accordion-content"] {
    display: block;
    max-height: 300px;
  }

  .accordion [id^="accordion"]:checked + label {
    color: var(--headerColor);
    border: 1px solid var(--primary);
  }

  .cs-button-solid {
    width: fit-content;
    align-self: center;
  }
}

.dark-mode .faq-section {
  .accordion {
    label {
      color: var(--primary-bg-color);
    }
  }
  .accordion [id^="accordion"]:checked + label {
    color: var(--primary);
    border: 1px solid transparent;
    background-color: var(--borderColor);
  }
}

@media screen and (min-width: 1024px) {
  .faq-section {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--p-xl);
    }
    .sub-h {
      margin-left: 0;
    }
    .heading {
      margin-left: 0;
      text-align: left;
    }
    .img-container {
      height: fit-content;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--p-md);
      grid-template-areas:
        "one two"
        "one three";
      img {
        // object-fit: cover;
      }
    }
    .img-1 {
      grid-area: one;
      height: 75%;
      align-self: center;
    }
    .img-2 {
      grid-area: two;
      aspect-ratio: 1;
    }
    .img-3 {
      grid-area: three;
      aspect-ratio: 1;
    }
    .heading,
    .sub-h {
      margin: 0;
    }
    .cs-button-solid {
      align-self: unset;
    }
  }
}

// hvac dropdown

.offerings {
  padding: 0;
  text-align: left;
  .group {
    gap: 0;
  }
  .item {
    text-align: left;
    align-items: start;
    position: relative;
    aspect-ratio: 1;
    justify-content: end;
  }

  .item:hover {
    a::after {
      width: 100%;
    }
    .img-container::after {
      background-color: rgba(0, 0, 0, 0.75);
    }
  }
  .item-h {
    color: var(--bodyTextColorWhite);
  }
  a {
    color: var(--headerColor);
    position: relative;
    width: fit-content;
    padding: var(--p-sm) var(--p-md);
  }
  a::after {
    content: "";
    z-index: -1;
    height: 100%;
    width: 40%;
    display: block;
    background-color: var(--primary);
    position: absolute;
    inset: 0;
    transition: 0.25s;
  }
  p {
    color: #d1d1d1;
  }
  .img-container {
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  .img-container::after {
    content: "";
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    z-index: 2;
    transition: 0.3s;
  }

  img {
    object-fit: cover;
    z-index: 1;
  }
  .info {
    padding: var(--p-lg);
    display: flex;
    flex-direction: column;
    gap: var(--p-md);
    justify-content: end;
  }
}

@media screen and (min-width: 500px) {
  .offerings {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 1000px) {
  .offerings {
    .group {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.supply {
  background-color: var(--dark-bg);
  color: var(--bodyTextColorWhite);
  .cs-button-solid {
    width: fit-content;
    align-self: center;
  }
  .cs-button-solid:hover {
    color: var(--dark-bg);
  }
  .cs-button-solid::before {
    background-color: var(--primary-bg-color);
  }
  .heading,
  p {
    color: inherit;
  }
  .item {
    align-items: start;
  }
  i {
    font-size: clamp(1.3rem, 2vw, 2.8rem);
    color: var(--primary);
  }
  .item-h {
    font-size: clamp(1.4rem, 1.5vw, 2.5rem);
  }
  .item:hover {
    i {
      bottom: 5px;
    }
  }
  .group {
    margin-top: var(--p-lg);
  }
  .content {
    gap: var(--p-lg);
  }
}

@media screen and (min-width: 500px) {
  .supply {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 1024px) {
  .supply {
    .content {
      display: grid;
      gap: var(--p-xl);
      grid-template-areas:
        "heading group"
        "heading group"
        "heading group"
        "button group";
    }
    .heading {
      grid-area: heading;
      text-align: left;
      font-size: clamp(2.8rem, 3.5vw, 4.5rem);
      max-width: 90%;
      margin-left: 0;
    }
    button {
      grid-area: button;
    }
    .group {
      grid-area: group;
      .item {
        padding: var(--p-md);
      }
      i {
        font-size: 2rem;
      }
    }
  }
}

.stats {
  background-color: var(--dark-bg);
  color: var(--bodyTextColorWhite);
  p {
    color: inherit;
  }
  .item {
    align-items: unset;
    gap: var(--p-s);
  }
  .item-h {
    color: var(--primary);
    font-size: clamp(2.3rem, 2.9vw, 4rem);
    font-weight: bold;
  }
  .group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 600px) {
  .stats {
    .group {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.projects {
  .group {
    margin-top: var(--p-lg);
    margin-bottom: var(--p-xl);
  }
  .item {
    position: relative;
    padding-bottom: var(--p-lg);
  }
  .img-container {
    aspect-ratio: 1;
  }
  img {
    object-fit: cover;
  }
  .item-h {
    color: var(--headerColor);
    font-size: clamp(1.1rem, 2vw, 1.5rem);
  }
  .info {
    padding: var(--p-ml);
    background-color: var(--primary);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .item:nth-child(even) .info {
    left: unset;
    right: 0;
  }
  a {
    grid-column: 1/-1;
  }
}

@media screen and (min-width: 500px) {
  .projects {
    .info {
      height: 10%;
      justify-content: start;
    }
  }
}

@media screen and (min-width: 768px) {
  .projects {
    .group {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    .item:nth-child(even) .info {
      left: 0;
      right: unset;
    }
    a {
      margin: auto;
    }
  }
}

.testimonials {
  i {
    color: var(--primary);
    font-size: 2rem;
  }
  .item {
    align-items: start;
  }
  .item-h {
    color: var(--headerColor);
  }
  .city {
    font-size: 0.75rem;
  }
  .quote {
    font-style: italic;
    opacity: 0.8;
  }
}

@media screen and (min-width: 1000px) {
  .testimonials {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--p-xl);
    }
    // .img-container{
    //   grid-column: 1/-1;
    // }
  }
}

.prices {
  .group {
    margin-top: var(--p-lg);
  }
  .item {
    flex-direction: row;
  }
  .info {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    row-gap: var(--p-sm);
    height: 90%;
  }
  .text {
    flex: 0 0 100%;
    opacity: 0.7;
  }
  .dot {
    flex: 1;
    border-bottom: 2px dotted var(--dark-bg);
    margin: 10px 15px 0;
    opacity: 0.7;
  }
  .item-h,
  .price {
    color: var(--dark-bg);
  }

  .img-container {
    flex: 30%;
    aspect-ratio: 1;
  }
  img {
    object-fit: cover;
    transition: 0.3s;
  }
  .item:hover {
    img {
      transform: scale(1.1);
    }
  }
}

@media screen and (min-width: 600px) {
  .prices {
    .group {
      display: grid;
      gap: var(--p-xl);
      grid-template-columns: repeat(2, 1fr);
    }
    .info {
      row-gap: 0;
    }
  }
}
