<section class="pricing">
  <div class="container">
    <h3 class="sub-heading">Us.</h3>
    <h2 class="heading">Focused on Actionable Insights</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo id, minus
      quasi rem possimus eos atque placeat sint quis, itaque eius! Facere
      molestiae fugiat optio deleniti magnam possimus explicabo delectus.
    </p>
    <div class="group row">
      <div class="item"></div>
      <div class="item"></div>
    </div>
    <button class="btn-primary">Learn More</button>
  </div>
</section>
