<section class="banner">
  <div class="container">
    <h3 class="sub-heading">Customers</h3>
    <h2 class="heading">Customer Stories</h2>
    <div class="rows">
        <div class="img-container">
          <img
            src="https://assets.stickpng.com/images/580b585b2edbce24c47b2cc9.png"
            alt=""
          />
        </div>
        <div class="img-container">
          <img
            src="https://assets.stickpng.com/images/580b585b2edbce24c47b2cc9.png"
            alt=""
          />
        </div>
        <div class="img-container">
          <img
            src="https://assets.stickpng.com/images/580b585b2edbce24c47b2cc9.png"
            alt=""
          />
        </div>
        <div class="img-container">
          <img
            src="https://assets.stickpng.com/images/580b585b2edbce24c47b2cc9.png"
            alt=""
          />
        </div>
        <div class="img-container">
          <img
            src="https://assets.stickpng.com/images/580b585b2edbce24c47b2cc9.png"
            alt=""
          />
        </div>
    </div>
  </div>
</section>
