<section class="members">
  <div class="container">
    <h3 class="sub-heading">Lorem ipsum dolor sit amet.</h3>
    <h2 class="heading">Our Members</h2>
    <div class="group">
      <div class="item">
        <div class="img-container">
          <div class="overlay">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-twitter"></i>
          </div>
          <img
            src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHByb2ZpbGV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=600"
            alt=""
          />
        </div>
        <div class="content">
          <h4 class="item-heading">Shawn L. Smith</h4>
          <p>Team Manager</p>
        </div>
      </div>

      <div class="item">
        <div class="img-container">
          <div class="overlay">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-twitter"></i>
          </div>
          <img
            src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHByb2ZpbGV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=600"
            alt=""
          />
        </div>
        <div class="content">
          <h4 class="item-heading">Shawn L. Smith</h4>
          <p>Team Manager</p>
        </div>
      </div>

      <div class="item">
        <div class="img-container">
          <div class="overlay">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-twitter"></i>
          </div>
          <img
            src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHByb2ZpbGV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=600"
            alt=""
          />
        </div>
        <div class="content">
          <h4 class="item-heading">Shawn L. Smith</h4>
          <p>Team Manager</p>
        </div>
      </div>

    </div>
  </div>
</section>
