<section class="our-services">
  <div class="container">
    <p class="sub-heading">Sub Title</p>
    <h2 class="heading">Our Services</h2>

    <div class="tab-container">
      <input type="radio" name="slider" id="home" checked />
      <input type="radio" name="slider" id="blog" />
      <input type="radio" name="slider" id="code" />
      <input type="radio" name="slider" id="help" />
      <input type="radio" name="slider" id="about" />
      <ul class="tabs group">
        <li class="tab">
          <label for="home"><i class="fa-solid fa-house"></i> Home</label>
        </li>
        <li class="tab">
          <label for="blog"><i class="fa-solid fa-blog"></i>Blog</label>
        </li>
        <li class="tab">
          <label for="code"><i class="fa-solid fa-code"></i>Code</label>
        </li>
        <li class="tab">
          <label for="help"><i class="fa-solid fa-envelope"></i>Help</label>
        </li>
      </ul>

      <div class="tab-content">
        <div class="home-content content">
          <h4 class="item-heading">Home Content</h4>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel natus
            voluptate, dolores culpa asperiores omnis hic ratione eveniet
            ducimus, maxime repellat. Nisi tempora consequuntur nesciunt iure
            aperiam aliquid dolor repudiandae.
          </p>
          <button class="cs-button-solid">Services</button>
        </div>

        <div class="content blog-content">
          <h4 class="item-heading">Blog Content</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro velit
            consequatur iure vero at, dicta debitis recusandae autem qui. Fuga
            minus repudiandae eaque a id aliquam quisquam dolor delectus
            aliquid!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
            temporibus itaque placeat incidunt architecto quasi nemo expedita
            alias dolore minima, et vero dolores illum, maiores consequuntur
            impedit doloremque corporis corrupti.
          </p>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque
            placeat culpa, odio odit eius modi aperiam adipisci officia labore
            aut eligendi quasi quo dicta earum nobis, ad cumque enim
            consequuntur.
          </p>

          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga
            sapiente distinctio voluptatibus sunt deleniti esse deserunt sit
            placeat, itaque asperiores autem numquam fugiat iure voluptatum!
            Maxime placeat voluptate dignissimos nostrum!
          </p>
          <button class="cs-button-solid">Services</button>
        </div>

        <div class="content code-content">
          <h4 class="item-heading">Code Content</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
            excepturi facere cum nemo voluptatem laudantium eaque veniam quam at
            recusandae! Vero itaque odio repellendus ipsum obcaecati iure quo
            doloremque numquam.
          </p>
          <button class="cs-button-solid">Services</button>
        </div>

        <div class="content help-content">
          <h4 class="item-heading">Help Content</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
            quisquam ipsum magnam voluptatibus inventore esse doloribus maxime
            perspiciatis corrupti. Atque numquam nulla autem amet distinctio
            ipsam explicabo obcaecati fugiat illum?
          </p>
          <button class="cs-button-solid">Services</button>
        </div>
      </div>
    </div>
  </div>
</section>
