<section class="pricing">
  <div class="container">
    <h3 class="sub-heading">
      Lorem ipsum dolor sit amet.
    </h3>
    <h2 class="heading">Our Pricing</h2>
    <div class="group">
      <div class="item basic">
          <h3 class="plan-heading">Basic</h3>
          <h4 class="plan-price"><span class="dollar">$</span>99</h4>
          <ul class="features">
            <li class="feature">100 GB Storage</li>
            <li class="feature">2 Users Allowed</li>
            <li class="feature">Send up to 3 GB</li>
            <li class="feature">Support</li>
          </ul>
          <a href="#" class="btn buy-now">Buy Now</a>
        </div>

        <div class="item pro">
          <h3 class="plan-heading">Basic</h3>
          <h4 class="plan-price"><span class="dollar">$</span>199</h4>
          <ul class="features">
            <li class="feature">300 GB Storage</li>
            <li class="feature">3 Users Allowed</li>
            <li class="feature">Send up to 6 GB</li>
            <li class="feature">Support</li>
          </ul>
          <a href="#" class="btn buy-now">Buy Now</a>
        </div>

        <div class="item master">
          <h3 class="plan-heading">Basic</h3>
          <h4 class="plan-price"><span class="dollar">$</span>299</h4>
          <ul class="features">
            <li class="feature">600 GB Storage</li>
            <li class="feature">3 Users Allowed</li>
            <li class="feature">Send up to 9 GB</li>
            <li class="feature">Master Support</li>
          </ul>
          <a href="#" class="btn buy-now">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</section>