<section class="about-us">
  <div class="container">
    <div class="content">
      <h2 class="heading">The last digital agency you'll ever need</h2>
      <p class="sub-h">
        Suspendisse ut magna porttitor, sollicitudin ligula at, molestie dolor.
        Vivamus a ligula ut velit placerat egestas at id leo. Nulla ac volutpat
        nunc. Nulla facilisi. Pellentesque tempus tellusut magna porttitor
        scelerisque.
      </p>
      <div class="group">
        <div class="item">
          <i class="fa-solid fa-ruler"></i>
          <p class="item-h">10+ years of market experience</p>
        </div>
        <div class="item">
          <i class="fa-solid fa-ruler"></i>
          <p class="item-h">Unique technologies & modern approach</p>
        </div>
        <div class="item">
          <i class="fa-solid fa-ruler"></i>
          <p class="item-h">100+ cuccessful cases in portfolio</p>
        </div>
        <div class="item">
          <i class="fa-solid fa-ruler"></i>
          <p class="item-h">Customer satisfaction is our top priority</p>
        </div>
      </div>
    </div>
  </div>
</section>
