<section class="reviews">
  <div class="container">
    <h2 class="heading">What Clients Say About Our Work</h2>
    <div class="group">
      <div class="item">
        <p class="item-h">Alexander Black</p>
        <p class="item-sub">Seven Consulting - CEO</p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem
          deleniti saepe reprehenderit voluptatem placeat? Quos tempore eos
          dolores quae voluptate, ab rerum fuga explicabo officiis, nesciunt
          beatae molestiae consectetur assumenda.
        </p>
      </div>
    </div>
  </div>
</section>
