/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */
// * {
//   border: 1px red solid;
// }

.services {
  background-color: var(--light-bg);
  .heading {
    font-size: 2rem;
  }
  .sub-h {
    margin: 0;
  }
  .group {
    margin-top: var(--p-xl);
  }
  .content {
    justify-content: center;
    padding: var(--p-md) 0;
    max-width: 90%;
  }
  .item {
    padding: var(--p-ml);
    gap: var(--p-m);
    text-align: left;
    align-items: start;
    background-color: var(--white);
  }
  .item-h {
    font-size: 1.25rem;
  }
  i {
    font-size: 1.75rem;
    color: var(--primary);
    border-radius: var(--b-radius);
    width: fit-content;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
  }
  a {
    width: fit-content;
  }
}

@media screen and (min-width: 48rem) {
  .services {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 64rem) {
  .services {
    .group {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.about {
  --vertical-padding: var(--p-md);
  --spacing: var(--p-md);
  .sub-h,
  .heading {
    margin: 0;
  }
  .item {
    gap: var(--p-m);
  }
  .content-group-1 {
    gap: var(--p-md);
    border-bottom: 2px dotted var(--borderColor);
    padding-bottom: var(--vertical-padding);
    .item {
      row-gap: 0.25rem;
      display: grid;
      grid-template-columns: min-content 1fr;
      grid-template-areas:
        "i heading"
        "i text";
      width: fit-content;
      grid-template-rows: min-content;
      height: fit-content;
    }
    i {
      grid-area: i;
      height: fit-content;
      margin: auto;
      padding-top: var(--p-sm);
      margin-top: 0;
      font-size: 1.4rem;
      color: var(--primary);
      display: flex;
      border-radius: var(--b-radius);
      align-items: center;
    }
    .item-h {
      color: var(--headerColor);
      margin: auto;
      margin-left: 0;
      margin-top: 0;
      grid-area: heading;
    }
    .text {
      grid-area: text;
    }
    p {
      margin: auto;
      margin-top: 0;
      margin-left: 0;
    }
  }
  .content-group-2 {
    .item {
      display: grid;
      grid-template-columns: min-content 1fr;
      padding-bottom: var(--p-s);
    }
    i {
      color: var(--primary);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: var(--p-xs);
      aspect-ratio: 1;
      border: 2px var(--primary) dotted;
      border-radius: 50%;
    }
    .item-h {
      font-size: 1rem;
      font-weight: normal;
    }
  }
  .content-group,
  .text {
    margin-top: var(--spacing);
    height: fit-content;
  }
}

@media screen and (min-width: 48rem) {
  .about {
    .group {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--p-lg);
    }
    img {
      object-fit: cover;
    }
    .content {
      padding-top: var(--p-md);
    }
    .content-group-1 {
      flex-direction: row;
      gap: var(--p-lg);
    }
  }
}

.features {
  text-align: center;
  background-color: var(--secondaryDark);
  .heading {
    color: var(--white);
  }
  .item {
    padding: var(--p-ml);
    border-radius: var(--b-radius);
    background-color: var(--white);
    gap: var(--p-m);
    position: relative;
    text-align: left;
    align-items: start;
    justify-content: start;
    transition: 0.4s;
  }
  .item:hover {
    .count {
      -webkit-text-fill-color: var(--primary);
    }
  }

  .item-h {
    font-size: 1rem;
    color: var(--headerColor);
  }
  i {
    font-size: 2.25rem;
    color: var(--primary);
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .count {
    position: absolute;
    font-size: 1.75rem;
    font-weight: bold;
    top: 1rem;
    right: 1.5rem;
    color: var(--primary);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
    transition: 0.4s;
  }
}

@media screen and (min-width: 25rem) {
  .features {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 48rem) {
  .features {
    .heading {
      max-width: 60%;
    }
    .group {
      grid-template-columns: repeat(4, 1fr);
      gap: var(--p-ml);
    }
  }
}

.why-choose-us {
  --spacing: var(--p-md);
  .heading,
  .sub-h {
    margin: 0;
  }
  .content-group {
    margin-top: var(--p-md);
    gap: var(--p-md);
    margin-top: var(--spacing);
  }
  .item {
    display: grid;
    grid-template-areas:
      "i heading"
      "i p";
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content;
    row-gap: 0;
    .text {
      grid-area: p;
      margin-top: 0;
      border: none;
    }
  }
  .item-h,
  .item-sub-h {
    margin: auto;
    margin-left: 0;
    margin-top: 0;
  }
  .item-h {
    grid-area: heading;
  }
  i {
    grid-area: i;
    height: fit-content;
    margin: auto;
    padding-top: var(--p-sm);
    margin-top: 0;
    font-size: 1.4rem;
    color: var(--primary);
    display: flex;
    border-radius: var(--b-radius);
    align-items: center;
  }

  .img-container {
    max-height: 50vh;
  }

  .content-group,
  .text {
    margin-top: var(--spacing);
    height: fit-content;
  }
  .text {
    padding-bottom: var(--spacing);
    border-bottom: 2px dotted var(--borderColor);
  }
}

@media screen and (min-width: 64rem) {
  .why-choose-us {
    .group {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--p-lg);
    }
    .content {
      padding: var(--p-md) 0;
    }
    .img-container {
      max-height: unset;
      img {
        object-fit: cover;
      }
    }
  }
}

.stats {
  background-color: var(--primary);
  color: var(--bodyTextColorWhite);
  p {
    color: inherit;
  }
  .item {
    gap: var(--p-s);
  }
  .item-h {
    color: inherit;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 600px) {
  .stats {
    .group {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.process {
  text-align: center;
  background-color: var(--light-bg);
  .group {
    margin-top: var(--p-lg);
  }
  a {
    transition: 0.4s;
    color: var(--secondary);
  }

  a:hover {
    color: var(--primary);
  }

  .item {
    padding: var(--p-lg);
    text-align: left;
    overflow: visible;
    border-radius: var(--b-radius);
    border: 2px dotted var(--white);
    background-color: var(--white);
    align-items: start;
    gap: var(--p-m);
    position: relative;
  }

  .item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 2px;
    background-color: var(--primary);
    margin: auto;
    transition: 0.4s;
  }
  .item:hover::after {
    transform: scaleY(3);
  }

  .img-container {
    border-radius: var(--b-radius);
    position: relative;
    overflow: visible;
    width: fit-content;
    border-radius: 50%;
    background-color: var(--primary-bg-color);
  }
  i {
    color: var(--primary);
    transition: 0.4s;
    border-radius: 50%;
    font-size: 1.75rem;
  }
  .count {
    position: absolute;
    z-index: 2;
    background-color: var(--primary);
    color: var(--white);
    top: -0.5rem;
    right: -0.5rem;
    padding: var(--p-sm);
    font-weight: bold;
    width: 50%;
    height: 50%;
    aspect-ratio: 1;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    transition: 0.4s;
  }
}

@media screen and (min-width: 31.25rem) {
  .process {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--p-lg);
    }
    .item {
      height: fit-content;
    }
  }
}

@media screen and (min-width: 90rem) {
  .process {
    .group {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.projects {
  text-align: center;
  // background-color: var(--light-bg);
  // color: var(--white);
  // .heading {
  //   color: inherit;
  // }
  .group {
    margin-top: var(--p-lg);
  }
  img {
    object-fit: cover;
    transition: 0.3s;
  }
  .img-container {
    transition: 0.3s;
    border: 1px solid transparent;
  }
  .img-container:hover {
    img {
      transform: scale(1.2);
    }
  }
  .cs-button-solid {
    margin-top: var(--p-xl);
  }
}

@media screen and (min-width: 600px) {
  .projects {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 768px) {
  .projects {
    .group {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.faqs {
  background-color: var(--light-bg);
  .sub-h,
  .heading {
    margin: 0;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: var(--p-md);
  }
  li {
    background-color: var(--primary-bg-color);
    border-radius: var(--b-radius);
    overflow: hidden;
  }
  label {
    display: block;
    padding: var(--p-sm);
    color: var(--headerColor);
    cursor: pointer;
    font-weight: bold;
    // -moz-box-shadow: var(--box-shadow);
    // -webkit-box-shadow: var(--box-shadow);
    // box-shadow: var(--box-shadow);
  }

  label:hover {
    color: var(--primary);
    /* border: 1px solid var(--primary); */
  }
  .accordion {
    display: flex;
    flex-direction: column;
    gap: var(--p-m);
  }
  .accordion-content {
    transition: 0.8s;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s;
    margin: 0 var(--p-sm);
  }
  input[type="radio"] {
    display: none;
  }

  [id^="accordion"]:checked ~ div[id^="accordion-content"] {
    display: block;
    max-height: 500px;
    margin: var(--p-m) var(--p-sm);
  }

  [id^="accordion"]:checked + label {
    color: var(--primary-bg-color);
    background-color: var(--primary);
  }

  .img-container {
    height: fit-content;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 48rem) {
  .faqs {
    padding-bottom: 0;
    .group {
      display: grid;
      grid-template-columns: 4.5fr 3.5fr;
      gap: var(--p-xl);
    }
    .img-container {
      order: 2;
    }
  }
}

.reviews {
  text-align: center;
  --spacing: var(--p-m);
  .content {
    align-items: center;
  }
  .heading {
    margin: 0;
  }
  .item {
    display: grid;
    grid-template-areas:
      "i i"
      "heading heading"
      "quote quote"
      "img name"
      "img role";
    grid-template-columns: min-content 5fr;
    row-gap: 0;
    column-gap: var(--p-m);
    text-align: left;
    border-radius: var(--b-radius);
    padding: var(--p-ml);
    background-color: var(--light-bg);
    position: relative;
  }
  .item:hover::after {
    transform: scaleY(3);
  }
  .item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: 2px;
    background-color: var(--primary);
    margin: auto;
    transition: 0.4s;
  }
  i {
    color: var(--primary);
    font-size: 2.5rem;
    margin-top: 0;
  }
  .quote-1 {
    grid-area: heading;
    color: var(--header-clr);
  }
  .quote-2 {
    background-color: var(--white);
    grid-area: quote;
  }
  .quote-1,
  .quote-2,
  i {
    margin-bottom: var(--spacing);
  }

  .img-container {
    border-radius: 50%;
    grid-area: img;
    aspect-ratio: 1;
    min-width: 4rem;
  }
  img {
    object-fit: cover;
  }
  .item-h {
    grid-area: name;
    margin-top: auto;
    color: inherit;
  }
  .role {
    grid-area: role;
    margin-bottom: auto;
    font-size: 0.9rem;
  }
  .group {
    margin-top: var(--p-lg);
    gap: var(--p-xl);
  }
}

@media screen and (min-width: 64rem) {
  .reviews {
    .group {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
