<section class="about">
  <div class="container group">
    <div class="img-container">
      <img
        src="https://images.pexels.com/photos/6238608/pexels-photo-6238608.jpeg?auto=compress&cs=tinysrgb&w=1600"
        alt=""
      />
    </div>
    <div class="content">
      <h3 class="sub-h">About Us</h3>
      <h2 class="heading">Professional Handyman services at your doorstep</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, molestiae
        et alias saepe pariatur amet consequatur architecto eos cumque quis.
        Consectetur repudiandae molestiae necessitatibus, fugit nulla ipsam
        tenetur dolorum saepe!
      </p>
      <div class="content-group">
        <div class="item">
          <i class="fa-solid fa-screwdriver-wrench"></i>
          <p class="item-h">Fix and Repair Services</p>
        </div>

        <div class="item">
          <i class="fa-solid fa-screwdriver-wrench"></i>
          <p class="item-h">Fix and Repair Services</p>
        </div>

        <div class="item">
          <i class="fa-solid fa-screwdriver-wrench"></i>
          <p class="item-h">Fix and Repair Services</p>
        </div>

        <div class="item">
          <i class="fa-solid fa-screwdriver-wrench"></i>
          <p class="item-h">Fix and Repair Services</p>
        </div>
      </div>
    </div>
  </div>
</section>
