<section class="about">
  <div class="container">
    <div class="group">
      <div class="img-container">
        <img
          src="https://live.themewild.com/electrow/assets/img/about/01.jpg"
          alt=""
        />
      </div>
      <div class="content">
        <h3 class="sub-h">About Us</h3>
        <h2 class="heading">
          We Are Commited to <span>Provide Quality</span> Service
        </h2>
        <p class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga,
          molestiae et alias saepe pariatur amet consequatur architecto eos
          cumque quis. Consectetur repudiandae molestiae necessitatibus, fugit
          nulla ipsam tenetur dolorum saepe!
        </p>
        <div class="content-group content-group-1">
          <div class="item">
            <i class="fa-solid fa-screwdriver-wrench"></i>
            <p class="item-h">Fix and Repair Services</p>
            <p class="text">It is a long fact that a reader will be distracted.</p>
          </div>

          <div class="item">
            <i class="fa-solid fa-screwdriver-wrench"></i>
            <p class="item-h">Fix and Repair Services</p>
            <p class="text">It is a long fact that a reader will be distracted.</p>
          </div>
        </div>
        <div class="content-group content-group-2">
          <div class="item">
            <i class="fa-solid fa-screwdriver-wrench"></i>
            <p class="item-h">Fix and Repair Services</p>
          </div>

          <div class="item">
            <i class="fa-solid fa-screwdriver-wrench"></i>
            <p class="item-h">At vero eos et accusamus et iusto odio.</p>
          </div>

          <div class="item">
            <i class="fa-solid fa-screwdriver-wrench"></i>
            <p class="item-h">Fix and Repair Services</p>
          </div>
        </div>
        <a href="/" class="cs-button-solid">Read More</a>
      </div>
    </div>
  </div>
</section>
