<section class="features">
  <div class="container">
    <h3 class="sub-h">Our Works</h3>
    <h2 class="heading">
      We provide solutions for <span>renovation homes repairing</span>
    </h2>
    <div class="group">
      <div class="item">
        <div class="count">01</div>
        <i class="fa-solid fa-truck-fast"></i>
        <p class="item-h">General Repairs</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nisi,
          quidem consequuntur, in perspiciatis.
        </p>
      </div>

      <div class="item">
        <div class="count">02</div>
        <i class="fa-solid fa-truck-fast"></i>
        <p class="item-h">General Repairs</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nisi,
          quidem consequuntur, in perspiciatis.
        </p>
      </div>

      <div class="item">
        <div class="count">03</div>
        <i class="fa-solid fa-truck-fast"></i>
        <p class="item-h">General Repairs</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nisi,
          quidem consequuntur, in perspiciatis.
        </p>
      </div>

      <div class="item">
        <div class="count">04</div>
        <i class="fa-solid fa-truck-fast"></i>
        <p class="item-h">General Repairs</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nisi,
          quidem consequuntur, in perspiciatis.
        </p>
      </div>
    </div>
  </div>
</section>
