<section class="process">
  <div class="container">
    <h3 class="sub-h">Awesome Services</h3>
    <h2 class="heading">Professional Services</h2>
    <div class="group">
      <div class="item">
        <div class="count">Step - 1</div>
        <p class="item-h">Service 1</p>
        <p>
          Leverage agile frameworks to provide robust synopsis for high level.
        </p>
      </div>

      <div class="item">
        <div class="count">Step - 2</div>
        <p class="item-h">Service 1</p>
        <p>
          Leverage agile frameworks to provide robust synopsis for high level.
        </p>
      </div>

      <div class="item">
        <div class="count">Step - 3</div>
        <p class="item-h">Service 1</p>
        <p>
          Leverage agile frameworks to provide robust synopsis for high level.
        </p>
      </div>
    </div>
  </div>
</section>
