<section class="projects">
  <div class="container">
    <h3 class="sub-h">Our Work</h3>
    <h2 class="heading">See our recent completed projects</h2>
    <div class="group">
      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1607631697491-61972eecf928?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGVsZWN0cmljYWwlMjBib3h8ZW58MHx8MHx8fDA%3D"
          alt=""
        />
      </div>
      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1557156105-c792d5220944?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGxpZ2h0JTIwc2hvd3xlbnwwfHwwfHx8MA%3D%3D"
          alt=""
        />
      </div>
      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1599739291413-87017131da6a?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGlnaHQlMjBzaG93fGVufDB8fDB8fHww"
          alt=""
        />
      </div>
      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1641659376402-3d2f48a91ed7?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fHRlc2xhJTIwY2hhcmdpbmclMjBzdGF0aW9ufGVufDB8fDB8fHww"
          alt=""
        />
      </div>
      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1599739291413-87017131da6a?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGlnaHQlMjBzaG93fGVufDB8fDB8fHww"
          alt=""
        />
      </div>
      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1641659376402-3d2f48a91ed7?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fHRlc2xhJTIwY2hhcmdpbmclMjBzdGF0aW9ufGVufDB8fDB8fHww"
          alt=""
        />
      </div>
    </div>
    <a href="/projects" class="cs-button-solid">See More of Our work</a>
  </div>
</section>