 <section class="services">
      <div class="container">
        <h3 class="sub-h">What We Offer</h3>
        <h2 class="heading">Here is the heading</h2>
        
        <div class="group">
          <div class="item">
            <i class="fa-solid fa-house"></i>
            <p class="item-h">Item Heading</p>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Consectetur
            </p>
          </div>

          <div class="item">
            <i class="fa-solid fa-house"></i>
            <p class="item-h">Item Heading</p>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Consectetur
            </p>
          </div>

          <div class="item">
            <i class="fa-solid fa-house"></i>
            <p class="item-h">Item Heading</p>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Consectetur
            </p>
          </div>

          <div class="item">
            <i class="fa-solid fa-house"></i>
            <p class="item-h">Item Heading</p>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Consectetur
            </p>
          </div>

          <div class="item">
            <i class="fa-solid fa-house"></i>
            <p class="item-h">Item Heading</p>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Consectetur
            </p>
          </div>

          <div class="item">
            <i class="fa-solid fa-house"></i>
            <p class="item-h">Item Heading</p>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Consectetur
            </p>
          </div>
        </div>
      </div>
    </section>