<section class="services">
      <div class="container">
        <div class="group">
          <div class="content">
            <h3 class="sub-h">Our Works</h3>
            <h2 class="heading">
              We provide solutions for renovation homes repairing
            </h2>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic
              quisquam cupiditate aliquam facilis, quis blanditiis quae modi
              harum error rerum consectetur soluta debitis tempora accusantium
              ab? Sequi non doloribus suscipit?
            </p>
          </div>

          <div class="item">
            <div class="img-container">
              <img src="https://images.unsplash.com/photo-1695037150815-bad631c344b3?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4fHx8ZW58MHx8fHx8" alt="">
            </div>
            <div class="info">
              <p class="item-h">General Repairs</p>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex
                eligendi cumque eum cum repellat deleniti
              </p>
              <a href="/">View More</a>
            </div>
          </div>

          <div class="item">
            <div class="img-container">
              <img src="https://images.unsplash.com/photo-1695037150815-bad631c344b3?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4fHx8ZW58MHx8fHx8" alt="">
            </div>
            <div class="info">
              <p class="item-h">General Repairs</p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus voluptas nisi sapiente, debitis qui molestias adipisci neque quae impedit itaque! In magni autem magnam impedit rem non eius. Expedita, eum!
              </p>
              <a href="/">View More</a>
            </div>
            
          </div>

          <div class="item">
            <div class="img-container">
              <img src="https://images.unsplash.com/photo-1695037150815-bad631c344b3?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4fHx8ZW58MHx8fHx8" alt="">
            </div>
            <div class="info">
              <p class="item-h">General Repairs</p>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex
              eligendi cumque eum cum repellat deleniti
            </p>
            <a href="/">View More</a>
            </div>
            
          </div>

          <div class="item">
            <div class="img-container">
              <img src="https://images.unsplash.com/photo-1695037150815-bad631c344b3?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4fHx8ZW58MHx8fHx8" alt="">
            </div>
            <div class="info">
              <p class="item-h">General Repairs</p>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex
              eligendi cumque eum cum repellat deleniti
            </p>
            <a href="/">View More</a>
            </div>
            
          </div>

          <div class="item">
            <div class="img-container">
              <img src="https://images.unsplash.com/photo-1695037150815-bad631c344b3?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4fHx8ZW58MHx8fHx8" alt="">
            </div>
            <div class="info">
              <p class="item-h">General Repairs</p>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex
              eligendi cumque eum cum repellat deleniti
            </p>
            <a href="/">View More</a>
            </div>
            
          </div>
        </div>
      </div>
    </section>
  </body>
