<section class="why-choose-us">
  <div class="container">
    <div class="group">
      <div class="content">
        <h3 class="sub-h">Why Choose Us</h3>
        <h2 class="heading">The perfect solution for all handman services</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore,
          aspernatur delectus unde alias, molestias soluta, nam deleniti ex
          deserunt at necessitatibus beatae earum nisi eveniet similique enim
          recusandae eligendi mollitia.
        </p>
        <div class="content-group">
          <div class="item">
            <p class="item-h">30+</p>
            <p class="item-sub-h">Years of experience</p>
            <p class="text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
              hic.
            </p>
          </div>

          <div class="item">
            <p class="item-h">30+</p>
            <p class="item-sub-h">Years of experience</p>
            <p class="text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
              hic.
            </p>
          </div>

          <div class="item">
            <p class="item-h">30+</p>
            <p class="item-sub-h">Years of experience</p>
            <p class="text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
              hic.
            </p>
          </div>

          <div class="item">
            <p class="item-h">30+</p>
            <p class="item-sub-h">Years of experience</p>
            <p class="text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente
              hic.
            </p>
          </div>
        </div>
      </div>
      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1545208942-e1c9c916524b?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGFuZWxzfGVufDB8fDB8fHww"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
