---
title: "Pixel Perfect Websites"
description: "Meta description for the page"
preloadImg: "/assets/images/landing.jpg"
permalink: "/"
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/css/local.css" />
<link rel="stylesheet" href="/css/critical.css" />

<!-- Script for Netlify Identity -->
<script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{% endblock %} {% block body %} 
{% include 'components/index/hero.html' %}
{% include 'components/index/features.html' %}
{% include 'components/index/our-principles.html' %}
{% include 'components/index/project.html' %}
{% include 'components/index/stats.html' %}
{% include 'components/index/clients-banner.html' %}
{% include 'components/index/accordion.html' %}
{% include 'components/index/our-team.html' %}
{% include 'components/index/location.html' %}
{% endblock %}
