<section class="about">
  <div class="container">
    <div class="group">
      <div class="content">
        <h3 class="sub-h">About Us</h3>
        <h2 class="heading">We are reliability and experience</h2>
        <p>
          We offer electrical design services for new construction projects,
          renovations, and upgrades to ensure that your electrical systems meet
          your specific needs and requirements.
        </p>
        <div class="content-group">
          <div class="skill" style="--bar-width: 66%">
            <div class="info">
              <p>Diagnostics</p>
              <span class="tooltip">66%</span>
            </div>

            <div class="skill-bar">
              <div class="skill-per"></div>
            </div>
          </div>

          <div class="skill" style="--bar-width: 95%">
            <div class="info">
              <p>Repairs</p>
              <span class="tooltip">95%</span>
            </div>

            <div class="skill-bar">
              <div class="skill-per"></div>
            </div>
          </div>

          <div class="skill" style="--bar-width: 53%">
            <div class="info">
              <p>Prevention</p>
              <span class="tooltip">53%</span>
            </div>

            <div class="skill-bar">
              <div class="skill-per"></div>
            </div>
          </div>
          
          
          <div class="skill" style="--bar-width: 77%">
            <div class="info">
              <p>Installation</p>
              <span class="tooltip">77%</span>
            </div>

            <div class="skill-bar">
              <div class="skill-per"></div>
            </div>
          </div>
        </div>
        </div>
        
        <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1621905252507-b35492cc74b4?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGVsZWN0cmljaWFufGVufDB8fDB8fHww"
          alt=""
        />
        <div class="experience">
          <span>30</span>
          <p>Years of experience</p>
        </div>
      </div>
      </div>
      

    </div>
  </div>
</section>
