<section class="faq-section">
  <div class="container group">
    <div class="accordion">
      <h3 class="sub-h">FAQS</h3>
      <h2 class="heading">Popular questions about our company</h2>
      <ul>
        <li>
          <input type="checkbox" name="accordion" id="accordion1" /><label
            for="accordion1"
            id="label1"
            >Why choose us?
            <i class="fa-solid fa-angle-down"></i>
          </label>
          <div id="accordion-content1" class="accordion-content">
            <!-- <h4>First</h4> -->
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
              iusto dolorum labore, ratione alias, illum velit molestias
              repellat beatae rerum perferendis odit dicta impedit excepturi
              iste harum laudantium corrupti ducimus!
            </p>
          </div>
        </li>

        <li>
          <input type="checkbox" name="accordion" id="accordion2" /><label
            for="accordion2"
            id="label2"
            >How quickly can you get help?<i class="fa-solid fa-angle-down"></i
          ></label>
          <div id="accordion-content2" class="accordion-content">
            <!-- <h4>Second</h4> -->
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
              iusto dolorum labore, ratione alias, illum velit molestias
              repellat beatae rerum perferendis odit dicta impedit excepturi
              iste harum laudantium corrupti ducimus!
            </p>
          </div>
        </li>

        <li>
          <input type="checkbox" name="accordion" id="accordion3" />
          <label for="accordion3" id="label3"
            >How to pay for services?<i class="fa-solid fa-angle-down"></i
          ></label>
          <div id="accordion-content3" class="accordion-content">
            <!-- <h4>Third</h4> -->
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
              iusto dolorum labore, ratione alias, illum velit molestias
              repellat beatae rerum perferendis odit dicta impedit excepturi
              iste harum laudantium corrupti ducimus!
            </p>
          </div>
        </li>

        <li>
          <input type="checkbox" name="accordion" id="accordion4" /><label
            for="accordion4"
            id="label4"
            >When to call an electrician?<i class="fa-solid fa-angle-down"></i
          ></label>
          <div id="accordion-content4" class="accordion-content">
            <!-- <h4>Fourth</h4> -->
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
              iusto dolorum labore, ratione alias, illum velit molestias
              repellat beatae rerum perferendis odit dicta impedit excepturi
              iste harum laudantium corrupti ducimus!
            </p>
          </div>
        </li>

        <!-- <li>
          <input type="checkbox" name="accordion" id="accordion5" /><label
            for="accordion5"
            id="label5"
            >Fifth<i class="fa-solid fa-angle-down"></i
          ></label>
          <div id="accordion-content5" class="accordion-content">
            <h4>Fifth</h4>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
              iusto dolorum labore, ratione alias, illum velit molestias
              repellat beatae rerum perferendis odit dicta impedit excepturi
              iste harum laudantium corrupti ducimus!
            </p>
          </div>
        </li> -->
      </ul>
      <button class="cs-button-solid">Contact</button>
    </div>

    <div class="img-container">
      <img class='img-1' src="http://wolt.like-themes.com/wp-content/uploads/2023/03/faq_01-720x1024.jpg" alt="">
      <img class='img-2'
        src="http://wolt.like-themes.com/wp-content/uploads/2023/03/faq_02.jpg"
        alt=""
      />
      <img class='img-3'
      src="http://wolt.like-themes.com/wp-content/uploads/2023/03/faq_03.jpg" alt="">
  </div>
</section>
