<section class="faq-section">
  <div class="container group">
    <div class="accordion">
      <h3 class="sub-h">FAQS</h3>
      <h2 class="heading">Popular questions about our company</h2>
      <ul>
        <li>
          <input type="checkbox" name="accordion" id="accordion1" /><label
            for="accordion1"
            id="label1"
            >Why choose us?
            <i class="fa-solid fa-angle-down"></i>
          </label>
          <div id="accordion-content1" class="accordion-content">
            <!-- <h4>First</h4> -->
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
              iusto dolorum labore, ratione alias, illum velit molestias
              repellat beatae rerum perferendis odit dicta impedit excepturi
              iste harum laudantium corrupti ducimus!
            </p>
          </div>
        </li>

        <li>
          <input type="checkbox" name="accordion" id="accordion2" /><label
            for="accordion2"
            id="label2"
            >How quickly can you get help?<i class="fa-solid fa-angle-down"></i
          ></label>
          <div id="accordion-content2" class="accordion-content">
            <!-- <h4>Second</h4> -->
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
              iusto dolorum labore, ratione alias, illum velit molestias
              repellat beatae rerum perferendis odit dicta impedit excepturi
              iste harum laudantium corrupti ducimus!
            </p>
          </div>
        </li>

        <li>
          <input type="checkbox" name="accordion" id="accordion3" />
          <label for="accordion3" id="label3"
            >How to pay for services?<i class="fa-solid fa-angle-down"></i
          ></label>
          <div id="accordion-content3" class="accordion-content">
            <!-- <h4>Third</h4> -->
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
              iusto dolorum labore, ratione alias, illum velit molestias
              repellat beatae rerum perferendis odit dicta impedit excepturi
              iste harum laudantium corrupti ducimus!
            </p>
          </div>
        </li>

        <li>
          <input type="checkbox" name="accordion" id="accordion4" /><label
            for="accordion4"
            id="label4"
            >When to call an electrician?<i class="fa-solid fa-angle-down"></i
          ></label>
          <div id="accordion-content4" class="accordion-content">
            <!-- <h4>Fourth</h4> -->
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
              iusto dolorum labore, ratione alias, illum velit molestias
              repellat beatae rerum perferendis odit dicta impedit excepturi
              iste harum laudantium corrupti ducimus!
            </p>
          </div>
        </li>

        <!-- <li>
          <input type="checkbox" name="accordion" id="accordion5" /><label
            for="accordion5"
            id="label5"
            >Fifth<i class="fa-solid fa-angle-down"></i
          ></label>
          <div id="accordion-content5" class="accordion-content">
            <h4>Fifth</h4>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum
              iusto dolorum labore, ratione alias, illum velit molestias
              repellat beatae rerum perferendis odit dicta impedit excepturi
              iste harum laudantium corrupti ducimus!
            </p>
          </div>
        </li> -->
      </ul>
      <button class="cs-button-solid">Contact</button>
    </div>

    <div class="img-container">
      <img class='img-1' src="https://images.unsplash.com/photo-1505577456728-943829a41284?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzF8fGVsZWN0cmljfGVufDB8fDB8fHww" alt="">
      <img class='img-2'
        src="https://images.unsplash.com/photo-1527699394565-4be926d174de?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjZ8fGVsZWN0cmljfGVufDB8fDB8fHww"
        alt=""
      />
      <img class='img-3'
      src="https://images.unsplash.com/photo-1496688519089-de7d4b5c05d7?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8bGlnaHQlMjBvdmVyJTIwY2FycG9ydHxlbnwwfHwwfHx8MA%3D%3D" alt="">
  </div>
</section>
