<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1059">
  <div class="cs-container container">
    <div class="cs-content">
      <h1 class="cs-title">
        Bringing <span class="primary">power</span> to your business or home
      </h1>
      <p class="cs-text">
        We are the premier Stitch Design Pack for mechanics and auto body
        websites of all varieties.
      </p>
      <a href="" class="cs-button-solid">Request Appointment</a>
    </div>
  </div>

  <!-- Background Image -->
  <picture class="cs-background">
    <source
      media="(max-width: 600px)"
      srcset="
        https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8ZWxlY3RyaWNpdHl8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60
      "
    />
    <source
      media="(min-width: 601px)"
      srcset="
        https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8ZWxlY3RyaWNpdHl8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60
      "
    />
    <img
      decoding="async"
      src="https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8ZWxlY3RyaWNpdHl8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
      alt="mechanic"
      width="2250"
      height="1500"
      aria-hidden="true"
    />
  </picture>
</section>
<section>
  <div class="services">
    <div class="container">
      <div class="group">
        <div class="item">
          <i class="fa-solid fa-plug-circle-plus"></i>
          <p class="item-h">24/7 emergency services</p>
        </div>
        <div class="item">
          <i class="fa-solid fa-plug-circle-plus"></i>
          <p class="item-h">Pay after job done</p>
        </div>
        <div class="item">
          <i class="fa-solid fa-plug-circle-plus"></i>
          <p class="item-h">High-quality tools</p>
        </div>
        <div class="item">
          <i class="fa-solid fa-plug-circle-plus"></i>
          <p class="item-h">5 years guarantee</p>
        </div>
      </div>
    </div>
  </div>
</section>
