<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1059">
  <div class="cs-container container">
    <div class="cs-content">
      <h1 class="cs-title">
        Bringing <span class="primary">power</span> to your business or home
      </h1>
      <p class="cs-text">
        We are dedicated to delivering safe and innovative solutions while upholding the highest standards of quality, integrity, and environmental responsibility.
      </p>
      <a href="" class="cs-button-solid">Request Appointment</a>
    </div>
  </div>

  <!-- Background Image -->
  <picture class="cs-background">
    <source media="(max-width: 600px)" srcset="../../../assets/images/home.webp" />
    <source media="(min-width: 601px)" srcset="../../../assets/images/home.webp" />
    <img
      decoding="async"
      src="../../../assets/images/home.webp"
      alt="mechanic"
      width="2250"
      height="1500"
      aria-hidden="true"
    />
  </picture>
</section>
<section class="hero-services">
  <div class="container">
    <div class="group">
      <div class="item">
        <i class="fa-solid fa-plug-circle-plus"></i>
        <p class="item-h">24/7 emergency services</p>
      </div>
      <div class="item">
        <i class="fa-solid fa-plug-circle-plus"></i>
        <p class="item-h">Pay after job done</p>
      </div>
      <div class="item">
        <i class="fa-solid fa-plug-circle-plus"></i>
        <p class="item-h">High-quality tools</p>
      </div>
      <div class="item">
        <i class="fa-solid fa-plug-circle-plus"></i>
        <p class="item-h">5 years guarantee</p>
      </div>
    </div>
  </div>
</section>
