<section class="offerings">
  <div class="group">
    <div class="item">
      <div class="img-container">
        <img
          src="https://plus.unsplash.com/premium_photo-1681589433923-33ea0898397f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDZ8fGVsZWN0cmljfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
          alt=""
        />
      </div>
      <div class="info">
        <p class="item-h">Apartments</p>
        <p class="sub">
          Our team can assist with the installation and integration of home
          automation systems.
        </p>
        <a href="/">+ Read More</a>
      </div>
    </div>

    <div class="item">
      <div class="img-container">
        <img
          src="https://plus.unsplash.com/premium_photo-1673548917477-4c0c8889b439?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGxpdmluZyUyMHJvb218ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
          alt=""
        />
      </div>
      <div class="info">
        <p class="item-h">Private Homes</p>
        <p class="sub">
          Our team can assist with the installation and integration of home
          automation systems.
        </p>
        <a href="/">+ Read More</a>
      </div>
    </div>


    <div class="item">
      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1562663474-6cbb3eaa4d14?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGxpdmluZyUyMHJvb218ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
          alt=""
        />
      </div>
      <div class="info">
        <p class="item-h">Offices</p>
        <p class="sub">
          Our team can assist with the installation and integration of home
          automation systems.
        </p>
        <a href="/">+ Read More</a>
      </div>
    </div>


    <div class="item">
      <div class="img-container">
        <img
          src="https://images.unsplash.com/photo-1586023492125-27b2c045efd7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8bGl2aW5nJTIwcm9vbXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60"
          alt=""
        />
      </div>
      <div class="info">
        <p class="item-h">Businesses</p>
        <p class="sub">
          Our team can assist with the installation and integration of home
          automation systems.
        </p>
        <a href="/">+ Read More</a>
      </div>
    </div>

  </div>
</section>
