<section class="prices">
  <div class="container">
    <h3 class="sub-h">Our Prices</h3>
    <h2 class="heading">Popular offers</h2>
    <div class="group">
      <div class="item">
        <div class="img-container">
          <img
            src="https://images.unsplash.com/photo-1621905251189-08b45d6a269e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8ZWxlY3RyaWNpYW58ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60g"
            alt=""
          />
        </div>
        <div class="info">
          <p class="item-h">Electrical Repairs</p>
          <div class="dot"></div>
          <p class="price">25$</p>
          <p class="text">
            Our electronic services include installation, maintenance
          </p>
        </div>
      </div>

      <div class="item">
        <div class="img-container">
          <img
            src="https://images.unsplash.com/photo-1621905251189-08b45d6a269e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8ZWxlY3RyaWNpYW58ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60g"
            alt=""
          />
        </div>
        <div class="info">
          <p class="item-h">Electrical Repairs</p>
          <div class="dot"></div>
          <p class="price">25$</p>
          <p class="text">
            Our electronic services include installation, maintenance
          </p>
        </div>
      </div>

      <div class="item">
        <div class="img-container">
          <img
            src="https://images.unsplash.com/photo-1621905251189-08b45d6a269e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8ZWxlY3RyaWNpYW58ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60g"
            alt=""
          />
        </div>
        <div class="info">
          <p class="item-h">Electrical Repairs</p>
          <div class="dot"></div>
          <p class="price">25$</p>
          <p class="text">
            Our electronic services include installation, maintenance
          </p>
        </div>
      </div>

      <div class="item">
        <div class="img-container">
          <img
            src="https://images.unsplash.com/photo-1621905251189-08b45d6a269e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8ZWxlY3RyaWNpYW58ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60g"
            alt=""
          />
        </div>
        <div class="info">
          <p class="item-h">Electrical Repairs</p>
          <div class="dot"></div>
          <p class="price">25$</p>
          <p class="text">
            The future of lighting: exploring smart lighting solutions
          </p>
        </div>
      </div>

      <div class="item">
        <div class="img-container">
          <img
            src="https://images.unsplash.com/photo-1621905251189-08b45d6a269e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8ZWxlY3RyaWNpYW58ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60g"
            alt=""
          />
        </div>
        <div class="info">
          <p class="item-h">Electrical Repairs</p>
          <div class="dot"></div>
          <p class="price">25$</p>
          <p class="text">
            The future of lighting: exploring smart lighting solutions
          </p>
        </div>
      </div>

      <div class="item">
        <div class="img-container">
          <img
            src="https://images.unsplash.com/photo-1621905251189-08b45d6a269e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8ZWxlY3RyaWNpYW58ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60g"
            alt=""
          />
        </div>
        <div class="info">
          <p class="item-h">Electrical Repairs</p>
          <div class="dot"></div>
          <p class="price">25$</p>
          <p class="text">
            The future of lighting: exploring smart lighting solutions
          </p>
        </div>
      </div>
      
    </div>
  </div>
</section>
