<section class="projects">
  <div class="container">
    <h3 class="sub-h">Projects</h3>
    <h2 class="heading">Our Works</h2>
    <div class="group">
      <div class="item">
        <div class="img-container">
          <img
            src="https://images.unsplash.com/photo-1562663474-6cbb3eaa4d14?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGxpdmluZyUyMHJvb218ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
            alt=""
          />
        </div>
        <div class="info">
          <p class="item-h">Lighting</p>
        </div>
      </div>

      <div class="item">
        <div class="img-container">
          <img
            src="https://images.unsplash.com/photo-1562663474-6cbb3eaa4d14?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGxpdmluZyUyMHJvb218ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
            alt=""
          />
        </div>
        <div class="info">
          <p class="item-h">Lighting</p>
        </div>
      </div>

      <div class="item">
        <div class="img-container">
          <img
            src="https://images.unsplash.com/photo-1562663474-6cbb3eaa4d14?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGxpdmluZyUyMHJvb218ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
            alt=""
          />
        </div>
        <div class="info">
          <p class="item-h">Lighting</p>
        </div>
      </div>

      <div class="item">
        <div class="img-container">
          <img
            src="https://images.unsplash.com/photo-1562663474-6cbb3eaa4d14?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGxpdmluZyUyMHJvb218ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
            alt=""
          />
        </div>
        <div class="info">
          <p class="item-h">Lighting</p>
        </div>
      </div>

      <div class="item">
        <div class="img-container">
          <img
            src="https://images.unsplash.com/photo-1562663474-6cbb3eaa4d14?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGxpdmluZyUyMHJvb218ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
            alt=""
          />
        </div>
        <div class="info">
          <p class="item-h">Lighting</p>
        </div>
      </div>

      <div class="item">
        <div class="img-container">
          <img
            src="https://images.unsplash.com/photo-1562663474-6cbb3eaa4d14?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGxpdmluZyUyMHJvb218ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
            alt=""
          />
        </div>
        <div class="info">
          <p class="item-h">Lighting</p>
        </div>
      </div>

      <a href="/projects" class="cs-button-solid">See More</a>

    </div>
  </div>
</section>
