<section class="services">
  <div class="container">
    <h3 class="sub-h">Services</h3>
    <h2 class="heading">Full range of services</h2>
    <div class="group">
      <div class="item">
        <p class="count">01.</p>
        <p class="item-h">Electrical Repairs</p>
        <p class="info">
          Our electronic services include installation, maintenance, and repair
          of all types of electrical systems for residential and commercial
          buildings
        </p>
      </div>

      <div class="item">
        <p class="count">02.</p>
        <p class="item-h">Safety improvement</p>
        <p class="info">
          Looking for energy-efficient lighting solutions? Our experts can help
          you choose the right LED lighting systems that meet your needs and
          budget.
        </p>
      </div>

      <div class="item">
        <p class="count">03.</p>
        <p class="item-h">Lighting upgrades</p>
        <p class="info">
          From outdoor landscape lighting to indoor ambient lighting, our team
          of professionals can create a customized lighting plan that enhances
          your space
        </p>
      </div>

      <div class="item">
        <p class="count">04.</p>
        <p class="item-h">Surge protection</p>
        <p class="info">
          Our experienced technicians can perform electrical safety inspections
          to identify potential hazards and ensure that your electrical systems
          are up to code.
        </p>
      </div>

      <div class="item">
        <p class="count">05.</p>
        <p class="item-h">Panel upgrades</p>
        <p class="info">
          Upgrade your electrical panel to improve energy efficiency, increase
          capacity, and protect your home or business from power surges and
          electrical fires.
        </p>
      </div>

      <div class="item">
        <p class="count">06.</p>
        <p class="item-h">Cable installation</p>
        <p class="info">
          Whether you need lighting repairs, electrical upgrades, or a new
          installation, we're here to provide quality services that meet your
          needs and exceed your expectations.
        </p>
      </div>
    </div>
  </div>
</section>
