/* STYLES FOR ABOVE THE FOLD */

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
#hero {
  padding-top: 0;
  margin-top: var(--p-lg);
  display: flex;
  min-height: 85vh;
  .container {
    text-align: center;
    display: flex;
    align-items: center;
    height: 100%;
  }
  .img-container {
    max-width: 60%;
  }
  .content {
    align-items: center;
    height: fit-content;
    gap: var(--p-lg);
  }
  .main-h {
    font-size: clamp(2.25rem, 8vw, 5rem);
    color: var(--headerColor);
    text-transform: uppercase;
  }
}

@media screen and (min-width: 450px) {
  #hero {
    .group {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (min-width: 600px) {
  #hero {
    height: 100vh;
    margin-top: 0;
    .container {
      margin: auto;
    }
    .img-container {
      max-width: 30%;
    }
  }
}
