/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

.about-us {
  .group {
    gap: var(--p-lg);
  }
  .item {
    flex-direction: row;
    text-align: left;
    justify-content: start;
  }
  i {
    font-size: clamp(1.4rem, 3vw, 2.25rem);
    color: var(--primary);
  }
  .item-h {
    margin: 0;
    font-size: clamp(1rem, 1.5vw, 1.4rem);
    font-weight: 600;
  }
}

@media screen and (min-width: 500px) {
  .about-us {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--p-lg);
    }
  }
}

@media screen and (min-width: 1100px) {
  .about-us {
    .group {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
    .item {
      flex-direction: column;
    }
  }
}

.expertise {
  .item {
    text-align: left;
    gap: 0;
    a {
      color: var(--tertiary);
      text-transform: uppercase;
      font-size: 0.95rem;
    }
    .img-container {
      border-radius: var(--b-radius);
    }
    img,
    picture {
      object-fit: cover;
      aspect-ratio: 1;
    }
    .item-h {
      font-weight: 500;
    }
  }
}

@media screen and (min-width: 600px) {
  .expertise {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: var(--p-lg);
    }
  }
}

@media screen and (min-width: 1000px) {
  .expertise {
    .group {
      grid-template-columns: repeat(4, 1fr);
      gap: var(--p-xl);
    }
  }
}

.cta {
  padding: 0;
  .container {
    border-radius: var(--b-radius);
    // @include box-shadow;
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    position: relative;
  }
  .bg-container {
    position: absolute;
    inset: 0;
    z-index: -1;
    img {
      object-fit: cover;
    }
  }
  .content {
    padding: var(--p-xl) var(--p-lg);
    align-items: center;
    justify-content: center;
  }
  .cs-button-solid {
    width: fit-content;
  }
  .primary {
    font-size: clamp(1.4rem, 2.7vw, 1.8rem);
  }
  .banner-h {
    font-size: clamp(1.8rem, 3.5vw, 2.4rem);
    font-weight: 600;
  }
}

// body.dark-mode{
//   .cta{
//     .container
//   }
// }

@media screen and (min-width: 1200px) {
  .cta {
    .content {
      display: grid;
      grid-template-areas:
        "primary button"
        "text button";
      text-align: left;
      justify-content: space-between;
    }
    button {
      grid-area: button;
    }
    .primary,
    .banner-h {
      margin-left: 0;
    }
  }
}

.reviews {
  .group {
    gap: var(--p-xl);
  }
  .item-h {
    margin: 0;
  }
  .item-sub {
    color: var(--bodyTextColorLight);
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
  }
  .item {
    align-items: center;
    gap: var(--p-md);
  }
  .img-container {
    border-radius: 50%;
    width: 40%;
  }
  img {
    object-fit: cover;
  }
}

@media screen and (min-width: 500px) {
  .reviews {
    .img-container {
      width: 20%;
    }
  }
}

@media screen and (min-width: 1100px) {
  .reviews {
    .group {
      padding-top: var(--p-md);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--p-lg);
      text-align: left;
      row-gap: var(--p-xl);
    }
    .img-container {
      width: 100%;
    }
    .item {
      // align-items: flex-start;
      display: grid;
      grid-template-columns: 100px 1fr;
      grid-template-areas:
        "img info"
        "text text";
    }
    p {
      grid-area: text;
    }
  }
}

.projects {
  .group {
    gap: var(--p-lg);
    text-align: left;
  }
  .item-h {
    margin: 0;
  }
  img {
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: var(--b-radius);
  }
  .item-sub {
    color: var(--bodyTextColorLight);
    font-size: 1rem;
  }
  a {
    display: flex;
    align-items: center;
    gap: var(--p-md);
    transition: 0.3s;
    grid-column: 1 / -1;
  }
}

@media screen and (min-width: 600px) {
  .projects {
    .group {
      padding-top: var(--p-md);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--p-lg);
    }
    a {
      justify-content: end;
    }
  }
}

@media screen and (min-width: 1000px) {
  .projects {
    .group {
      grid-template-columns: repeat(3, 1fr);gap: var(--p-xl);
    }
  }
}

.partners {
  .group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .img-container {
    cursor: pointer;
    transition: 0.3s;
  }
  .img-container:hover {
    opacity: 0.7;
  }
}

@media screen and (min-width: 900px) {
  .partners {
    .group {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (min-width: 1100px) {
  .partners {
    .group {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}

.news {
  img {
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: var(--b-radius);
  }
  .group {
    gap: var(--p-lg);
    text-align: left;
  }
  .item-h {
    margin: 0;
    transition: 0.3s;
    cursor: pointer;
  }
  img {
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: var(--b-radius);
  }
  .item-sub {
    color: var(--bodyTextColorLight);
    font-size: clamp(0.8rem, 1.8vw, 1rem);
    text-transform: uppercase;
  }
  .item-info {
    display: flex;
    flex-direction: column;
    gap: var(--p-s);
  }
  .item-h:hover {
    color: var(--primary);
  }
  a {
    display: flex;
    align-items: center;
    gap: var(--p-md);
  }
}

@media screen and (min-width: 800px) {
  .news {
    .item {
      flex-direction: row;
      align-items: center;
    }
    .img-container {
      width: 20%;
    }
    .item-info {
      flex: 1;
    }
    a {
      display: flex;
      justify-content: end;
      align-self: flex-end;
      grid-column: 1 / -1;
    }
  }
}

@media screen and (min-width: 1000px) {
  .news {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--p-xl);
    }
    .item {
      gap: var(--p-md);
    }
    .img-container {
      width: 30%;
    }
  }
}
