/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

.about-us {
  .item {
    flex-direction: row;
    text-align: left;
    justify-content: start;
  }
  i {
    font-size: clamp(1.4rem, 3vw, 2.25rem);
    color: var(--primary);
  }
}

@media screen and (min-width: 500px) {
  .about-us {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.expertise {
  .item {
    text-align: left;
    gap: 0;
    a {
      color: var(--tertiary);
      text-transform: uppercase;
      font-size: 0.95rem;
    }
    .img-container {
      border-radius: var(--b-radius);
    }
    img,
    picture {
      object-fit: cover;
      aspect-ratio: 1;
    }
    .item-h {
      font-weight: 500;
    }
  }
}

@media screen and (min-width: 600px) {
  .expertise {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: var(--p-lg);
    }
  }
}

@media screen and (min-width: 1000px) {
  .expertise {
    .group {
      grid-template-columns: repeat(4, 1fr);
      gap: var(--p-xl);
    }
  }
}

.cta {
  padding: 0;
  .container {
    border-radius: var(--b-radius);
    // @include box-shadow;
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
  }
  .content {
    padding: var(--p-xl) var(--p-lg);
    align-items: center;
    justify-content: center;
  }
  .cs-button-solid {
    width: fit-content;
  }
  .primary {
    font-size: clamp(1.4rem, 3vw, 2rem);
  }
  .banner-h {
    font-size: clamp(1.8rem, 3.5vw, 2.4rem);
    font-weight: 600;
  }
}
