#scroll-up {
  position: fixed;
  z-index: 100;
  bottom: 1em;
  right: 1em;
  padding: 5px;
  background: var(--main-gradient);
  border: none;
  transition: 1s;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: none;
  align-items: center;
  justify-content: center;
  transition: 0.3s;

  svg {
    fill: var(--bodyTextColorWhite);
    color: inherit;
  }
  svg path {
    stroke: #ffffff; /* Background color against your svg */
    stroke-width: 20px; /*Between 1px and 2px*/
  }
}

#scroll-up:hover {
  // background: var(--secondary-gradient);
  transform: scale(1.08);
}
