/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #test-hero {
    border: 1px solid pink;
    height: 100vh;

    .cs-picture {
      position: absolute;
      display: block;
      z-index: -2;
      top: 0;
      left: 0;
      width: 100%;
      object-fit: cover;
    }

    .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto 0 ;
      position: relative;
    //   border: 1px solid red;
    }

    .cs-flex-group {
      display: flex;
      justify-content: space-between;
    }
  }
}
