<section class="banner">
  <div class="container">
    <div class="group">
      <div class="content">
        <h2 class="heading">
          Do you have an issue that needs fixing? We can take care of it today!
        </h2>
        <p>
          Amet nulla facilisi morbi tempus iaculis. Sed id semper risus in
          hendrerit gravida. Massa tempor nec feugiat nisl pretium fusce id.
          Metus aliquam eleifend mi in nulla. Gravida arcu ac tortor dignissim
          convallis aenean et tortor. Eget gravida cum sociis natoque penatibus
          et magnis.
        </p>
        <a href="/">
          <i class="fa-solid fa-phone"></i>
          {{client.phoneFormatted}}
        </a>
        <a href="/" class="cs-button-solid">Contact Us</a>
      </div>
      <div class="img-container">
        <img
          src="https://fr-airtronix-template.netlify.app/assets/images/index/hero-img.webp"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
