<section class="expertise">
  <div class="container">
    <div class="group">
      <div class="content">
        <h3 class="sub-h">Our Expertise</h3>
        <h2 class="heading">
          Goals: happy customers, top-notch products & services
        </h2>
        <p>
          Commodo nulla facilisi nullam vehicula ipsum a. Et ultrices neque
          ornare aenean euismod elementum nisi quis eleifend. Integer malesuada
          nunc vel risus commodo. Convallis posuere morbi leo urna molestie at
          elementum eu.
        </p>
        <div class="content-group">
          <p class="bg-text">Quality</p>
          <div class="item">
            <i class="fa-solid fa-toilet"></i>
            <p class="item-h">Washing Machine</p>
          </div>

          <div class="item">
            <i class="fa-solid fa-toilet"></i>
            <p class="item-h">Washing Machine</p>
          </div>

          <div class="item">
            <i class="fa-solid fa-toilet"></i>
            <p class="item-h">Washing Machine</p>
          </div>

          <div class="item">
            <i class="fa-solid fa-toilet"></i>
            <p class="item-h">Washing Machine</p>
          </div>
        </div>
      </div>
      
      <div class="img-container">
        <div class="bg-img"></div>
        <img
          src="https://images.unsplash.com/photo-1530124566582-a618bc2615dc?auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGx1bWJlcnxlbnwwfHwwfHx8MA%3D%3D&w=500"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
