<section class="projects">
  <div class="container">
    <div class="group">
      <div class="content">
        <h3 class="sub-h">Our Works</h3>
        <h2 class="heading">Projects</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quod
          consequuntur minus velit quam omnis harum. Eaque velit iusto a maiores
          ex, soluta vitae quas enim, nesciunt nemo harum accusamus!
        </p>
      </div>

      <div class="img-container">
        <div class="info">
          <p class="item-h">Project Title</p>
        </div>
        <img
          src="https://images.unsplash.com/photo-1698788370196-c12567cf663f?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHx8"
          alt=""
        />
      </div>

      <div class="img-container">
        <div class="info">
          <p class="item-h">Project Title</p>
        </div>
        <img
          src="https://images.unsplash.com/photo-1698788370196-c12567cf663f?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHx8"
          alt=""
        />
      </div>

      <div class="img-container">
        <div class="info">
          <p class="item-h">Project Title</p>
        </div>
        <img
          src="https://images.unsplash.com/photo-1698788370196-c12567cf663f?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHx8"
          alt=""
        />
      </div>
      
      <div class="img-container">
        <div class="info">
          <p class="item-h">Project Title</p>
        </div>
        <img
          src="https://images.unsplash.com/photo-1698788370196-c12567cf663f?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHx8"
          alt=""
        />
      </div>

      <a href="/projects" class="cs-button-solid">More Projects</a>
    </div>
  </div>
</section>
