<section class="services">
  <div class="container">
    <h3 class="sub-h">Quality Services</h3>
    <h2 class="heading">We provide a variety of services</h2>
    <div class="group">
      <div class="item">
        <div class="img-container">
          <img
            src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTmxlpdZwcnW34i5KRhO4uzOO6Y-mhh7ORL5j9XuYAL0_JSQ1B-"
            alt=""
          />
          <span>
            01
          </span>
        </div>
        <p class="item-h">Sewer system repair and maintenance</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
          tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
        </p>
        <a href="/" class="cs-button-solid">
            Read More
        </a>
      </div>


      <div class="item">
        <div class="img-container">
          <img
            src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTmxlpdZwcnW34i5KRhO4uzOO6Y-mhh7ORL5j9XuYAL0_JSQ1B-"
            alt=""
          />
          <span>
            02
          </span>
        </div>
        <p class="item-h">Sewer system repair and maintenance</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
          tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
        </p>
        <a href="/" class="cs-button-solid">
            Read More
        </a>
      </div>


      <div class="item">
        <div class="img-container">
          <img
            src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTmxlpdZwcnW34i5KRhO4uzOO6Y-mhh7ORL5j9XuYAL0_JSQ1B-"
            alt=""
          />
          <span>
            03
          </span>
        </div>
        <p class="item-h">Sewer system repair and maintenance</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
          tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
        </p>
        <a href="/" class="cs-button-solid">
            Read More
        </a>
      </div>

    </div>
  </div>
</section>
