<section class="stats">
  <div class="container">
    <div class="group">
      <div class="item">
        <i class="fa-solid fa-person"></i>
        <p>Professional Team</p>
        <p class="item-h">80+</p>
      </div>

      <div class="item">
        <i class="fa-solid fa-person"></i>
        <p>Professional Team</p>
        <p class="item-h">80 +</p>
      </div>

      <div class="item">
        <i class="fa-solid fa-person"></i>
        <p>Professional Team</p>
        <p class="item-h">80 +</p>
      </div>

      <div class="item">
        <i class="fa-solid fa-person"></i>
        <p>Professional Team</p>
        <p class="item-h">25+</p>
      </div>
    </div>
  </div>
</section>
