<section class="our-team">
  <div class="container">
    <h2 class="section-heading">Our Team</h2>
    <div class="group">
      <div class="item">
        <div class="img-container">
          <img
            src="https://images.unsplash.com/photo-1646227655718-dd721b681d91?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29uc3RydWN0aW9uJTIwd29ya2VyJTIwcG9ydHJhaXR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
            alt=""
            loading="lazy"
          />
        </div>
        <div class="info">
          <h4 class="item-heading">Tom Sawyer</h4>
          <p>Architect</p>
          <div class="socials-group">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin-in"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="img-container">
          <img
            src="https://images.unsplash.com/photo-1598550880863-4e8aa3d0edb4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHByb2ZpbGUlMjBwaWN0dXJlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
            alt=""
            loading="lazy"
          />
        </div>
        <div class="info">
          <h4 class="item-heading">Tom Sawyer</h4>
          <p>Architect</p>
          <div class="socials-group">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin-in"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="img-container">
          <img
            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZSUyMHBpY3R1cmV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
            alt=""
            loading="lazy"
          />
        </div>
        <div class="info">
          <h4 class="item-heading">Tom Sawyer</h4>
          <p>Architect</p>
          <div class="socials-group">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin-in"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="img-container">
          <img
            src="https://images.unsplash.com/photo-1504199367641-aba8151af406?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDB8fGJsYWNrJTIwcGVvcGxlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"
            alt=""
            loading="lazy"
          />
        </div>
        <div class="info">
          <h4 class="item-heading">Tom Sawyer</h4>
          <p>Architect</p>
          <div class="socials-group">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin-in"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
