<section class="stats">
  <div class="container group">
    <div class="item">
      <p class="stat">34 <span class="background-stat">34</span></p>
      <div class="col">
        <p class="item-sub-heading">Projects</p>
        <p class="item-heading">Design</p>
      </div>
    </div>

    <div class="item">
      <p class="stat">34 <span class="background-stat">34</span></p>
      <div class="col">
        <p class="item-sub-heading">Projects</p>
        <p class="item-heading">Design</p>
      </div>
    </div>

    <div class="item">
      <p class="stat">34 <span class="background-stat">34</span></p>
      <div class="col">
        <p class="item-sub-heading">Projects</p>
        <p class="item-heading">Design</p>
      </div>
    </div>

    <div class="item">
      <p class="stat">34 <span class="background-stat">34</span></p>
      <div class="col">
        <p class="item-sub-heading">Projects</p>
        <p class="item-heading">Design</p>
      </div>
    </div>
  </div>
</section>
