<section class="stats">
  <div class="container group">
    <div class="item">
      <p class="stat">34 <span class="background-stat">34</span></p>
      <div class="col">
        <p class="item-sub-heading">Projects</p>
        <p class="item-heading">Design</p>
      </div>
    </div>

    <div class="item">
      <p class="stat">102 <span class="background-stat">102</span></p>
      <div class="col">
        <p class="item-sub-heading">Happy</p>
        <p class="item-heading">Clients</p>
      </div>
    </div>

    <div class="item">
      <p class="stat">12 <span class="background-stat">12</span></p>
      <div class="col">
        <p class="item-sub-heading">Wonderful</p>
        <p class="item-heading">Years</p>
      </div>
    </div>

    <div class="item">
      <p class="stat">56 <span class="background-stat">56</span></p>
      <div class="col">
        <p class="item-sub-heading">Completed</p>
        <p class="item-heading">Codes</p>
      </div>
    </div>
  </div>
</section>
