<section class="services">
  <div class="container">
    <div class="group">
      <div class="item">
        <i class="fa-solid fa-faucet-drip"></i>
        <h4 class="item-heading">Drain Cleaning Services</h4>
        <p>
          We understand that clogged drains are stressful and can occur at any
          time of the day. Accurate Plumbing Services is committed to providing
          cost-effective drain cleaning services. Our technicians can quickly
          identify the source of the problem and use machine-powered drain
          snakes to remove tough clogs in indoor and outdoor drains and pipes.
          We can also replace your entire drain system to permanently solve your
          drainage problem.
        </p>
      </div>

      <div class="item">
        <i class="fa-solid fa-faucet-drip"></i>
        <h4 class="item-heading">Water Heaters</h4>
        <p>
          Is fluctuating water temperature, foul-tasting water, or unusual
          noises in your water heater bothering you? If yes, it’s time you call
          Accurate Plumbing Services. Our skilled technicians will address your
          issue and perform the necessary repairs to improve your unit’s
          efficiency and provide consistent and high-quality hot water. We also
          offer customers quality water heater installation services and help
          them choose a suitable unit for their home or workplace.
        </p>
      </div>

      <div class="item">
        <i class="fa-solid fa-faucet-drip"></i>
        <h4 class="item-heading">Gas Line Services</h4>
        <p>
          Make your gas lines safe and eliminate chances of any leakage. Gas
          leaks can lead to hazardous consequences and irreparable damage to
          you, your home, or your workplace. Hence, hiring a professional and
          regularly checking your gas lines is the best solution. Accurate
          Plumbing Services is a licensed and insured company that uses
          high-quality parts and works diligently to install gas lines and
          reduce your utility bills. checking your gas lines is the best
          solution.
        </p>
      </div>

      <div class="item">
        <i class="fa-solid fa-faucet-drip"></i>
        <h4 class="item-heading">Home Repiping Services</h4>
        <p>
          Avoid leaks and water contamination and protect your household from
          the adverse effects of galvanized piping. Acidic water can cause
          corrosion and lead to the rusting of pipes. Therefore, installing a
          new plumbing system becomes a necessity. Accurate Plumbing Services
          uses PEX tubing in every plumbing project since they are durable, easy
          to install, and more affordable. Contact us today to get a free
          estimate for home repiping services.
        </p>
      </div>
    </div>
  </div>
</section>
